@import '../../../../theme/sass/smartTable';

.page-header {
    margin: 10px 0;
};
.bottom-margin{
    margin-bottom: 20px;
}
.right{
    text-align: right;
}

.cash-reconciliation-table {
    width: 100%
}
.right-text-alignment{
    text-align:right;
}

.overflow{
    overflow-y: scroll;
}
.button-container{
    .btn{
        margin-top:-10px;
    }
}
.head-button-container{
    position: absolute;
     right: 20px;
     top: 7px;
     
 }
 .add-margin-right{
     margin-right: 20px;
 }

 .bold-head{
    div span{
        font-weight: bold;
    }
}

.textRightPadd {
    text-align: right;
    padding-right: 10px;
}

.text-align-left {
    text-align: left;    
}
.text-align-center{
    text-align: center;
}