<div class="row">
    <div class=" col-md-12">
        <ba-card cardTitle="Trip Details {{userSubTitle}}" baCardClass="with-scroll" class="smart-table-container" #customer>
            <div class="head-button-container">
                <button class="btn btn-danger pull-right" *ngIf="tripData.TripStatusID==24 || user?.IsDistributor" [disabled]="!tripData.IsClosed"
                    (click)="submitTickets()">Approve</button>
                <button class="btn btn-danger pull-right add-margin-right" [routerLink]="['../../']">Back</button>
            </div>
            <div class="row">
                <div class=" col-md-12">
                    <div class="row page-header bold-head">
                        <div class="col-md-3">
                            <span>Branch:</span>
                            <label>{{tripData.BranchCode}} - {{tripData.BranchName}}</label>
                        </div>
                        <div class="col-md-2">
                            <span>Route:</span>
                            <label>{{tripData.IsUnplanned?'Unplanned':tripData.RouteNumber}}</label>
                        </div>
                        <div class="col-md-2">
                            <span>Driver:</span>
                            <label>{{tripData.DriverName}}</label>
                        </div>
                        <div class="col-md-2">
                            <span>HH Day End:</span>
                            <label>{{tripData.IsClosed?'Yes':'No'}}</label>
                        </div>
                        <div class="col-md-3">
                            <span>Trip Start Date:</span>
                            <label>{{tripData.TripStartDate|date}}</label>
                        </div>
                    </div>
                    <div class="row page-header bold-head">
                        <div class="col-md-3">
                            <span>Trip Code:</span>
                            <label>{{tripData.TripCode}}</label>
                        </div>
                        <div class="col-md-2">
                            <span>Truck:</span>
                            <label>{{tripData.TruckID}}</label>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <span>Status:</span>
                                <label>{{tripStatus(tripData.TripStatusID)}}</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <span>ERP Processed:</span>
                            <label>{{tripData.IsProcessed?'Yes':'No'}}</label>
                        </div>
                        <div class="col-md-3">
                            <span>Trip End Date:</span>
                            <label>{{tripData.TripEndDate|date}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row page-header">
                <div class="col-sm-6">
                    <h3>Ticket Details</h3>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-danger pull-right" [hidden]='tripData.TripStatusID == 24 || tripData.TripStatusID == 25' [routerLink]="['../../../manual-ticket/trip-ticket',tripId]"
                        [queryParams]="{branchId:tripData.BranchID, driverId:tripData.UserID, isDistributor:tripData.DistributorMasterID, sdate:tripData.TripStartDate, edate:tripData.TripEndDate}">Create Ticket</button>
                </div>
                <div class="col-sm-12 page-header">
                    <table class="table table-striped">
                        <thead class="tableHeader">
                            <tr>
                                <th></th>                                
                                <th class="text-align-left">
                                    <span style="cursor:pointer;" (click)="customer.sortField = 'ticket';customer.isAsc=!customer.isAsc;">
                                        Ticket #
                                         <i *ngIf="(customer.sortField === 'ticket')" [ngClass]="(customer.isAsc && customer.sortField === 'ticket' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                    </span>
                                </th>
                                <th>
                                    <span style="cursor:pointer;" (click)="customer.sortField = 'invoiceAmount';customer.isAsc=!customer.isAsc;">
                                        Ticket Type
                                         <i *ngIf="(customer.sortField === 'invoiceAmount')" [ngClass]="(customer.isAsc && customer.sortField === 'invoiceAmount' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                    </span>
                                </th>
                                <th>
                                    <span style="cursor:pointer;" (click)="customer.sortField = 'custNumber';customer.isAsc=!customer.isAsc;">
                                        Customer 
                                        <i *ngIf="(customer.sortField == 'custNumber')" [ngClass]="(customer.isAsc && customer.sortField == 'custNumber' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                    </span>
                                </th>
                                <th class="textRightPadd">
                                    <span style="cursor:pointer;" (click)="customer.sortField = 'invoiceAmount';customer.isAsc=!customer.isAsc;">
                                        Total Invoice
                                        <i *ngIf="(customer.sortField === 'invoiceAmount')" [ngClass]="(customer.isAsc && customer.sortField === 'invoiceAmount' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                    </span>
                                </th>
                                <th class="textRightPadd">
                                    <span style="cursor:pointer;" (click)="customer.sortField = 'cash';customer.isAsc=!customer.isAsc;">
                                        Received Amt
                                        <i *ngIf="(customer.sortField === 'cash')" [ngClass]="(customer.isAsc && customer.sortField === 'cash' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                    </span>
                                </th>
                                <th class="textRightPadd" *ngIf="!user.IsRIInternal">
                                    Drayage
                                </th>
                                <th class="textRightPadd" *ngIf="!user.IsRIInternal">
                                    Buyback
                                </th>
                                <th class="text-align-center">
                                    RI Internal
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let item of tripData?.TripTicketList|sort:customer.sortField:customer.isAsc">
                                <td>
                                    <i class="ion-iphone" style="margin: 0 5px" *ngIf="!item.IsPaperTicket"><span class="tooltiptext">HH Ticket</span></i>
                                    <i class="ion-ios-book" style="margin: 0 5px" *ngIf="item.IsPaperTicket"><span class="tooltiptext">Paper Ticket</span></i>
                                    <i class="ion-ios-information-outline custom-tooltip-ion" style="margin-right: 5px" (click)="viewTicket(item.ID)" >
                                        <span class="tooltiptext">View </span>
                                    </i>
                                </td>
                                <td class="text-align-left">{{item.TicketNumber }}</td>
                                <td>{{item.IsSaleTicket | ticketType: item.Customer}}</td>
                                <td><span [title]="item.CustomerID +'-'+ item.CustomerName">{{item.CustomerID }} - {{item.CustomerName | cutString:true:20 }}</span></td>
                                <td class="textRightPadd">{{ item.TotalSale | currency:'USD':true:'1.2' }}</td>
                                <td class="textRightPadd" *ngIf="item.CashAmount || item.CheckAmount">{{ item.CheckAmount + item.CashAmount | currency:'USD':true:'1.2' }}</td>
                                <td class="textRightPadd" *ngIf="!item.CashAmount && !item.CheckAmount">{{item.IsSaleTicket ? item.TotalSale:0 | currency:'USD':true:'1.2' }}</td>
                                <td class="textRightPadd" [hidden]="item.Drayage" *ngIf="!user.IsRIInternal"></td>
                                <td class="textRightPadd" [hidden]="!item.Drayage" *ngIf="!user.IsRIInternal">{{item.Drayage| currency:'USD':true:'1.2'}}</td>
                                <td class="textRightPadd" [hidden]="item.BuyBack" *ngIf="!user.IsRIInternal"></td>
                                <td class="textRightPadd" [hidden]="!item.BuyBack" *ngIf="!user.IsRIInternal">{{item.BuyBack| currency:'USD':true:'1.2'}}</td>
                                <td class="text-align-center">
                                    <input type="checkbox" disabled name="riInternal" [checked]="item.CustomerSourceID===101">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4"><b>Total</b></td>                                
                                <td class="textRightPadd"><b>{{total.totalInvoice | currency:'USD':true:'1.2'}}</b></td>
                                <td class="textRightPadd"><b>{{total.totalCash + total.totalCheck | currency:'USD':true:'1.2'}}</b></td>
                                <td class="textRightPadd" *ngIf="!user.IsRIInternal"><b>{{total.totalDrayage | currency:'USD':true:'1.2'}}</b></td>
                                <td class="textRightPadd" *ngIf="!user.IsRIInternal"><b>{{total.totalBuyBack | currency:'USD':true:'1.2'}}</b></td>
                                <!-- <td class="textRightPadd" *ngIf="!user.IsRIInternal"><b>{{total.totalDistAmt | currency:'USD':true:'1.2'}}</b></td> -->
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ba-card>
    </div>
</div>