<div class="row">
    <div class=" col-md-12">
        <ba-card cardTitle="Trip Details {{userSubTitle}}" baCardClass="with-scroll" class="smart-table-container" #customer>
            <div class="head-button-container">
                <button class="btn btn-danger pull-right" *ngIf="tripData.TripStatusID==24 && user.IsDistributor && user.Role.RoleID == 2" [disabled]="!tripData.IsClosed"
                    (click)="submitTickets(25)">Approve</button>
                <button class="btn btn-danger pull-right" *ngIf="tripData.TripStatusID==23 && user.IsDistributor && user.Role.RoleID == 3" [disabled]="!tripData.IsClosed"
                    (click)="submitTickets(24)">Submit</button>
                <button class="btn btn-danger pull-right add-margin-right" [routerLink]="['../../']">Back</button>
            </div>
            <div class="row">
                <div class=" col-md-12">
                    <div class="row page-header bold-head">
                        <div class="col-md-3">
                            <span>Branch:</span>
                            <label>{{tripData.BranchCode}} - {{tripData.BranchName}}</label>
                        </div>
                        <div class="col-md-2">
                            <span>Route:</span>
                            <label>{{tripData.IsUnplanned?'Unplanned':tripData.RouteNumber}}</label>
                        </div>
                        <div class="col-md-2">
                            <span>Driver:</span>
                            <label>{{tripData.DriverName}}</label>
                        </div>
                        <div class="col-md-2">
                            <span>HH Day End:</span>
                            <label>{{tripData.IsClosed?'Yes':'No'}}</label>
                        </div>
                        <div class="col-md-3">
                            <span>Trip Start Date:</span>
                            <label>{{tripData.TripStartDate|date}}</label>
                        </div>
                    </div>
                    <div class="row page-header bold-head">
                        <div class="col-md-3">
                            <span>Trip Code:</span>
                            <label>{{tripData.TripCode}}</label>
                        </div>
                        <div class="col-md-2">
                            <span>Truck:</span>
                            <label>{{tripData.TruckID}}</label>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <span>Status:</span>
                                <label>{{tripStatus(tripData.TripStatusID)}}</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <span>ERP Processed:</span>
                            <label>{{tripData.IsProcessed?'Yes':'No'}}</label>
                        </div>
                        <div class="col-md-3">
                            <span>Trip End Date:</span>
                            <label>{{tripData.TripEndDate|date}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row page-header">
                <div class="col-sm-6">
                    <h3>Ticket Details</h3>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-danger pull-right" *ngIf='tripData.TripStatusID == 23 || tripData.TripStatusID == 24' [routerLink]="['../../../manual-ticket/trip-ticket',tripId]"
                        [queryParams]="{branchId:tripData.BranchID, driverId:tripData.UserID, isDistributor:tripData.DistributorMasterID, sdate:tripData.TripStartDate, edate:tripData.TripEndDate}">Create Ticket</button>
                </div>
                <div class="col-sm-12 page-header">
                    <table class="table table-striped">
                        <thead class="tableHeader">
                            <tr>
                                <th></th>                                
                                <th class="text-align-left">
                                    <span style="cursor:pointer;" (click)="customer.sortField = 'TicketNumber';customer.isAsc=!customer.isAsc;">
                                        Ticket #
                                         <i *ngIf="(customer.sortField === 'TicketNumber')" [ngClass]="(customer.isAsc && customer.sortField === 'TicketNumber' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                    </span>
                                </th>
                                <th>
                                    <span style="cursor:pointer;" (click)="customer.sortField = 'ticketType';customer.isAsc=!customer.isAsc;">
                                        Ticket Type
                                         <i *ngIf="(customer.sortField === 'ticketType')" [ngClass]="(customer.isAsc && customer.sortField === 'ticketType' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                    </span>
                                </th>
                                <th>
                                    <span style="cursor:pointer;" (click)="customer.sortField = 'CustomerNumber';customer.isAsc=!customer.isAsc;">
                                        Customer 
                                        <i *ngIf="(customer.sortField == 'CustomerNumber')" [ngClass]="(customer.isAsc && customer.sortField == 'CustomerNumber' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                    </span>
                                </th>
                                <th class="textRightPadd">
                                    <span style="cursor:pointer;" (click)="customer.sortField = 'amount';customer.isAsc=!customer.isAsc;">
                                        Total Invoice
                                        <i *ngIf="(customer.sortField === 'amount')" [ngClass]="(customer.isAsc && customer.sortField === 'amount' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                    </span>
                                </th>
                                <th class="textRightPadd">
                                    <span style="cursor:pointer;" (click)="customer.sortField = 'checkCashAmount';customer.isAsc=!customer.isAsc;">
                                        Received Amt
                                        <i *ngIf="(customer.sortField === 'checkCashAmount')" [ngClass]="(customer.isAsc && customer.sortField === 'checkCashAmount' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                    </span>
                                </th>
                                <th class="textRightPadd" *ngIf="!user.IsRIInternal" [hidden]="(user.Role.RoleID===3 && !user.IsRIInternal)">
                                    Drayage
                                </th>
                                <th class="textRightPadd" *ngIf="!user.IsRIInternal" [hidden]="(user.Role.RoleID===3 && !user.IsRIInternal)">
                                    Buyback
                                </th>
                                <th class="text-align-center">
                                    RI Internal
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let item of tripData?.TripTicketList|sort:customer.sortField:customer.isAsc">
                                <td>
                                    <i class="ion-iphone custom-tooltip-ion" style="margin: 0 5px" *ngIf="!item.IsPaperTicket"><span class="tooltiptext">HH Ticket</span></i>
                                    <i class="ion-ios-book custom-tooltip-ion" style="margin: 0 5px" *ngIf="item.IsPaperTicket"><span class="tooltiptext">Paper Ticket</span></i>
                                    <i class="ion-edit custom-tooltip-ion custom-tooltip-ion" style="margin: 0 5px" *ngIf="item.IsPaperTicket" [routerLink]="['../../../manual-ticket/ticket-trip',item.ID]"><span class="tooltiptext">Edit</span></i>
                                    <i class="ion-ios-information-outline custom-tooltip-ion" style="margin-right: 5px" (click)="viewTicket(item.ID)" >
                                        <span class="tooltiptext">View </span>
                                    </i>
                                </td>
                                <td class="text-align-left">{{item.TicketNumber }}</td>
                                <td>{{item.ticketType}}</td>                                
                                <td><span [title]="item.CustomerNumber +'-'+ item.CustomerName">{{item.CustomerNumber }} - {{item.CustomerName | cutString:true:20 }}</span></td>                                
                                <td class="textRightPadd" [ngClass]="{'credit-amount':item.TicketTypeID === 27}"><span *ngIf="item.TicketTypeID === 27">(</span>{{ item.amount | currency:'USD':true:'1.2' }}<span *ngIf="item.TicketTypeID === 27">)</span></td>
                                <td class="textRightPadd" ><span *ngIf="item.CashAmount || item.CheckAmount" [hidden]="item.TicketTypeID == 30">{{ item.checkCashAmount | currency:'USD':true:'1.2' }}</span><span *ngIf="item.TicketTypeID == 30">$0.00</span></td>
                                <!--td class="textRightPadd" ></td-->                                
                                <!--td class="textRightPadd" *ngIf="!item.CashAmount && !item.CheckAmount"></td-->
                                <td class="textRightPadd" [hidden]="item.Drayage||(user.Role.RoleID===3 && !user.IsRIInternal)" *ngIf="!user.IsRIInternal"></td>
                                <td class="textRightPadd" [ngClass]="{'credit-amount':item.TicketTypeID === 27}" [hidden]="!item.Drayage||(user.Role.RoleID===3 && !user.IsRIInternal)" *ngIf="!user.IsRIInternal"><span *ngIf="item.TicketTypeID === 27">(</span>{{item.Drayage| currency:'USD':true:'1.2'}}<span *ngIf="item.TicketTypeID === 27">)</span></td>
                                <td class="textRightPadd" [hidden]="item.BuyBack||(user.Role.RoleID===3 && !user.IsRIInternal)" *ngIf="!user.IsRIInternal"></td>
                                <td class="textRightPadd" [ngClass]="{'credit-amount':item.TicketTypeID === 27}" [hidden]="!item.BuyBack||(user.Role.RoleID===3 && !user.IsRIInternal)" *ngIf="!user.IsRIInternal"><span *ngIf="item.TicketTypeID === 27">(</span>{{item.BuyBack| currency:'USD':true:'1.2'}}<span *ngIf="item.TicketTypeID === 27">)</span></td>
                                <td class="text-align-center">
                                    <input type="checkbox" disabled name="riInternal" [checked]="item.CustomerSourceID===101">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4"><b>Total</b></td>                                
                                <td class="textRightPadd"><b>{{total.totalInvoice | currency:'USD':true:'1.2'}}</b></td>
                                <td class="textRightPadd"><b>{{total.totalCash + total.totalCheck | currency:'USD':true:'1.2'}}</b></td>
                                <td class="textRightPadd" *ngIf="!user.IsRIInternal" [hidden]="(user.Role.RoleID===3 && !user.IsRIInternal)"><b>{{total.totalDrayage | currency:'USD':true:'1.2'}}</b></td>
                                <td class="textRightPadd" *ngIf="!user.IsRIInternal" [hidden]="(user.Role.RoleID===3 && !user.IsRIInternal)"><b>{{total.totalBuyBack | currency:'USD':true:'1.2'}}</b></td>
                                <!-- <td class="textRightPadd" *ngIf="!user.IsRIInternal"><b>{{total.totalDistAmt | currency:'USD':true:'1.2'}}</b></td> -->
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ba-card>
    </div>
</div>