@import '../../../../theme/sass/smartTable';

.page-header {
    margin: 15px 0;
};
.bottom-margin{
    margin-bottom: 20px;
}
.right{
    text-align: right;
}

.cash-reconciliation-table {
    width: 100%
}
.right-text-alignment{
    text-align:right;
}

.overflow{
    overflow-y: scroll;
}
.button-container{
    .btn{
        margin-top:-10px;
    }
}