<div class="row">
  <div class="col-lg-6 col-md-12">
    <ba-card cardTitle="Ticket List" baCardClass="medium-card" class="smart-table-container" showAddIcon="true" (onClickAddIcon)="showNewCustomer($event)">
      <ticket-table></ticket-table>
    </ba-card>
  </div>
  <div *ngIf="isNewCustomer" class="col-lg-6 col-md-12">
    <ba-card cardTitle="Create New Ticket" baCardClass="medium-card" class="smart-table-container">
      <create-new-ticket></create-new-ticket>
    </ba-card>
  </div>
</div>
