.mat-dialog-actions{
    display:block;
}
.mat-dialog-actions{
    padding: 0px;
}
.titleHeading{
    font-weight: bold;
}
div.container > div{
    display: flex;
    flex: 1 1 3em;
    flex-direction: row;
  }