<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span class="titleHeading">Contact us</span>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content style="padding-top: 10px;" [style.overflow]="'auto'" [style.height.px]="'300'">
  <div class="container"  fxLayout="column" fxLayout.lg="row" fxLayout.xl="row" fxLayoutGap.lg="10px" fxLayoutGap.xl="10px"
    fxLayoutGap="0" fxLayoutAlign="center">

    <div style="padding-top:.5em;" fxFlex="50%">
      <address>
        Written by
        <a href="mailto:webmaster@example.com">Jon Doe</a>.
        <br> Visit us at:
        <br> Example.com
        <br> Box 564, Disneyland
        <br> USA
      </address>
      <mat-divider></mat-divider>
    </div>
    <div style="padding-top:.5em;" fxFlex="50%">
      <address>
        Written by
        <a href="mailto:webmaster@example.com">Jon Doe</a>.
        <br> Visit us at:
        <br> Example.com
        <br> Box 564, Disneyland
        <br> USA
      </address>
      <mat-divider></mat-divider>
    </div>
   
  </div>
  <div class="container"  fxLayout="column" fxLayout.lg="row" fxLayout.xl="row" fxLayoutGap.lg="10px" fxLayoutGap.xl="10px"
  fxLayoutGap="0" fxLayoutAlign="center">

  
  <div style="padding-top:.5em;" fxFlex="50%">
    <address>
      Written by
      <a href="mailto:webmaster@example.com">Jon Doe</a>.
      <br> Visit us at:
      <br> Example.com
      <br> Box 564, Disneyland
      <br> USA
    </address>
    <mat-divider></mat-divider>
  </div>
  <div style="padding-top:.5em;" fxFlex="50%">
    <address>
      Written by
      <a href="mailto:webmaster@example.com">Jon Doe</a>.
      <br> Visit us at:
      <br> Example.com
      <br> Box 564, Disneyland
      <br> USA
    </address>
    <mat-divider></mat-divider>
  </div>
</div>
  
  </mat-card-content>
  <mat-divider></mat-divider>
    <mat-card-actions style="text-align:center;"  [style.padding-bottom.px]="'5'">
      <button mat-raised-button color="primary" (click)=  "onCancelClick()">Cancel</button>
    </mat-card-actions>
</mat-card>