<form #customerForm="ngForm" class="user-form" *ngIf="actionName != 'view'">
  <button type="submit" class="btn btn-primary userMgmtSaveBtn" [disabled]="!customerForm.form.valid ||isEmailExist||!isFormValid||!formIsDirty"
    (click)="onSubmit()">Save</button>

  <div class="row rowContainer margin-eater" [hidden]="!isNewUser">
    <div *ngIf="!isDistributorAdmin" class="col-md-5 padding-eater" style="margin-top: 7px;">
      <ba-checkbox [(ngModel)]="user.IsRIInternal" (ngModelChange)="changeHandler();riChangeHandler(user.IsRIInternal)" [label]="'RI Internal User'"
        [ngModelOptions]="{standalone: true}"></ba-checkbox>
    </div>
    <div class="col-md-2">
      <!--How can we allow user to submit a form without validations?  -->
    </div>
    <div *ngIf="user.IsRIInternal" class="col-md-5 padding-eater">
      <input name="riUser" autocomplete="off" type="text" class="form-control" placeholder="Search" [(ngModel)]="riUserName" (ngModelChange)="searchUserHandler(riUserName)">
      <div class="search-container" [hidden]="!searching">
        <div [hidden]="!searching" class="search-item">Searching...</div>
      </div>
      <div class="search-container" [hidden]="!showList">
        <div [hidden]="!showList" class="search-item" *ngFor="let u of riUserList" (click)="userSelected(u)">{{u}}</div>
      </div>
    </div>

  </div>
  <div class="row page-header rowContainer first-form-row">
    <div class="col-md-6  page-header">
      <label for="fname" class="control-label">
        First Name
        <sup style="color:red;">*</sup>
      </label>
      <input alphaNumeric [acceptSpace]="true" [disabled]="user.IsRIInternal" type="text" class="form-control" id="fname" placeholder="First Name"
        minlength="2" [(ngModel)]="user.FirstName" name="FirstName" #FirstName="ngModel" required (ngModelChange)="changeHandler()"
        (blur)="spaceRemoverFn(user.FirstName)" maxlength="45">
      <div *ngIf="FirstName.invalid && (FirstName.dirty || FirstName.touched)" class="error-message">
        <i class="ion-android-alert showError"></i>
        <div *ngIf="FirstName.errors.required" class="custom-tooltip bottom">First Name is required</div>
        <div *ngIf="FirstName.errors.minlength" class="custom-tooltip bottom">Minimum 2 characters</div>
      </div>
    </div>

    <div class="col-md-6  page-header">
      <label for="lname" class="control-label">
        Last Name
        <sup style="color:red;">*</sup>
      </label>
      <input alphaNumeric [acceptSpace]="true" [disabled]="user.IsRIInternal" type="text" class="form-control" id="lname" placeholder="Last Name"
        [(ngModel)]="user.LastName" name="LastName" #LastName="ngModel" required minlength="2" maxlength="45" (ngModelChange)="changeHandler();"
        (blur)="spaceRemover(user.LastName)">
      <div *ngIf="LastName.invalid && (LastName.dirty || LastName.touched)" class="error-message">
        <i class="ion-android-alert showError"></i>
        <div *ngIf="LastName.errors.required" class="custom-tooltip bottom">
          Last Name is required.
        </div>
        <div *ngIf="LastName.errors.minlength" class="custom-tooltip bottom">
          Minimum 2 characters.
        </div>
      </div>
    </div>


    <div *ngIf="!isNewUser" class="col-md-6 page-header">
      <label for="username" class="control-label">Username</label>
      <sup style="color:red;">*</sup>
      <input type="text" class="form-control" id="username" placeholder="Username" [(ngModel)]="user.UserName" name="UserName"
        #UserName="ngModel" required minlength="4" [readOnly]="user.IsRIInternal" (ngModelChange)="changeHandler()" [disabled]="true"
        [disabled]="!isNewUser">
      <div *ngIf="UserName.invalid && (UserName.dirty || UserName.touched)" class="error-message">
        <i class="ion-android-alert showError"></i>
        <div *ngIf="UserName.errors.required" class="custom-tooltip bottom">
          Username is required.
        </div>
        <div *ngIf="UserName.errors.minlength" class="custom-tooltip bottom">
          Minimum 2 characters.
        </div>
      </div>
    </div>

    <div [ngClass]="{'col-md-12':isNewUser}" class="col-md-6 page-header">
      <label for="inputEmail3" class="control-label">
        Email
        <sup style="color:red;">*</sup>
      </label>
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email" [(ngModel)]="user.EmailID" name="EmailID" #EmailID="ngModel"
        required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" maxlength="30" [disabled]="user.IsRIInternal || !isNewUser"
        (blur)="checkEmail(user.EmailID)" (ngModelChange)="changeHandler()" maxlength="50">
      <div *ngIf="EmailID.invalid && (EmailID.dirty || EmailID.touched)" class="error-message">
        <i class="ion-android-alert showError"></i>
        <div *ngIf="EmailID.errors.required" class="custom-tooltip bottom">
          Email is required.
        </div>
        <div *ngIf="EmailID.errors && EmailID.errors.pattern" class="custom-tooltip bottom">
          Email is invalid.
        </div>
        <div *ngIf="isEmailExist" class="custom-tooltip bottom">
          Email already exist.
        </div>
      </div>
      <div *ngIf="!EmailID.invalid && isEmailExist">
        <i class="ion-android-alert showError"></i>
        <div *ngIf="isEmailExist" class="custom-tooltip bottom">
          Email already exists.
        </div>
      </div>
    </div>


    <div class="col-md-6 page-header">
      <label for="inputEmail3" class="control-label">
        Phone
      </label>
      <input type="text" numberOnly class="form-control" id="phone" placeholder="xxx-xxx-xxxx" [(ngModel)]="user.Phone" name="Phone"
        #Phone="ngModel" maxlength="10" pattern="^\d{3}[- ]?\d{3}[- ]?\d{4}$" [disabled]="user.IsRIInternal"
        (ngModelChange)="changeHandler()">
      <div *ngIf="Phone.invalid && (Phone.dirty || Phone.touched)" class="error-message">
        <i class="ion-android-alert showError"></i>
        <div *ngIf="Phone.errors && Phone.errors.pattern" class="custom-tooltip bottom">
          Invalid phone number.
        </div>
      </div>
    </div>

    <div class="col-md-6 page-header">
      <label for="exampleSelect1">
        Role
        <sup style="color:red;">*</sup>
      </label>
      
      <reddy-select [position]="'bottom'" [options]="roleListArr" [(selected)]="user.RoleID" (selectedChange)="changeHandler();roleChange(user.RoleID);"></reddy-select>

      <!-- <select class="form-control" id="role" [(ngModel)]="user.RoleID" name="role" #role="ngModel" (ngModelChange)="changeHandler();roleChange(user.RoleID);">
        <option *ngFor="let role of roleList" [value]="role.RoleID">{{role.RoleName}}</option>
      </select> -->
    </div>
    <div *ngIf="!user.IsRIInternal" [hidden]="userObject.IsDistributor" class="col-md-6 page-header">
      <label for="distributor">
        Distributor
        <sup style="color:red;">*</sup>
      </label>

      <reddy-select [disabled]="!isNewUser" [position]="'top'" [options]="distributorsAndCopackers" [(selected)]="user.DistributorMasterID"
        (selectedChange)="changeHandler();clearBranch();"></reddy-select>
    </div>

    <div *ngIf="showIseries" class="col-md-6 page-header">
      <label for="iseriesroute" class="control-label">ISeries Route
        <sup style="color:red;">*</sup>
      </label>
      <input type="text" [numberOnly] class="form-control" id="iseriesroute" placeholder="ISeries Route" [(ngModel)]="user.ISeriesRouteNumber"
        name="ISeriesRouteNumber" #ISeriesRouteNumber="ngModel" maxlength="6" (ngModelChange)="changeHandler()">
    </div>


    <div class="col-md-12 page-header rowContainer first-form-row">
    <div class="col-md-6 page-header" style="float:left;padding-left: 0px;">
      <!-- Please provide the reason before commenting out, why we don't want to use ba-checkbox?-->
      <ba-checkbox [(ngModel)]="user.IsActive" [label]="'Is Active?'" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeHandler()"
        [disabled]="isNewUser"></ba-checkbox>
    </div>
    <div *ngIf="!user.IsRIInternal && !isDistributorAdmin" class="col-md-6 page-header pad-0"  style="float:left">
      <!-- Please provide the reason before commenting out, why we don't want to use ba-checkbox?-->
      <ba-checkbox [ngModel]="user.IsSeasonal" (ngModelChange)="changeHandler()" [label]="'Is Seasonal?'" [ngModelOptions]="{standalone: true}"
        [disabled]="true"></ba-checkbox>
    </div>
    <div *ngIf="user.IsRIInternal && !isDistributorAdmin && user.RoleID == 3" class="col-md-6 page-header pad-0" style="float:left">
      <ba-checkbox [(ngModel)]="user.IsChecker" (ngModelChange)="changeHandler()" [label]="'Is Checker?'" [ngModelOptions]="{standalone: true}"></ba-checkbox>
    </div>
    </div>
    <div class="col-md-12 page-header" *ngIf="user.IsRIInternal || (user.IsSeasonal && (user.RoleID==='3' || user.RoleID==='2'))||(user.IsSeasonal && actionName=='edit')"
      [hidden]="userObject.IsDistributor">
      <label for="exampleSelect1">
        Business Unit
        <sup style="color:red;">*</sup>
      </label>
      <br/>
      <reddy-select [disabled]="user.RoleID == '1' || user.RoleID == '2' || user.RoleID == '4' || user.RoleID == '8' || user.RoleID == '10'"
        [multiple]="true" [position]="'top'" [options]="cBranches" [(selected)]="userBranch" (selectedChange)="changeHandler(); loadBranches();pushBranches();"></reddy-select>
      <br/>
      <div style="width:100%;margin-top: 10px;">
        <span *ngIf="selectedBranch?.length && (user.RoleID == '6' || user.RoleID == '3')" style="width:90px; margin-bottom: 5px; float:right;">ISeries Route</span>
        <ul style="padding-left: 15px;width:100%;max-height:250px;overflow:auto;">
          <li *ngFor="let brannch of selectedBranch" style="margin:8px 0">
            <span [title]="brannch.BranchCode - brannch.BUName">{{brannch.BranchCode}} - {{brannch.BUName | cutString:true:60}}</span>
            <span style="float:right">
              <input *ngIf="user.RoleID == '6' || user.RoleID == '3'" type="text" [ngModelOptions]="{standalone: true}" numberOnly [(ngModel)]="brannch.IseriesRouteNumber"
                style="width:50px" (ngModelChange)="enableSave()">
              <i *ngIf="!(user.RoleID == '1' || user.RoleID == '2' || user.RoleID == '4' || user.RoleID == '8' || user.RoleID == '10')"
                class="ion-trash-a custom-tooltip-ion" (click)="removeBranch(brannch)">
                <span class="tooltiptext">Remove</span>
              </i>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</form>


<form *ngIf="actionName === 'view'">
  <div class="row page-header rowContainer first-form-row">
    <div class="col-md-5 padding-eater first-column">
      <label for="fname" class="control-label">First Name</label>
      <input disabled type="text" class="form-control" id="fname" placeholder="First Name" minlength="2" [(ngModel)]="user.FirstName"
        name="FirstName" #FirstName="ngModel">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 padding-eater second-column">
      <label for="lname" class="control-label">Last Name</label>
      <input disabled type="text" class="form-control" id="lname" placeholder="Last Name" [(ngModel)]="user.LastName" name="LastName"
        #LastName="ngModel" required minlength="2">
    </div>
  </div>
  <div class="row page-header rowContainer">
    <div *ngIf="!isNewUser" class="col-md-5 padding-eater first-column">
      <label for="username" class="control-label">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Username" [(ngModel)]="user.UserName" name="UserName"
        #UserName="ngModel" disabled>
    </div>
    <div *ngIf="!isNewUser" class="col-md-2"></div>
    <div [ngClass]="{'col-md-12':isNewUser}" class="col-md-5 padding-eater second-column">
      <label for="inputEmail3" class="control-label">Email</label>
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email" [(ngModel)]="user.EmailID" name="EmailID" #EmailID="ngModel"
        required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" disabled>
    </div>
  </div>
  <div class="row page-header rowContainer">
    <div class="col-md-5 padding-eater first-column">
      <label for="inputEmail3" class="control-label">Phone</label>
      <input type="number" class="form-control" id="phone" placeholder="xxx-xxx-xxxx" [(ngModel)]="user.Phone" name="Phone" #Phone="ngModel"
        pattern="^\d{3}[- ]?\d{3}[- ]?\d{4}$" >
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 padding-eater">
      <label for="exampleSelect1">Role</label>
      <select class="form-control" id="role" [(ngModel)]="user.RoleID" name="role" #role="ngModel" disabled>
        <option *ngFor="let role of roleList" [value]="role.RoleID">{{role.RoleName}}</option>
      </select>
    </div>
  </div>
  <div class="row page-header rowContainer">

    <div class="col-md-5 padding-eater first-column" *ngIf="user.ISeriesRouteNumber && !user.IsRIInternal">
      <label for="inputiseriesroute" class="control-label">ISeries Route</label>
      <input type="number" class="form-control" id="iseriseroute" placeholder="ISerise Route" [(ngModel)]="user.ISeriesRouteNumber"
        name="ISeriesRouteNumber" #ISeriesRouteNumber="ngModel" disabled>
    </div>


  </div>

  <div *ngIf="!user.IsRIInternal && !isDistributorAdmin" class="row page-header rowContainer last-form-row" [hidden]="userObject.IsDistributor">
    <div class="col-md-5 padding-eater">
      <label for="distributor">Distributor</label>
      <reddy-select [position]="'top'" [disabled]="true" [options]="distributorsAndCopackers" [(selected)]="user.DistributorMasterID"></reddy-select>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 padding-eater">
      <br/>
      <br/>
      <!-- Please provide the reason before commenting out, why we don't want to use ba-checkbox?-->
      <ba-checkbox [ngModel]="user.IsSeasonal" [label]="'Is Seasonal?'" [ngModelOptions]="{standalone: true}" disabled="true"></ba-checkbox>
    </div>
  </div>
  <div class="checkbox active-user page-header rowContainer">
    <div class="row">
      <div class="col-md-2" *ngIf="user.IsRIInternal" [hidden]="!userObject.IsDistributor"></div>
      <div class="col-md-5 (user.IsRIInternal || isDistributorAdmin)?padding-eater:''">
        <!-- Please provide the reason before commenting out, why we don't want to use ba-checkbox?-->
        <ba-checkbox [(ngModel)]="user.IsActive" [label]="'Is Active?'" [ngModelOptions]="{standalone: true}" disabled="true"></ba-checkbox>

      </div>
    </div>
  </div>
  <div class="row page-header rowContainer">
    <div class="col-md-12 padding-eater first-column" *ngIf="user.IsRIInternal || user.IsSeasonal">

      <label for="exampleSelect1">Business Unit</label>
      <label for="iseriesroute" class="control-label" style="float:right" *ngIf="user.Branch?.length>0 && (user.RoleID == '6' || user.RoleID == '3')">ISeries Route</label>
      <div class="col-md-12" style="max-height:80px;overflow:auto;">
        <ul class="ulpadding">
          <li *ngFor="let b of user.Branch">
            <span style="padding-right:10px;">{{b.BranchCode}} - {{b.BUName}}</span>
            <span style="float:right;" *ngIf="user.RoleID == '6' || user.RoleID == '3'">{{b.IseriesRouteNumber}}</span>
          </li>
        </ul>
      </div>

    </div>
  </div>
</form>
<div style="padding: 5px;" [hidden]="!isDistributorAdmin">
  By utilizing the Reddy Ice “Handheld” device, you expressly agree and acknowledge that you are solely responsible for you
  or your employees use of any Reddy Ice “Handheld” device and all activity that occurs while you or your employees are using
  the Reddy Ice “Handheld” device. I certify that I have read and agree to the
  <a href="assets/static/terms.html" target="_blank" title="Handheld Terms and Conditions">
    <u>Handheld Terms and Conditions</u>
  </a>
</div>