<form (ngSubmit)="onSubmit()" #customerForm="ngForm">
  <div class="row">
    <div class="col-md-4">
      <h4 class="paddingTopCreateUser">Add User Details</h4>
    </div>
    <div class="col-md-3">
      <label class="custom-checkbox nowrap">
        <input type="checkbox">
        <span class="paddingTopCreateUser">RI Internal User</span>
      </label>
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Search">
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary userMgmtSaveBtn">Save</button>
    </div>
  </div>
  <div class="row page-header">
    <div class="col-md-5 padding-eater">
      <label for="fname" class="control-label">First Name</label>
      <input type="text" class="form-control" id="fname" placeholder="First Name" minlength="2" [(ngModel)]="user.fname" name="fname"
        #fname="ngModel" required>
      <div *ngIf="fname.invalid && (fname.dirty || fname.touched)" class="alert alert-danger">
        <div *ngIf="fname.errors.required">
          First Name is required.
        </div>
        <div *ngIf="fname.errors.minlength">
          First Name must be at least 2 characters long.
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 padding-eater">
      <label for="lname" class="control-label">Last Name</label>
      <input type="text" class="form-control" id="lname" placeholder="Last Name" [(ngModel)]="user.lname" name="lname" #lname="ngModel"
        required minlength="2">
      <div *ngIf="lname.invalid && (lname.dirty || lname.touched)" class="alert alert-danger">
        <div *ngIf="lname.errors.required">
          Last Name is required.
        </div>
        <div *ngIf="lname.errors.minlength">
          Last Name must be at least 2 characters long.
        </div>
      </div>
    </div>
  </div>
  <div class="row page-header">
    <div class="col-md-5 padding-eater">
      <label for="username" class="control-label">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Username" [(ngModel)]="user.username" name="username"
        #username="ngModel" required minlength="4">
      <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
        <div *ngIf="username.errors.required">
          Username is required.
        </div>
        <div *ngIf="username.errors.minlength">
          Username must be at least 4 characters long.
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 padding-eater">
      <label for="inputEmail3" class="control-label">Email</label>
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email" [(ngModel)]="user.email" name="email" #email="ngModel"
        required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
        <div *ngIf="email.errors.required">
          Email is required.
        </div>
        <div *ngIf="email.errors && email.errors.pattern">
          Email is invalid
        </div>
      </div>
    </div>
  </div>
  <div class="row page-header">
    <div class="col-md-5 padding-eater">
      <label for="inputEmail3" class="control-label">Phone</label>
      <input type="text" class="form-control" id="phone" placeholder="xxx-xxx-xxxx" [(ngModel)]="user.phone" name="phone" #phone="ngModel"
        required pattern="^\d{3}[- ]?\d{3}[- ]?\d{4}$">
      <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
        <div *ngIf="phone.errors.required">
          Phone number is required.
        </div>
        <div *ngIf="phone.errors && phone.errors.pattern">
          Phone number is invalid
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 padding-eater">
      <label for="exampleSelect1">Role</label>
      <select class="form-control" id="role" [(ngModel)]="user.role" name="role" #role="ngModel">
        <option *ngFor="let role of roles" [value]="role">{{role}}</option>
      </select>
    </div>
  </div>
  <div class="checkbox active-user">
    <div class="row">
      <div class="col-md-6">
        <label for="exampleSelect1">Branch</label>
        <select class="form-control" id="exampleSelect1">
            <option>301</option>
            <option>302</option>
        </select>
      </div>
      <div class="col-md-6">
        <br/><br/>
        <!-- <ba-checkbox [(ngModel)]="isChecked" [label]="'Is Active?'" [ngModelOptions]="{standalone: true}"></ba-checkbox> -->
        <label class="custom-checkbox nowrap">
          <input type="checkbox">
          <span class="paddingTopCreateUser">isActive?</span>
        </label>
      </div>
    </div>
  </div>
</form>