@import '../../../../theme/sass/smartTable';

.page-header {
    margin: 20px 0;
};
.bottom-margin{
    margin-bottom: 20px;
}
.right{
    text-align: right;
}


.table{
margin-top:10px;
}
.cash-reconciliation-table {
    width: 100%
}
.refresh{
margin-top: 7px;
margin-bottom:5px;
}

.refreshsift{
margin-top: 24px;
margin-bottom:5px;
}


.table-text-align{
    padding-left: 8px;
}
.text-right{
    text-align: right;
}
.textAlignCenter {
    text-align: center;
}
.spinnerContainer{
    text-align: center;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    margin: auto;
}
.overflow-x{
    overflow-x: auto;
}
.padBtm-10{
    padding-bottom:10px;
}
.head-button-container {
    position: absolute;
    right: 15px;
    top: -52px;
  }