<div class="row">
    <div class="col-md-12">
        <ba-card cardTitle="Trip List {{userSubTitle}}" baCardClass="with-scroll" class="dayend-card smart-table-container" #customer>
            <div class="row">
                <div class="col-sm-3">
                    <label><b> Select Date </b></label>
                    <div class="input-group">
                        <input class="form-control" [firstDayOfWeek]="7" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]='filter.selectedDate' (ngModelChange)="selectionchangeHandler()"
                        [maxDate]="todaysDate"  ngbDatepicker #d="ngbDatepicker" disabled>
                        <button class="input-group-addon" (click)="d.toggle();$event.stopPropagation()" (document:click)="d.close()" type="button">
                            <i class="ion-calendar"></i>
                        </button>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label><b>Select Driver Type</b></label>
                    <select class="form-control" [(ngModel)]="filter.type" [disabled]="logedInUser.IsDistributor">
                        <option value="internal">RI Internal</option>
                        <option value="distributor">Distributor</option>
                    </select>
                </div>
                <div class="col-sm-4" *ngIf="filter.type === 'internal'">
                    <label><b>Select Branch</b></label>
                    <reddy-select [options]="branches" [(selected)]="filter.userBranch"></reddy-select>
                </div>
                <div class="col-sm-4" *ngIf="filter.type === 'distributor'">
                    <label><b>Select Distributor</b></label>
                    <reddy-select [disabled]="logedInUser.IsDistributor" [options]="distributors" [(selected)]="filter.userBranch"></reddy-select>
                </div>
            </div>
            <div>
                <table class="table table-striped">
                    <thead class="tableHeader">
                        <tr>
                            <th>Actions</th>
                            <th *ngIf="logedInUser.IsRIInternal">
                                <span style="cursor:pointer;" (click)="customer.sortField = 'RouteNumber';customer.isAsc=!customer.isAsc;">
                                    Route #
                                     <i *ngIf="(customer.sortField == 'RouteNumber')" [ngClass]="(customer.isAsc && customer.sortField == 'RouteNumber' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                            </th>
                            <th *ngIf="logedInUser.IsRIInternal">
                                <span style="cursor:pointer;" (click)="customer.sortField = 'branch';customer.isAsc=!customer.isAsc;">
                                    Branch
                                     <i *ngIf="(customer.sortField === 'branch')" [ngClass]="(customer.isAsc && customer.sortField === 'branch' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                            </th>
                            <th>
                                <span style="cursor:pointer;" (click)="customer.sortField = 'driver';customer.isAsc=!customer.isAsc;">
                                    Driver
                                     <i *ngIf="(customer.sortField === 'driver')" [ngClass]="(customer.isAsc && customer.sortField === 'driver' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                            </th>
                            <th class="textAlignCenter">
                                <span style="cursor:pointer;" (click)="customer.sortField = 'trip';customer.isAsc=!customer.isAsc;">
                                    Trip Code
                                     <i *ngIf="(customer.sortField === 'trip')" [ngClass]="(customer.isAsc && customer.sortField === 'trip' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                            </th>
                            <th class="text-right">
                                <span style="cursor:pointer;" (click)="customer.sortField = 'trip';customer.isAsc=!customer.isAsc;">
                                    Total Sale
                                     <i *ngIf="(customer.sortField === 'trip')" [ngClass]="(customer.isAsc && customer.sortField === 'trip' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                            </th>
                            <th class="text-right">
                                <span style="cursor:pointer;" (click)="customer.sortField = 'trip';customer.isAsc=!customer.isAsc;">
                                    Received Amt
                                     <i *ngIf="(customer.sortField === 'trip')" [ngClass]="(customer.isAsc && customer.sortField === 'trip' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                            </th>
                            <th class="textAlignCenter">
                                HH Day End
                            </th>
                            <th class="textAlignCenter">
                                # of Tickets
                            </th>
                            <th class="textAlignCenter">
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>                        
                        <tr *ngFor="let item of trips|sort:customer.sortField:customer.isAsc|dayEnd:filter.type:filter.userBranch">
                            <td class="table-id" style="cursor: pointer">                                
                                <i *ngIf="!logedInUser.IsRIInternal || item.isDistributor === 1" class="ion-eye custom-tooltip-ion"
                                    [routerLink]="['../ticket-detail', item.TripID]" style="margin-right: 5px">
                                    <span class="tooltiptext">View</span>
                                </i>
                                <i *ngIf="logedInUser.IsRIInternal && item.isDistributor === 0" class="ion-edit custom-tooltip-ion"
                                    [routerLink]="['../detail',item.TripID]" style="margin-right: 5px">
                                    <span class="tooltiptext">Edit</span>
                                </i>
                            </td>

                            <td *ngIf="logedInUser.IsRIInternal">{{!item.IsUnplanned?item.RouteNumber :'Unplanned'}}</td>
                            <td *ngIf="logedInUser.IsRIInternal">{{item.BranchCode}}-{{item.BranchName}}</td>
                            <td>{{item.DriverName}}</td>
                            <td class="textAlignCenter">{{item.TripCode}}</td>
                            <td class="textRightPadding">{{item.TripTotalSale | currency:'USD':true:'1.2'}}</td>
                            <td class="textRightPadding">{{item.TripTotalAmount | currency:'USD':true:'1.2'}}</td>
                            <td class="textAlignCenter">
                                <input type="checkbox" name="tripHHMultiSelect" [(ngModel)]="item.IsClosed" disabled>
                            </td>
                            <td class="textAlignCenter">{{item.TripTicketList.length}}</td>
                            <td class="textAlignCenter">
                                <i class="custom-tooltip-ion">
                                    <img src="assets/reddyIce/draftTicket.png" *ngIf="item.TripStatusID == 23" width="15">
                                    <span class="tooltiptext">Draft</span>
                                </i>
                                <i class="custom-tooltip-ion">
                                    <img src="assets/reddyIce/submitTicket.png" *ngIf="item.TripStatusID == 24" width="18">
                                    <span class="tooltiptext">Submitted</span>
                                </i>
                                <i class="custom-tooltip-ion">
                                    <img src="assets/reddyIce/approveTicket.png" *ngIf="item.TripStatusID == 25" width="15">
                                    <span class="tooltiptext">Approved</span>
                                </i>
                            </td>
                        </tr>
                        <tr *ngIf="!trips.length || (filter.type === 'internal' && !branches.length) ||
                        (filter.type === 'distributor' && !distributors.length)" [hidden]="showSpinner">
                            <th class="text-center" colspan="10"> No data found </th>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class='spinnerContainer' [hidden]='!showSpinner'> <a> <img [hidden]='!showSpinner' src="assets/reddyIce/spinner.gif " width='25px'></a> </div>
        </ba-card>
    </div>
</div>