@import '../../../../theme/sass/smartTable';

.page-header {
    margin: 20px 0;
};
.bottom-margin{
    margin-bottom: 20px;
}
.right{
    text-align: right;
}

.cash-reconciliation-table {
    width: 100%
}

.table-text-align{
    padding-left: 8px;
}
.text-right{
    text-align: right;
}