<div class="row">
    <div class="col-md-12">
        <ba-card cardTitle="Trip List {{userSubTitle}}" baCardClass="with-scroll" class="dayend-card smart-table-container" #customer>
            <div class="row">
                <div class="col-md-6">
                    <label><b> Select Date </b></label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]='filter.selectedDate' (ngModelChange)="selectionchangeHandler()"
                            ngbDatepicker #d="ngbDatepicker" disabled>
                        <button class="input-group-addon" (click)="d.toggle()" type="button">
                            <i class="ion-calendar"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-6"  *ngIf="logedInUser.IsRIInternal">
                    <label><b>Select Branch</b></label>
                    <select class="form-control" [(ngModel)]='filter.userBranch' (change)="selectionchangeHandler()">
                         <option *ngFor="let branch of branches" [value] = 'branch.BranchID' ><span *ngIf="branch.BranchID != '1'"> {{branch.BranchCode}} - {{branch.BranchName}}</span>
                            <span *ngIf="branch.BranchID == '1'">
                             {{branch.BranchName}}
                          </span></option> 
                    </select>
                    <!-- <ng-select [allowClear]="true" [items]="branches"
                         placeholder="No city selected">
                    </ng-select> -->
                </div>
            </div>
            <div>
                <table class="table table-striped">
                    <thead class="tableHeader">
                        <tr>
                            <th>Actions</th>
                            <th *ngIf="logedInUser.IsRIInternal">
                                <span style="cursor:pointer;" (click)="customer.sortField = 'RouteNumber';customer.isAsc=!customer.isAsc;">
                                    Route #
                                     <i *ngIf="(customer.sortField == 'RouteNumber')" [ngClass]="(customer.isAsc && customer.sortField == 'RouteNumber' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                            </th>
                            <th *ngIf="logedInUser.IsRIInternal">
                                <span style="cursor:pointer;" (click)="customer.sortField = 'branch';customer.isAsc=!customer.isAsc;">
                                    Branch
                                     <i *ngIf="(customer.sortField === 'branch')" [ngClass]="(customer.isAsc && customer.sortField === 'branch' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                            </th>
                            <th>
                                <span style="cursor:pointer;" (click)="customer.sortField = 'driver';customer.isAsc=!customer.isAsc;">
                                    Driver
                                     <i *ngIf="(customer.sortField === 'driver')" [ngClass]="(customer.isAsc && customer.sortField === 'driver' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                            </th>
                            <th class="text-right">
                                <span style="cursor:pointer;" (click)="customer.sortField = 'trip';customer.isAsc=!customer.isAsc;">
                                    Trip Code
                                     <i *ngIf="(customer.sortField === 'trip')" [ngClass]="(customer.isAsc && customer.sortField === 'trip' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                            </th>
                            <th class="text-right">
                                <span style="cursor:pointer;" (click)="customer.sortField = 'trip';customer.isAsc=!customer.isAsc;">
                                    Total Received Amt
                                     <i *ngIf="(customer.sortField === 'trip')" [ngClass]="(customer.isAsc && customer.sortField === 'trip' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                            </th>
                            <th class="text-right">
                                <span style="cursor:pointer;" (click)="customer.sortField = 'trip';customer.isAsc=!customer.isAsc;">
                                    Total Sale
                                     <i *ngIf="(customer.sortField === 'trip')" [ngClass]="(customer.isAsc && customer.sortField === 'trip' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                            </th>
                            <th>
                                HH Day End
                            </th>
                            <th class="text-right">
                                # of Tickets
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--Removed sorting functionality as it was causing rendering issues  -->
                        <tr *ngFor="let item of trips|sort:customer.sortField:customer.isAsc">
                            <td class="table-id" style="cursor: pointer">
                                <!-- <i *ngIf="!logedInUser.IsRIInternal || logedInUser.Role.RoleID==3" (click)='cuurenttripData(item)' class="ion-eye custom-tooltip-ion" [routerLink]="['../ticket-detail', item.TripID]"
                                    style="margin-right: 5px">
                                    <span class="tooltiptext">View</span>
                                </i>
                                <i *ngIf="logedInUser.IsRIInternal && logedInUser.Role.RoleID == 1" (click)='cuurenttripData(item)' class="ion-edit custom-tooltip-ion" [routerLink]="['../detail',item.TripID]"
                                    style="margin-right: 5px">
                                    <span class="tooltiptext">Edit</span>
                                </i> -->
                                <i *ngIf="!logedInUser.IsRIInternal || item.isDistributor === 1" (click)='cuurenttripData(item)' class="ion-eye custom-tooltip-ion" [routerLink]="['../ticket-detail', item.TripID]"
                                    style="margin-right: 5px">
                                    <span class="tooltiptext">View</span>
                                </i>
                                <i *ngIf="logedInUser.IsRIInternal && item.isDistributor === 0" (click)='cuurenttripData(item)' class="ion-edit custom-tooltip-ion" [routerLink]="['../detail',item.TripID]"
                                    style="margin-right: 5px">
                                    <span class="tooltiptext">Edit</span>
                                </i>
                            </td>
                           
                            <td *ngIf="logedInUser.IsRIInternal">{{!item.IsUnplanned?item.RouteNumber :'Unplanned'}}</td>
                            <td  *ngIf="logedInUser.IsRIInternal">{{item.BranchCode}}-{{item.BranchName}}</td>
                            <td>{{item.DriverName}}</td>
                            <td class="textRightPadding">{{item.TripCode}}</td>
                            <td class="textRightPadding">{{item.TripTotalAmount | currency:'USD':true:'1.2'}}</td>
                            <td class="textRightPadding">{{item.TripTotalSale | currency:'USD':true:'1.2'}}</td>
                            <td class="textAlignCenter">
                                <input type="checkbox" name="tripHHMultiSelect" [(ngModel)]="item.IsClosed" disabled>
                            </td>
                            <td class="textRightPadding">{{item.TripTicketList.length}}</td>
                            <td class="textAlignCenter">
                                <i class="custom-tooltip-ion">
                                    <img src="assets/reddyIce/draftTicket.png" *ngIf="item.TripStatusID == 23" width="15">
                                    <span class="tooltiptext">Draft</span>
                                </i>
                                <i class="custom-tooltip-ion">
                                    <img src="assets/reddyIce/submitTicket.png" *ngIf="item.TripStatusID == 24" width="18">
                                    <span class="tooltiptext">Submitted</span>
                                </i>
                                <i class="custom-tooltip-ion">
                                    <img src="assets/reddyIce/approveTicket.png" *ngIf="item.TripStatusID == 25" width="15">
                                    <span class="tooltiptext">Approved</span>
                                </i>
                            </td>
                        </tr>
                        <tr *ngIf="!trips.length">
                            <th class="text-center" colspan="10"> No data found </th>
                        </tr>
                    </tbody>
                </table>

            </div>
        </ba-card>
    </div>
</div>