<section class="chartist">
  <div class="row">
    <div class="col-md-6 ">
      <ba-card cardTitle="Customer List" baCardClass="with-scroll" class="smart-table-container" #customer>
        <!-- <input type="text" class="form-control col-md-4 homeSearchBox" id="input01" placeholder="Text" [(ngModel)]="filterText">
        <ng2-smart-table [settings]="settings | homeSearch:filterText" [source]="dataSource"></ng2-smart-table> -->
        <div class="row">
          <div class="col-md-8">
            <input type="text" class="form-control col-md-8" id="input01" [(ngModel)]="customer.searchString" placeholder="Search">
          </div>
        </div>
        <br/>
        <!-- <ng2-smart-table [settings]="settings" [source]="dataSource"></ng2-smart-table> -->
        <div class="vertical-scroll">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Actions</th>
                <th>
                  <span style="cursor:pointer;" (click)="customer.sortField = 'routeNumber';customer.isAsc=!customer.isAsc;">
                    Route Number
                    <i *ngIf="(customer.sortField == 'routeNumber')" [ngClass]="(customer.isAsc && customer.sortField == 'routeNumber' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                  </span>
                </th>
                <th>
                  <span style="cursor:pointer;" (click)="customer.sortField = 'branch';customer.isAsc=!customer.isAsc;">
                    Location/Branch
                    <i *ngIf="(customer.sortField == 'branch')" [ngClass]="(customer.isAsc && customer.sortField == 'branch' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                  </span>
                </th>
                <th>
                  <span style="cursor:pointer;" (click)="customer.sortField = 'numberOfTickets';customer.isAsc=!customer.isAsc;">
                    # Of Tickets
                    <i *ngIf="(customer.sortField == 'numberOfTickets')" [ngClass]="(customer.isAsc && customer.sortField == 'numberOfTickets' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                  </span>
                </th>
                <th>
                  <span style="cursor:pointer;" (click)="customer.sortField = 'amount';customer.isAsc=!customer.isAsc;">
                    Amount
                    <i *ngIf="(customer.sortField == 'amount')" [ngClass]="(customer.isAsc && customer.sortField == 'amount' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of smartTableData | filter:customer.searchString | sortCustomer:customer.sortField:customer.isAsc">
                <td class="table-id ion-edit"></td>
                <td>{{ item.routeNumber }}</td>
                <td>{{ item.branch }}</td>
                <td>{{ item.numberOfTickets }}</td>
                <td>{{ item.amount }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ba-card>
    </div>

    <div class="col-md-6 ">
      <ba-card cardTitle="Scorecard" baCardClass="with-scroll">
        <div class="row">
          <div class="col-md-6">
            <ba-chartist-chart baChartistChartClass="ct-chart" baChartistChartType="Line" [baChartistChartData]="data['simpleLineData']"
              [baChartistChartOptions]="data['simpleLineOptions']">
            </ba-chartist-chart>
          </div>
          <div class="col-md-6">
            <ba-chartist-chart baChartistChartClass="ct-chart stacked-bar" baChartistChartType="Pie" [baChartistChartData]="data['simplePieData']"
              [baChartistChartOptions]="data['simplePieOptions']" [baChartistChartResponsive]="getResponsive(20, 80)">
            </ba-chartist-chart>
          </div>
        </div>
      </ba-card>
    </div>
  </div>
</section>