<div class="row page-header">
    <div class="col-md-12 padding-eater">
        <ba-card cardTitle="Day End List" baCardClass="with-scroll" class="dayend-card smart-table-container" #customer>
            <div class="row bottom-margin">
                <div class="form-group col-md-6">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]='selectedDate' (change)="selectionchangeHandler()"  ngbDatepicker #d="ngbDatepicker">
                        <button class="input-group-addon" (click)="d.toggle()" type="button">
                            <i class="ion-calendar"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <select class="form-control" [(ngModel)]='tripFilterOption.branchId' (change)="selectionchangeHandler()">
                         <option *ngFor="let branch of branches"[value] = 'branch?.BranchID' >{{branch?.BranchName}}</option> 
                    </select>
                </div>
            </div>
            <div class="row bottom-margin">
                <div class="col-md-6">
                    <label class="radioItem radio-inline custom-radio nowrap ">
                        <input type="radio"  [(ngModel)]='tripFilterOption.isForAll' value="false" (change)="selectionchangeHandler()">
                        <span>My Trips</span>
                    </label>
                    <label class="radioItem radio-inline custom-radio nowrap" style="margin-left:10px;">
                        <input type="radio" [(ngModel)]='tripFilterOption.isForAll' value="true" (change)="selectionchangeHandler()">
                        <span>All Trips</span>
                    </label>
                </div>
            </div>
            <!-- <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" class="page-header"></ng2-smart-table> -->
            <div class="vertical-scroll">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Actions</th>
                            <th>
                                <span style="cursor:pointer;" (click)="customer.sortField = 'RouteNumber';customer.isAsc=!customer.isAsc;">
                                    Route Number
                                     <i *ngIf="(customer.sortField == 'RouteNumber')" [ngClass]="(customer.isAsc && customer.sortField == 'RouteNumber' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                            </th>
                            <th>
                                <span style="cursor:pointer;" (click)="customer.sortField = 'branch';customer.isAsc=!customer.isAsc;">
                                    Branch ID
                                     <i *ngIf="(customer.sortField === 'branch')" [ngClass]="(customer.isAsc && customer.sortField === 'branch' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                            </th>
                            <th>
                                <span style="cursor:pointer;" (click)="customer.sortField = 'isDistributor';customer.isAsc=!customer.isAsc;">
                                    Is Closed
                                     <i *ngIf="(customer.sortField === 'isDistributor')" [ngClass]="(customer.isAsc && customer.sortField === 'isDistributor' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                            </th>
                            <th>
                                <span style="cursor:pointer;" (click)="customer.sortField = 'driver';customer.isAsc=!customer.isAsc;">
                                    Truck ID
                                     <i *ngIf="(customer.sortField === 'driver')" [ngClass]="(customer.isAsc && customer.sortField === 'driver' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                            </th>
                            <th>
                                <span style="cursor:pointer;" (click)="customer.sortField = 'trip';customer.isAsc=!customer.isAsc;">
                                    Trip ID
                                     <i *ngIf="(customer.sortField === 'trip')" [ngClass]="(customer.isAsc && customer.sortField === 'trip' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--Removed sorting functionality as it was causing rendering issues  -->
                       <tr *ngFor="let item of trips|sort:customer.sortField:customer.isAsc">
                            <td class="table-id" style="cursor: pointer">
                                <i (click)='cuurenttripData(item)' class="ion-eye custom-tooltip-ion" [routerLink]="['../ticket-detail']" [queryParams]="{ TripID: item.TripID }" style="margin-right: 5px">
                                    <span class="tooltiptext">View</span>
                                </i>
                                <i (click)='cuurenttripData(item)' class="ion-edit custom-tooltip-ion" [routerLink]="['../detail']" [queryParams]="{ TripID: item.TripID }" style="margin-right: 5px">
                                    <span class="tooltiptext">Edit</span>
                                </i>
                               
                            </td>
                            <td>{{item.RouteNumber}}</td>
                            <td>{{item.BranchID }}</td>
                            <td>{{item.IsDistributor?item.Distributor:"Feild Not Available"}}</td><!--is Distributor status not available-->
                            <td>{{item.Driver?item.Driver:"Feild Not Available"}}</td><!--Driver name not available-->
                            <td>{{item.TripCode}}</td>
                        </tr>

                    </tbody>
                </table>
                <div *ngIf="!trips.length" style='text-align:center'> No data found </div>
            </div>
        </ba-card>
    </div>
</div>