@import '../../../../theme/sass/smartTable';

.page-header {
    margin: 20px 0;
};
.bottom-margin{
    margin-bottom: 20px;
}
.right{
    text-align: right;
}

.cash-reconciliation-table {
    width: 100%
}
.custom-tooltip-ion:hover .tooltiptext{
visibility: visible;
}
.tooltiptext {
    visibility: hidden;
    background-color: #ed7878;
    width: auto;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    padding: 2px 5px;
    line-height: 20px;
}
