<div class="row page-header">
    <div class="col-md-12 padding-eater">
        <ba-card cardTitle="Day End List" baCardClass="with-scroll" class="smart-table-container" (onClickAddIcon)="showNewCustomer($event)"
            #customer>
            <div class="row bottom-margin">
                <div class="form-group col-md-6">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                        <button class="input-group-addon" (click)="d.toggle()" type="button">
                            <i class="ion-calendar"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <select class="form-control">
                        <option value="volvo">301/301</option>
                        <option value="saab">302/302</option>
                        <option value="opel">303/303</option>
                    </select>
                </div>
            </div>
            <div class="row bottom-margin">
                <div class="col-md-6">
                    <label class="radioItem radio-inline custom-radio nowrap ">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <span>My Trips</span>
                    </label>
                    <label class="radioItem radio-inline custom-radio nowrap" style="margin-left:10px;">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <span>All Trips</span>
                    </label>
                </div>
            </div>
            <!-- <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" class="page-header"></ng2-smart-table> -->
            <div class="vertical-scroll">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Actions</th>
                            <th>
                                <span style="cursor:pointer;" (click)="customer.sortField = 'routeNumber';customer.isAsc=!customer.isAsc;">
                                    Route Number
                                     <i *ngIf="(customer.sortField == 'routeNumber')" [ngClass]="(customer.isAsc && customer.sortField == 'routeNumber' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                            </th>
                            <th *ngIf="!hideColumn">
                                <span style="cursor:pointer;" (click)="customer.sortField = 'branch';customer.isAsc=!customer.isAsc;">
                                    Branch
                                     <i *ngIf="(customer.sortField === 'branch')" [ngClass]="(customer.isAsc && customer.sortField === 'branch' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                            </th>
                            <th>
                                <span style="cursor:pointer;" (click)="customer.sortField = 'isDistributor';customer.isAsc=!customer.isAsc;">
                                    Is Distributor
                                     <i *ngIf="(customer.sortField === 'isDistributor')" [ngClass]="(customer.isAsc && customer.sortField === 'isDistributor' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                            </th>
                            <th>
                                <span style="cursor:pointer;" (click)="customer.sortField = 'driver';customer.isAsc=!customer.isAsc;">
                                    Driver
                                     <i *ngIf="(customer.sortField === 'driver')" [ngClass]="(customer.isAsc && customer.sortField === 'driver' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                            </th>
                            <th>
                                <span style="cursor:pointer;" (click)="customer.sortField = 'trip';customer.isAsc=!customer.isAsc;">
                                    Trip
                                     <i *ngIf="(customer.sortField === 'trip')" [ngClass]="(customer.isAsc && customer.sortField === 'trip' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--Removed sorting functionality as it was causing rendering issues  -->
                        <tr *ngFor="let item of userDataTable|sort:customer.sortField:customer.isAsc">
                            <td class="table-id" style="cursor: pointer">
                                <i class="ion-edit" [routerLink]="['./detail']" style="margin-right: 5px"></i>
                                <i class="ion-trash-a" (click)="deleteUser(item)"></i>
                            </td>
                            <td>{{item.routeNumber}}</td>
                            <td>{{item.branch }}</td>
                            <td>{{item.isDistributor}}</td>
                            <td>{{item.driver}}</td>
                            <td>{{item.trip}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ba-card>
    </div>
</div>