.accordion-panel {
    border: 1px solid #ccc;
    border-radius: 5px;
    .panel-heading {
         border-bottom: 1px solid #9a9696;
        padding: 10px;
        background: rgba(91, 192, 222, 0.83);
        h5{
            margin-bottom: 0px;
            font-weight: normal;
            a span{
                color:#222 !important;
            }
        }

    }
    .panel-collapse{
        padding: 15px;
    }
}