<!-- <div class="row page-header">
    <div class="col-md-6 padding-eater">
        <h3>Distributor:Dist 001</h3>
    </div>
    <div class="col-md-6 padding-eater">
        <button class="btn btn-primary pull-right">Create User</button>
    </div>
</div>
<div class="widgets">

  <div class="row">
    <ba-card cardTitle="User List" baCardClass="with-scroll" class="smart-table-container">
      <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
    </ba-card>
  </div>

</div>
   -->
<div class="row page-header user-details">
  <div class="col-md-6" [ngClass]="{'col-md-12':!isNewCustomer, 'col-md-6':isNewCustomer}">
    <!-- <ba-card cardTitle="User List" baCardClass="with-scroll" class="smart-table-container" showAddIcon="true" (onClickAddIcon)="showNewCustomer($event)"> -->
    <ba-card cardTitle="User List" baCardClass="with-scroll" class="smart-table-container" #customer>
      <div class="row">
        <div class="col-md-12">
          <input type="text" class="form-control" [ngClass]="{'col-md-12':!isNewCustomer, 'col-md-12':isNewCustomer}" id="input01" [(ngModel)]="customer.searchString"
            placeholder="Search">
        </div>
        <div class="col-md-6 add-new-user">
          <button (click)="showNewCustomer($event)" class="btn btn-primary addCustBtn pull-right" [disabled]="isNewCustomer">
              Add User
          </button>
        </div>
      </div>
      <br>
      <div class="col-md-5 padding-eater">
        <h4>Distributor : Dist 001</h4>
      </div>
      <!-- <ng2-smart-table [settings]="settings" [source]="source" class="page-header" (edit)="onEditCliked($event)"></ng2-smart-table>  -->
      <div class="vertical-scroll">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Actions</th>
              <th *ngIf="!hideColumn">
                <span style="cursor:pointer;" (click)="customer.sortField = 'FirstName';customer.isAsc=!customer.isAsc;">
                    First Name
                    <i *ngIf="(customer.sortField === 'FirstName')" [ngClass]="(customer.isAsc && customer.sortField === 'FirstName' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                </span>
              </th>
              <th *ngIf="!hideColumn">
                <span style="cursor:pointer;" (click)="customer.sortField = 'LastName';customer.isAsc=!customer.isAsc;">
                    Last Name
                    <i *ngIf="(customer.sortField === 'LastName')" [ngClass]="(customer.isAsc && customer.sortField === 'LastName' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                </span>
              </th>
              <th>
                <span style="cursor:pointer;" (click)="customer.sortField = 'UserName';customer.isAsc=!customer.isAsc;">
                    Username
                    <i *ngIf="(customer.sortField === 'UserName')" [ngClass]="(customer.isAsc && customer.sortField === 'UserName' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                </span>
              </th>
              <th *ngIf="!hideColumn">
                <span style="cursor:pointer;" (click)="customer.sortField = 'EmailID';customer.isAsc=!customer.isAsc;">
                    Email
                    <i *ngIf="(customer.sortField === 'EmailID')" [ngClass]="(customer.isAsc && customer.sortField === 'EmailID' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                </span>
              </th>
              <th>
                <span style="cursor:pointer;" (click)="customer.sortField = 'Phone';customer.isAsc=!customer.isAsc;">
                    Phone
                    <i *ngIf="(customer.sortField === 'Phone')" [ngClass]="(customer.isAsc && customer.sortField === 'phone' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                </span>
              </th>
              <th>
                <span style="cursor:pointer;" (click)="customer.sortField = 'role';customer.isAsc=!customer.isAsc;">
                    Role
                    <i *ngIf="(customer.sortField === 'role')" [ngClass]="(customer.isAsc && customer.sortField === 'role' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                </span>
              </th>
              <th *ngIf="!hideColumn">
                <span style="cursor:pointer;" (click)="customer.sortField = 'branch';customer.isAsc=!customer.isAsc;">
                    Branch
                    <i *ngIf="(customer.sortField === 'branch')" [ngClass]="(customer.isAsc && customer.sortField === 'branch' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                </span>
              </th>
              <th>
                <span style="cursor:pointer;" (click)="customer.sortField = 'riinternal';customer.isAsc=!customer.isAsc;">
                    RI Internal
                    <i *ngIf="(customer.sortField === 'riinternal')" [ngClass]="(customer.isAsc && customer.sortField === 'riinternal' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <!--Removed sorting functionality as it was causing rendering issues  -->
            <tr *ngFor="let item of userTableData | filter:customer.searchString">
              <td class="table-id ion-edit"></td>
              <td *ngIf="!hideColumn">{{ item.FirstName || 'NA' }}</td>
              <td *ngIf="!hideColumn">{{ item.LastName || 'NA' }}</td>
              <td>{{ item.UserName || 'NA' }}</td>
              <td *ngIf="!hideColumn">{{ item.EmailID }}</td>
              <td>{{ item.Phone || 'NA' }}</td>
              <td>{{ item.role || 'NA' }}</td>
              <td *ngIf="!hideColumn">{{ item.branch || 'NA' }}</td>
              <!-- <td *ngIf="item.isRiInternal">Y</td> -->
              <td>N</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ba-card>
  </div>
  <div *ngIf="isNewCustomer" class="col-lg-6 col-md-12" [ngClass]="{'col-md-12':isNewCustomer, 'col-md-6':!isNewCustomer}">
    <ba-card cardTitle="Create New User" baCardClass="with-scroll" class="smart-table-container">
      <span (click)="showNewCustomer($event)" class="ion-close-round addCustCloseIcon"></span>
      <create-user [user]="newUser" (onSaveUser)="onSaveUser($event)" (closeNewUser)="showNewCustomer($event)"></create-user>
    </ba-card>
  </div>
</div>
