@import '../../../../theme/sass/smartTable';

.smart-table-container {
  position: relative;
  .add-new-user {
    position: absolute;
    right: 0;
    top: 5px;
  }
}

.form-control:focus {
  border: 1px solid #5bc0de;
}
.page-header {
    margin: 20px 0;
};

.addCustBtn {
    margin-top: 2px;
}

.addCustCloseIcon {
    position: absolute;
    right: 22px;
    top: 15px;
}

.homeSearchBox {
    position: absolute;
    right: 165px;
    top: 4px;
}

.pull-right {
    float: right;
}

.user-details .vertical-scroll {
  min-height: 422px;
}
