@import '../../../../theme/sass/smartTable';

.smart-table-container {
  position: relative;
  .add-new-user {
    position: absolute;
    right: 0;
    top: 5px;
  }
}

.form-control:focus {
  border: 1px solid #5bc0de;
}
.page-header {
    margin: 20px 0;
};

.addCustBtn {
    margin-top: 2px;
}

.addCustCloseIcon {
    position: absolute;
    right: 22px;
    top: 15px;
    cursor: pointer;
}

.homeSearchBox {
    position: absolute;
    right: 165px;
    top: 4px;
}

.pull-right {
    float: right;
}

.user-details .vertical-scroll {
  min-height: 422px;
  max-height: 100%;
}

.vertical-scroll tr th {
  font-weight: 500
}

.userCell {
  white-space: nowrap;
}

.custom-tooltip-ion:hover .tooltiptext{
visibility: visible;
}
.tooltiptext {
    visibility: hidden;
    background-color: #ed7878;
    width: auto;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    padding: 2px 5px;
    line-height: 20px;
}
