@import '../../../../theme/sass/smartTable';

.page-header {
    margin: 20px 0;
};

.addCustBtn {
    position:absolute;
    margin-top:-52px;
    right:17px;
}

.addCustCloseIcon {
    position: absolute;
    right: 22px;
    top: 15px;
}