@import '../../../../theme/sass/smartTable';

.page-header {
    margin: 20px 0;
};
.bottom-margin{
    margin-bottom: 20px;
}
.right{
    text-align: right;
}

.cash-reconciliation-table {
    width: 100%
}

.table-text-align{
    padding-left: 8px;
}
.text-right{
    text-align: right;
}
.textAlignCenter {
    text-align: center;
}
.spinnerContainer{
    text-align: center;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    margin: auto;
}
.head-button-container{
    position: absolute;
     right: 20px;
     top: 7px;
     
 }