<ba-card cardTitle="{{title}} Customer {{userSubTitle}}" baCardClass="with-scroll" class="smart-table-container">
    <div class="row">
        <div class="col-md-9"></div>
        <div [hidden]="mode == 3" class="col-md-2 head-button-container-for-back">
            <button class="btn btn-danger pull-right" (click)="backClickHandler()">Back</button>
        </div>
        <div class="col-md-1 head-button-container-for-save">
            <button [hidden]="mode ===3" [disabled]="!isFromDirty" class="btn btn-danger pull-right" (click)="save()">Save</button>
            <button [hidden]="mode == 1 || mode == 2" class="btn btn-danger pull-right" (click)="backClickHandler()">Back</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 page-header">
            <div class="row" [hidden]="mode===1">
                <label for="example-text-input" class="col-md-12">Customer Number <sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></label>
                <div class="col-md-12">
                    <input maxlength="8" numberOnly [disabled]="mode ===3||mode ===2" id="typeahead-basic" type="text" [(ngModel)]="customer.CustomerNumber"
                        class="form-control" placeholder="Customer Number" (ngModelChange)="formFlagHandler()" />
                </div>
            </div>
            <!-- [ngClass]="{box-top-margin:,box-top-margin:}" -->
            <div class="row" [ngClass]="{'box-top-margin':!isView,'box-top-margin':isView}">
                <label for="example-text-input" class="col-md-12">Customer Name <sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></label>
                <div class="col-md-12">
                    <input maxlength="50" [disabled]="mode === 3" id="typeahead-basic" type="text" [(ngModel)]="customer.CustomerName"
                        (ngModelChange)="formFlagHandler()" (blur)="spaceRemoverFn(customer.CustomerName)" class="form-control"
                        placeholder="Customer Name" />
                </div>
            </div>
            <div class="row box-top-margin">
                <label for="example-text-input" class="col-md-12">Customer Type <sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></label>
                <div class="col-md-12">
                    <input type="text" class="form-control" name="custType" value="DSD" disabled>
                    <!-- <select [disabled]="mode ===3" class="form-control" [(ngModel)]='customer.CustType' (ngModelChange)="formFlagHandler()" name="custType">
                        <option [value]='20' >DSD</option>
                    </select> -->
                    <!-- <label class="col-md-7 col-form-label" [(ngModel)]='customer.CustType' name="custType">DSD</label> -->
                    <!-- <input disabled id="typeahead-basic" type="text" [(ngModel)]="customer.CustType" class="form-control" placeholder="DSD"/> -->
                </div>
            </div>
            <div class="row box-top-margin">
                <label for="example-text-input" class="col-md-12">Payment Type <sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></label>
                <div class="col-md-12">
                    <select [disabled]="mode ===3" [(ngModel)]="customer.PaymentTypeID" (ngModelChange)="formFlagHandler()" class="form-control"
                        name="custType">
                        <option [value]="18">Cash</option>
                        <option [value]="19">Charge</option>
                    </select>
                </div>
            </div>
            <div class="row box-top-margin">
                <div class="col-md-4">
                    <div class="row">
                        <label for="example-text-input" class="col-sm-7">IsTaxable</label>
                        <div class="col-sm-5">
                            <input [disabled]="mode ===3" type="checkbox" [(ngModel)]='customer.IsTaxassble' (ngModelChange)="formFlagHandler()" class="checkbox-size"
                            />
                        </div>
                    </div>
                </div>
                <!-- <label for="example-text-input" class="col-md-5 col-form-label text-align-center">IsDex?</label>
                <div class="col-md-1 padding-eater text-alignment">
                    <input [disabled]="mode ===3" type="checkbox" [(ngModel)]='customer.IsDex' (ngModelChange)="formFlagHandler()" class="checkbox-size" />

                </div> -->
                <div class="col-md-4">
                    <div class="row">
                        <label for="example-text-input" class="col-sm-7">IsActive</label>
                        <div class="col-md-5">
                            <input type="checkbox" [disabled]="mode===3 || mode ===1" [(ngModel)]='customer.Active' (ngModelChange)="formFlagHandler()"
                                class="checkbox-size" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row box-top-margin">
                <div class="col-sm-12">
                    <div class="row">
                        <label for="example-text-input" class="col-sm-7">Allow Credit on Same Ticket</label>
                        <div class="col-sm-5">
                            <input type="checkbox" [disabled]="mode===3" [(ngModel)]='customer.AllowReturnSameTicket' (ngModelChange)="formFlagHandler()"
                                class="checkbox-size" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row box-top-margin">

                <label for="example-text-input" class="col-md-12">Tax Percentage</label>
                <div class="col-md-12">
                    <input maxlength="6" numberOnly="true" [disabled]="mode ===3 || !customer.IsTaxassble" [(ngModel)]='customer.TaxPercentage'
                        (ngModelChange)="formFlagHandler()" id="typeahead-basic" type="number" step="0.01" class="form-control"
                        placeholder="Tax Percentage" />
                </div>
            </div>
            <!-- <div class="row box-top-margin">
                <label for="example-text-input" class="col-md-5 col-form-label">Chain</label>
                <div class="col-md-7 padding-eater">
                    <select [disabled]="mode ===3" [(ngModel)]="customer.ChainID" (ngModelChange)="formFlagHandler()" class="form-control">
                        <option *ngFor="let chain of chains" [value]="chain.ChainId">{{chain.ChainName}}</option>
                    </select> -->
            <!-- <reddy-select [disabled]="mode===3" [options]="chains" [(selected)]="customer.ChainID" (selectedChange)="formFlagHandler()"></reddy-select>
                </div>
            </div> -->
            <!-- <div class="row box-top-margin">
                <label for="example-text-input" class="col-md-5 col-form-label">DUNS Number</label>
                <div class="col-md-7 padding-eater">
                    <input [disabled]="mode ===3" maxlength="10" type="text" numberOnly [(ngModel)]='customer.DUNSNumber' (ngModelChange)="formFlagHandler()" class="form-control" />
                </div>
            </div> -->

        </div>
        <div class="col-md-8 page-header">

            <div class="row">
                <label for="example-text-input" class="col-md-12">Address<sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></label>
                <div class="col-md-12">
                    <input [disabled]="mode ===3" maxlength="500" [(ngModel)]='customer.Address' (ngModelChange)="formFlagHandler()" id="typeahead-basic"
                        type="text" class="form-control" placeholder="Address" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row box-top-margin">
                        <label for="example-text-input" class="col-md-12">State&nbsp;<sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></label>
                        <div class="col-md-12">
                            <!-- <input [hidden]="mode ===2 ||mode ===1 " [disabled]="mode===3" [(ngModel)]='customer.State' id="typeahead-basic" type="text" class="form-control" placeholder="State"
                                />   -->
                            <!-- <select [disabled]="mode ===3" [(ngModel)]="customer.State" (ngModelChange)="formFlagHandler()" class="form-control">
                                        <option *ngFor="let state of allStates" [value]="state.StateId">{{state.StateName}}</option>
                                    </select> -->
                            <reddy-select [disabled]="mode ===3" [options]="allStates" [(selected)]="customer.State" (selectedChange)="formFlagHandler()"></reddy-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row box-top-margin">
                        <label for="example-text-input" class="col-md-12">City&nbsp;<sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></label>
                        <div class="col-md-12">
                            <input maxlength="25" alphaNumeric [acceptSpace]="true" [disabled]="mode ===3" [(ngModel)]='customer.City' (ngModelChange)="formFlagHandler()"
                                id="typeahead-basic" (blur)="spaceRemoverFnforCity(customer.City)" type="text" class="form-control"
                                placeholder="City" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row box-top-margin">
                        <label for="example-text-input" class="col-md-12">Zip&nbsp;<sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></label>
                        <div class="col-md-12">
                            <input maxlength="10" numberOnly [disabled]="mode ===3" [(ngModel)]='customer.ZipCode' (ngModelChange)="formFlagHandler()"
                                id="typeahead-basic" type="text" class="form-control" placeholder="Zip" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row box-top-margin">
                <div class="col-md-12">
                    <div class="row">
                        <label for="example-text-input" class="col-md-12">Primary Contact&nbsp;<sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></label>
                        <div class="col-md-12">
                            <input maxlength="50" alphaNumeric [acceptSpace]="true" [disabled]="mode === 3" [(ngModel)]="customer.PrimayContact" (ngModelChange)="formFlagHandler()"
                                id="typeahead-basic" (blur)="spaceRemoverFnforPrimaryContact(customer.PrimaryContact)" type="text"
                                class="form-control" placeholder="Primary Contact" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row box-top-margin">
                        <label for="example-text-input" class="col-md-12">Phone&nbsp;<sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></label>
                        <div class="col-md-12">
                            <input maxlength="15" numberOnly [disabled]="mode ===3" [(ngModel)]='customer.Phone' (ngModelChange)="formFlagHandler()"
                                id="typeahead-basic" type="text" class="form-control" placeholder="Phone" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row box-top-margin">
                        <label for="example-text-input" class="col-md-12">Email&nbsp;<sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></label>
                        <div class="col-md-12">
                            <input maxlength="50" [disabled]="mode === 3" [(ngModel)]='customer.Email' (ngModelChange)="formFlagHandler()" id="typeahead-basic"
                                type="email" class="form-control" placeholder="Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row box-top-margin">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead class="tableHeader">
                            <th>Product <sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></th>
                            <th class="right">Price ($)<sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></th>
                            <th style="width:100px" class="remove-padding"><button [hidden]="mode ===3" (click)="addProduct();formFlagHandler()" class="btn btn-danger"
                                    style="margin-top:2px;">Add Product</button></th>
                        </thead>
                        <!-- <thead>
                                <th>Product</th>
                                <th>Price $</th>
                                <th></th>
                            </thead> -->
                        <tbody *ngIf="mode === 3|| mode === 2">
                            <tr *ngFor="let mprod of addedProduct; let j=index">
                                <ng-container *ngIf="mprod.IsActive">
                                    <td class="text-align-left">
                                        {{mprod.DisplayName}}
                                        <!-- <select [disabled]="!addNewProductCheck[j]" class="form-control prodListElement " name="cProductId" [(ngModel)]="mprod.cProductId"
                                    (ngModelChange)="productChangeHandler(mprod)">
                                        <option *ngFor="let prod of products" [value]="prod.ProductId +'-'+prod.IsInternal"> 
                                            {{prod.DisplayName}}
                                        </option>
                                    </select> -->
                                </td>
                                <td class="td-width right">
                                    <input [disabled]="mode===3 || !addProductCheck[j]" class="form-control right prodListElement" type="text" [numberOnly]="true" [(ngModel)]="mprod.ProductPrice">
                                </td>
                                <td>
                                    <i class="ion-edit custom-tooltip-ion" style="margin-right: 5px" [hidden]="mode===3" (click)="editProductPrice(mode,j)">
                                            <span class="tooltiptext">Edit</span>
                                        </i>
                                        <i class="ion-trash-a custom-tooltip-ion" (click)="deactivateMappedProduct(mprod)" style="margin-right: 5px" [hidden]="mode===3||deactivateClicked">
                                            <span class="tooltiptext">Deactivate</span>
                                        </i>
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                        <tbody *ngIf="mode === 1">
                            <tr *ngFor="let mprod of addedProduct; let k=index">
                                <td class="text-align-left">
                                    <select [disabled]="!addProductCheck[k]" class="form-control prodListElement" name="cProductId" [(ngModel)]="mprod.cProductId"
                                        (ngModelChange)="productChangeHandler(mprod)">
                                                <option *ngFor="let prod of products" [value]="prod.ProductId +'-'+prod.IsInternal"> 
                                                    {{prod.DisplayName}}  
                                                </option>
                                            </select>
                                </td>
                                <td class="td-width">
                                    <input [disabled]="!addProductCheck[k]" class="form-control right prodListElement" type="text" [numberOnly]="true" step="0.01" [(ngModel)]="mprod.ProductPrice">
                                </td>
                                <td>
                                    <i class="ion-edit custom-tooltip-ion" style="margin-right: 5px" (click)="editProductPrice(mode,k)">
                                            <span class="tooltiptext">Edit</span>
                                        </i>
                                    <i class="ion-trash-a custom-tooltip-ion" style="margin-right: 5px" (click)="deactivateMappedProduct(mprod)">
                                            <span class="tooltiptext">Inactive</span>
                                        </i>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="mode === 2 ">
                            <tr *ngFor="let mprod of newlyAddedproduct; let i=index">
                                    <td class="text-align-left">
                                        <select [disabled]="!addNewProductCheck[i]" class="form-control prodListElement " name="cProductId" [(ngModel)]="mprod.cProductId"
                                            (ngModelChange)="productChangeHandler(mprod)">
                                            <option *ngFor="let prod of products" [value]="prod.ProductId +'-'+prod.IsInternal"> 
                                                {{prod.DisplayName}}
                                            </option>
                                        </select>
                                    </td>
                                    <td class="td-width">
                                        <input style="margin-top:5px;" [disabled]="!addNewProductCheck[i]" class="form-control right" type="text" [numberOnly]="true" [(ngModel)]="mprod.ProductPrice">
                                    </td>
                                    <td style="padding-top:3px;">
                                        <i class="ion-edit custom-tooltip-ion" style="margin-right: 5px" (click)="editProductPrice(mode,i)">
                                            <span class="tooltiptext">Edit</span>
                                        </i>
                                        <i class="ion-trash-a custom-tooltip-ion" style="margin-right: 5px" (click)="deactivateMappedProduct(mprod)">
                                            <span class="tooltiptext">Deactivate</span>
                                        </i>
                                    </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <!-- <ng-template #rowTemplate let-ctx="item">
                            <span>{{ctx.label}} </span> <input type="number" [(ngModel)]="ctx.data.Price" style="width: 70px;">
                        </ng-template>
                        <dual-list [mappedRowTemplate]="rowTemplate" [items]="products" [(selectedItems)]="selectedProducts"></dual-list> -->
            </div>
        </div>
    </div>
</ba-card>