<ba-card cardTitle="Create Customer {{userSubTitle}}" baCardClass="with-scroll" class="smart-table-container">
    <div class="row">
        <div class="col-sm-9"></div>
        <div class="col-sm-2 head-button-container-for-back">
            <button [hidden]="mode==1" class="btn btn-danger pull-right"  (click)="backClickHandler()">Back</button>
            <button [hidden]="mode!=1" class="btn btn-danger pull-right"  (click)="backClickHandler()">Back</button>
        </div>
        <div class="col-sm-1 head-button-container-for-save">
            <button [hidden]="mode ===3" class="btn btn-danger pull-right" (click)="save()">Save</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 page-header">
            <div class="row">
                <label for="example-text-input" class="col-sm-5 col-form-label" >Customer Number <sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></label>
                <div class="col-sm-7 padding-eater">
                    <input maxlength="25" numberOnly [disabled]="mode ===3" id="typeahead-basic" type="text" [(ngModel)]="customer.CustomerNumber" class="form-control"
                        placeholder="Customer Number" (blur)="isCutomerNumberExist(customer.CustomerNumber)" (ngModelChange)="formFlagHandler()" />
                </div>
            </div>
            <div class="row box-top-margin">
                <label for="example-text-input" class="col-sm-5 col-form-label">Customer Name <sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></label>
                <div class="col-sm-7 padding-eater">
                    <input maxlength="50" [disabled]="mode === 3" id="typeahead-basic" type="text" [(ngModel)]="customer.CustomerName" (ngModelChange)="formFlagHandler()" class="form-control"
                        placeholder="Customer Name" />
                </div>
            </div>
            <div class="row box-top-margin">
                <label for="example-text-input" class="col-sm-5 col-form-label">Customer Type <sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></label>
                <div class="col-sm-7 padding-eater">
                    <select [disabled]="mode ===3" class="form-control" [(ngModel)]='customer.CustType' (ngModelChange)="formFlagHandler()" name="custType">
                                <option [value]='20' >DSD</option>
                                <option [value]='21' >PBS</option>
                                <option [value]='22' >PBM</option>
                               
                            </select>
                </div>
            </div>
            <div class="row box-top-margin">
                <label for="example-text-input" class="col-sm-5 col-form-label">Payment Type <sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></label>
                <div class="col-sm-7 padding-eater">
                    <select [disabled]="mode ===3" [(ngModel)]="customer.PaymentType" (ngModelChange)="formFlagHandler()" class="form-control" name="custType">
                        <option [value]="18">Cash</option>
                        <option [value]="19">Charge</option>
                    </select>
                </div>
            </div>
            <div class="row box-top-margin">
                <label for="example-text-input" class="col-sm-5 col-form-label">IsTaxable?</label>
                <div class="col-sm-1 padding-eater">
                    <input [disabled]="mode ===3" type="checkbox" [(ngModel)]='customer.IsTaxassble' (ngModelChange)="formFlagHandler()" class="checkbox-size" />

                </div>
                <label for="example-text-input" class="col-sm-5 col-form-label text-align-center">IsDex?</label>
                <div class="col-sm-1 padding-eater text-alignment">
                    <input [disabled]="mode ===3" type="checkbox" [(ngModel)]='customer.IsDex' (ngModelChange)="formFlagHandler()" class="checkbox-size" />

                </div>
            </div>
            <div class="row box-top-margin">

                <label for="example-text-input" class="col-sm-5 col-form-label">Tax Percentage</label>
                <div class="col-sm-7 padding-eater">
                    <input maxlength="2" numberOnly [disabled]="mode ===3 || !customer.IsTaxassble" [(ngModel)]='customer.TaxPercentage' (ngModelChange)="formFlagHandler()" id="typeahead-basic" type="text"
                        class="form-control" placeholder="Tax Percentage"/>
                </div>
            </div>
            <div class="row box-top-margin">
                <label for="example-text-input" class="col-sm-5 col-form-label">Chain</label>
                <div class="col-sm-7 padding-eater">
                    <!-- <select [disabled]="mode ===3" [(ngModel)]="customer.ChainID" (ngModelChange)="formFlagHandler()" class="form-control">
                        <option *ngFor="let chain of chains" [value]="chain.ChainId">{{chain.ChainName}}</option>
                    </select> -->
                    <reddy-select [disabled]="mode===3" [options]="chains" [(selected)]="customer.ChainID" (selectedChange)="formFlagHandler()"></reddy-select>
                </div>
            </div>
            <div class="row box-top-margin">
                <label for="example-text-input" class="col-sm-5 col-form-label">DUNS Number</label>
                <div class="col-sm-7 padding-eater">
                    <input [disabled]="mode ===3" maxlength="10" type="text" numberOnly [(ngModel)]='customer.DUNSNumber' (ngModelChange)="formFlagHandler()" class="form-control" />
                </div>
            </div>

        </div>
        <div class="col-md-8 page-header">
            <div class="col-sm-12">
                <div class="row">
                    <label for="example-text-input" class="col-sm-1 col-form-label">Address&nbsp;<sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></label>
                    <div class="col-sm-11">
                        <input [disabled]="mode ===3" maxlength="500" [(ngModel)]='customer.Address' (ngModelChange)="formFlagHandler()" id="typeahead-basic" type="text" class="form-control" placeholder="Address"
                        />
                    </div>
                </div>
                <div class="row box-top-margin">
                    <div class="col-sm-4">
                        <div class="row">
                            <label for="example-text-input" class="col-sm-3 col-form-label">State&nbsp;<sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></label>
                            <div class="col-sm-9">
                        <!-- <input [hidden]="mode ===2 ||mode ===1 " [disabled]="mode===3" [(ngModel)]='customer.State' id="typeahead-basic" type="text" class="form-control" placeholder="State"
                                />   -->
                                <!-- <select [disabled]="mode ===3" [(ngModel)]="customer.State" (ngModelChange)="formFlagHandler()" class="form-control">
                                        <option *ngFor="let state of allStates" [value]="state.StateId">{{state.StateName}}</option>
                                    </select> -->
                                    <reddy-select [disabled]="mode ===3" [options]="allStates" [(selected)]="customer.State" (selectedChange)="formFlagHandler()"></reddy-select> 
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <label for="example-text-input" class="col-sm-3 col-form-label">City&nbsp;<sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></label>
                            <div class="col-sm-9">
                                <input maxlength="25" [disabled]="mode ===3" [(ngModel)]='customer.City' (ngModelChange)="formFlagHandler()" id="typeahead-basic" type="text" class="form-control" placeholder="City"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <label for="example-text-input" class="col-sm-3 col-form-label">Zip&nbsp;<sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></label>
                            <div class="col-sm-9">
                                <input maxlength="10" numberOnly [disabled]="mode ===3" [(ngModel)]='customer.ZipCode' (ngModelChange)="formFlagHandler()" id="typeahead-basic" type="text" class="form-control" placeholder="Zip"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row box-top-margin">
                    <div class="col-sm-6">
                        <div class="row">
                            <label for="example-text-input" class="col-sm-2 col-form-label">Primary Contact&nbsp;<sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></label>
                            <div class="col-sm-10">
                                <input maxlength="50" [disabled]="mode === 3" [(ngModel)]="customer.PrimaryContact" (ngModelChange)="formFlagHandler()" id="typeahead-basic" type="text" class="form-control"
                                    placeholder="Primary Contact" />
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="row">
                            <label for="example-text-input" class="col-sm-2 col-form-label">Phone&nbsp;<sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></label>
                            <div class="col-sm-10">
                                <input maxlength="15" numberOnly [disabled]="mode ===3" [(ngModel)]='customer.Phone' (ngModelChange)="formFlagHandler()" id="typeahead-basic" type="text" class="form-control" placeholder="Phone"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row box-top-margin">
                    <div class="col-sm-6">
                        <div class="row">
                            <label for="example-text-input" class="col-sm-2 col-form-label">Email&nbsp;<sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></label>
                            <div class="col-sm-10">
                                <input maxlength="50" [disabled]="mode === 3" [(ngModel)]='customer.EmailID' (ngModelChange)="formFlagHandler()" id="typeahead-basic" type="email" class="form-control" placeholder="Email"
                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row box-top-margin">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead class="tableHeader">
                                <th>Product <sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></th>
                                <th class="right">Price ($)<sup [hidden]="mode===3" _ngcontent-c16="" style="color:red;">*</sup></th>
                                <th style="width:100px" class="remove-padding"><button [hidden]="mode ===3" (click)="addProduct();formFlagHandler()" class="btn btn-danger">Add Product</button></th>
                            </thead>
                            <!-- <thead>
                                <th>Product</th>
                                <th>Price $</th>
                                <th></th>
                            </thead> -->
                            <tbody *ngIf="mode === 3|| mode === 2 ">
                                <tr *ngFor="let mprod of addedProduct; let j=index">
                                    <td class="text-align-left">
                                        {{mprod.DisplayName}}
                                    </td>
                                    <td class="td-width right">
                                        <input numberOnly [disabled]="mode===3 || !addProductCheck[j]" class="form-control right prodListElement" type="text" [(ngModel)]="mprod.ProductPrice">
                                    </td>
                                    <td>
                                        <i class="ion-edit custom-tooltip-ion" style="margin-right: 5px" [hidden]="mode===3" (click)="editProductPrice(mode,j)">
                                            <span class="tooltiptext">Edit</span>
                                        </i>
                                        <!--<i class="ion-trash-a custom-tooltip-ion" (click)="deactivateMappedProduct(mprod)" style="margin-right: 5px" [hidden]="mode===3">
                                            <span class="tooltiptext">Deactivate</span>
                                        </i>-->
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="mode === 1">
                                <tr *ngFor="let mprod of addedProduct; let k=index">
                                    <td class="text-align-left">
                                        <select [disabled]="!addProductCheck[k]" class="form-control prodListElement" name="cProductId" [(ngModel)]="mprod.cProductId" (ngModelChange)="productChangeHandler(mprod)">
                                                <option *ngFor="let prod of products" [value]="prod.ProductId +'-'+prod.IsInternal"> 
                                                    {{prod.DisplayName}}  
                                                </option>
                                            </select>
                                    </td>
                                    <td class="td-width">
                                        <input numberOnly [disabled]="!addProductCheck[k]" class="form-control right prodListElement" type="text" [(ngModel)]="mprod.ProductPrice">
                                    </td>
                                    <td>
                                        <i class="ion-edit custom-tooltip-ion" style="margin-right: 5px" (click)="editProductPrice(mode,k)">
                                            <span class="tooltiptext">Edit</span>
                                        </i>
                                        <i class="ion-trash-a custom-tooltip-ion" style="margin-right: 5px" (click)="deactivateMappedProduct(mprod)">
                                            <span class="tooltiptext">Deactivate</span>
                                        </i>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="mode === 2 ">
                                <tr *ngFor="let mprod of newlyAddedproduct; let i=index">
                                    <td class="text-align-left">
                                        <select [disabled]="!addNewProductCheck[i]" class="form-control prodListElement " name="cProductId" [(ngModel)]="mprod.cProductId" (ngModelChange)="productChangeHandler(mprod)">
                                            <option *ngFor="let prod of products" [value]="prod.ProductId +'-'+prod.IsInternal"> 
                                                {{prod.DisplayName}}
                                            </option>
                                        </select>
                                    </td>
                                    <td class="td-width">
                                        <input numberOnly [disabled]="!addNewProductCheck[i]" class="form-control right" type="text" [(ngModel)]="mprod.ProductPrice">
                                    </td>
                                    <td>
                                        <i class="ion-edit custom-tooltip-ion" style="margin-right: 5px" (click)="editProductPrice(mode,i)">
                                            <span class="tooltiptext">Edit</span>
                                        </i>
                                        <i class="ion-trash-a custom-tooltip-ion" style="margin-right: 5px" (click)="deactivateMappedProduct(mprod)">
                                            <span class="tooltiptext">Deactivate</span>
                                        </i>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <!-- <ng-template #rowTemplate let-ctx="item">
                            <span>{{ctx.label}} </span> <input type="number" [(ngModel)]="ctx.data.Price" style="width: 70px;">
                        </ng-template>
                        <dual-list [mappedRowTemplate]="rowTemplate" [items]="products" [(selectedItems)]="selectedProducts"></dual-list> -->
                </div>
            </div>
        </div>
    </div>
</ba-card>