
@import '../../../../theme/sass/smartTable';

.page-header {
    margin: 20px 0;
};

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + -1px);
}

.ioiIconsLR {
    padding-left: 48px;
    padding-top: 45px;
}

.addCustBtn {
    margin-top: 2px;
}

.addCustCloseIcon {
    position: absolute;
    right: 22px;
    top: 15px;
    cursor: pointer;
}

.homeSearchBox {
    position: absolute;
    right: 165px;
    top: 4px;
}


.showError {
  color: #ed7878;
  position: absolute;
  right: 23px;
  top: 33px;
}

.custom-tooltip {
  background: #ed7878;
  color: white;
  padding: 5px;
  display: inline;
  position: absolute;
  border-radius: 4px;
  top: 3px;
  right: 1%;
}

.showError:after {
  content: '';
  display: inline;
  position: absolute;
  right: -5px;
  margin: -5px;
  top: 9%;
  border: 5px solid #ed7878;
  border-right-color: transparent;
  border-bottom-color: transparent; 
  border-top-color: #ed7878;
  border-left-color: transparent;
  left: 56%;
}






.head-button-container {
  position: fixed;
  right: 15px;
  top: -52px;
}
.head-button-container-for-back {
    position: absolute;
    right: -1px;
    top: 6px;
  }
  .head-button-container-for-save{
    position: absolute;
    right: 74px;
    top: 6px;;
  }

.box-top-margin{
    margin-top:15px;
}
.checkbox-size{
    height: 15px;
    width: 15px;
    margin-top: 2px;
}
.text-alignment{
    text-align: right;
}
.model-top-margin{
  margin-top:78px;
}
.table-margin{
  margin-top: 30px;
}
.td-width{
    width:20%;
 }
.text-align-left{
    text-align: left !important;
}