<div [hidden]="!overlayStatus" style="top:65px;bottom:0;left:0;right:0;height:calc(100% - 65px); opacity:0.5;background:gray;z-index:999;position:absolute;">
    <div style="margin:auto;position:fixed;top:50%;left:50%;">
        <img src="assets/reddyIce/spinner.gif " width='25px'>
    </div>
</div>
<ba-card cardTitle="Manual Ticket List {{userSubTitle}}" baCardClass="with-scroll" class="smart-table-container" #customer>
    <div class="row">
        <div class="col-sm-2">
            <label>Select Date</label>
            <div class="input-group">
                <date-picker [maxDate]="todaysDate" [(dateModel)]="searchObj.CreatedDate" (dateModelChange)="dateChangeHandler();"></date-picker>
            </div>
        </div>
        <div class="col-sm-2">
            <label>Select Driver Type</label>
            <select [disabled]="user.IsDistributor || user.Role.RoleID == 3 || user.Role.RoleID == 5 || user.Role.RoleID == 7" class="form-control"
                id="exampleSelect1" [(ngModel)]="searchObj.userType" (ngModelChange)="typeChangeHandler()">
                <option [value]="'Internal'">RI Driver</option>
                <option [value]="'External'">Dist./CoPacker</option>
            </select>
        </div>
        <div class="col-sm-3" *ngIf="!user.IsDistributor" [hidden]="searchObj.userType=='External'">
            <label>Select Business Unit</label>
            <reddy-select [options]="allBranches" [(selected)]="searchObj.BranchId" (selectedChange)="branchChangeHandler('yes')"></reddy-select>
        </div>
        <div class="col-sm-2" [hidden]="searchObj.userType!='Internal'">
            <label>Driver</label>
            <!-- <select [disabled]="user.IsDistributor" class="form-control" id="exampleSelect1" [(ngModel)]="searchObj.UserId" (ngModelChange)="userChangeHandler('byuser')">
                <option [ngValue]="-1" selected style="display:none;">Select Driver</option>
                <option *ngFor="let obj of drivers" [ngValue]="obj.value">
                    {{obj.FirstName}} {{obj.LastName}}
                </option>
            </select> -->
            <reddy-select [disabled]="user.IsDistributor" [options]="drivers" [(selected)]="searchObj.UserId" (selectedChange)="userChangeHandler('byuser')"></reddy-select>
        </div>
        <div class="col-sm-2" [hidden]="searchObj.userType=='Internal'">
            <label>Dist./CoPacker</label>
            <reddy-select [disabled]="user.IsDistributor" [options]="distributors" [(selected)]="searchObj.DistributorID" (selectedChange)="userChangeHandler()"></reddy-select>
        </div>
        <div class="col-sm-3">
            <label>Search</label>
            <input type="text" class="form-control" id="input01" [(ngModel)]="searchString" placeholder="Search" (ngModelChange)="searchItem();">
        </div>
        <div class="col-sm-2 createTicketBtn">
            <button [routerLink]="['../ticket']" (click)="overlayStatus = true" class="btn btn-primary addCustBtn pull-right">
                Create Ticket
            </button>
        </div>
    </div>
    <div class="table-container" style="overflow-x:auto;">
        <table class="table table-striped table-condensed">
            <thead class="tableHeader">
                <tr>
                    <th style="padding-left: 2px;padding-right: 2px;" *ngIf="allTickets.length > 0">
                        <span title="Select/Unselect All">
                            <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll();" />
                        </span>
                    </th>
                    <th style="padding-left: 6px;padding-right: 2px;"> 
                        <!-- <button [disabled]="!allTickets.length || disableApprove" class="btn btn-primary" (click)="approveCheckedTickets()" style="margin:-5px;">
                            Approve
                        </button> -->
                        <i class="ion-checkmark custom-tooltip-ion approveAllButton marginR8" (click)="approveCheckedTickets()" *ngIf="allTickets.length || !disableApprove" [ngStyle]="{color:!disableApprove ? 'red' : 'grey'}" [style.cursor]="!disableApprove ? 'pointer' :''">
                            <span class="tooltiptext">Approve</span>
                        </i>

                        <i class="ion-trash-a custom-tooltip-ion approveAllButton marginR5" (click)="approveCheckedTickets('delete')" *ngIf="allTickets.length" [ngStyle]="{color:!disableApprove ? 'red' : 'grey'}" [style.cursor]="!disableApprove ? 'pointer' :''">
                            <span class="tooltiptext">Delete</span>
                        </i>
                    </th>
                    <th class="table-id thVerticalAlign actionAlignCenter" style="width: 8%;">Actions</th>
                    <th class="thVerticalAlign table-text-align width-ticket">
                        <span class="cursorPointer" (click)="customer.sortField = 'ticketwithRefNo';customer.isAsc=!customer.isAsc;sortable('ticketwithRefNo');">
                            Ticket #
                            <i *ngIf="(customer.sortField == 'ticketwithRefNo')" [ngClass]="(customer.isAsc && customer.sortField == 'ticketwithRefNo' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                        </span>
                    </th>
                    <th class="thVerticalAlign table-text-align">
                        <span class="cursorPointer" (click)="customer.sortField = 'TicketTypeID';customer.isAsc=!customer.isAsc;sortable('TicketTypeID');">
                            Ticket Type
                            <i *ngIf="(customer.sortField == 'TicketTypeID')" [ngClass]="(customer.isAsc && customer.sortField == 'TicketTypeID' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                        </span>
                    </th>
                    <th class="thVerticalAlign table-text-align width-customer">
                        <span class="cursorPointer" (click)="customer.sortField = 'CustomerTitle';customer.isAsc=!customer.isAsc;sortable('CustomerTitle');">
                            Customer
                            <i *ngIf="(customer.sortField == 'CustomerTitle')" [ngClass]="(customer.isAsc && customer.sortField == 'CustomerTitle' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                        </span>
                    </th>
                    <th class="thVerticalAlign table-text-align width-driver" [hidden]="searchObj.userType!='Internal'">
                        <span class="cursorPointer" (click)="customer.sortField = 'UserName';customer.isAsc=!customer.isAsc;sortable('UserName');">
                            Driver
                            <i *ngIf="(customer.sortField == 'UserName')" [ngClass]="(customer.isAsc && customer.sortField == 'UserName' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                        </span>
                    </th>
                    <th class="thVerticalAlign textAlignRight amtPadding">
                        <span class="cursorPointer" (click)="customer.sortField = 'TotalSaleWithTax';customer.isAsc=!customer.isAsc;sortable('TotalSaleWithTax');">
                            Total Sale
                            <i *ngIf="(customer.sortField == 'TotalSaleWithTax')" [ngClass]="(customer.isAsc && customer.sortField == 'TotalSaleWithTax' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                        </span>
                    </th>
                    <th class="thVerticalAlign textAlignRight amtPadding">
                        <span class="cursorPointer" (click)="customer.sortField = 'CashAmount';customer.isAsc=!customer.isAsc;sortable('CashAmount');">
                            Received Amt
                            <i *ngIf="(customer.sortField == 'CashAmount')" [ngClass]="(customer.isAsc && customer.sortField == 'CashAmount' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                        </span>
                    </th>
                    <th *ngIf="user.IsDistributor" class="thVerticalAlign textAlignRight amtPadding" [hidden]="logedInUser.IsDistributor ? logedInUser.Distributor ? logedInUser.Distributor.IsCopacker : false : 'false'">
                        <span class="cursorPointer" (click)="customer.sortField = 'Drayage';customer.isAsc=!customer.isAsc;sortable('Drayage');">
                            Drayage
                            <i *ngIf="(customer.sortField == 'Drayage')" [ngClass]="(customer.isAsc && customer.sortField == 'Drayage' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                        </span>
                    </th>
                    <th *ngIf="user.IsDistributor" class="thVerticalAlign textAlignRight amtPadding" [hidden]="logedInUser.IsDistributor ? logedInUser.Distributor ? logedInUser.Distributor.IsCopacker : false : 'false'">
                        <span class="cursorPointer" (click)="customer.sortField = 'BuyBack';customer.isAsc=!customer.isAsc;sortable('BuyBack');">
                            Buyback
                            <i *ngIf="(customer.sortField == 'BuyBack')" [ngClass]="(customer.isAsc && customer.sortField == 'BuyBack' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                        </span>
                    </th>
                    <th class="thVerticalAlign table-text-align">
                        <span class="cursorPointer" (click)="customer.sortField = 'DeliveryDate';customer.isAsc=!customer.isAsc;sortable('DeliveryDate');">
                            Delivery Date
                            <i *ngIf="(customer.sortField == 'DeliveryDate')" [ngClass]="(customer.isAsc && customer.sortField == 'DeliveryDate' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                        </span>
                    </th>
                    <th (click)="customer.sortField = 'TicketStatusID';customer.isAsc=!customer.isAsc;sortable('TicketStatusID');" class="thVerticalAlign textAlignCenter">
                        <span class="cursorPointer" style="padding-left: 0px;text-align: center;">
                            Status
                            <i *ngIf="(customer.sortField == 'TicketStatusID')" [ngClass]="(customer.isAsc && customer.sortField == 'TicketStatusID' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr valign="middle" *ngFor="let item of allFilterdTickets | sort:customer.sortField:customer.isAsc;  let i=index">
                    <td *ngIf="allTickets.length > 0">
                        <input type="checkbox" name="manualTicketMultiSelect" [(ngModel)]="item.selected" (ngModelChange)="ticketSelectionHandler();checkIfAllSelected();"
                            [disabled]="item.TicketStatusID == 25 || item.TicketStatusID == 23">
                    </td>
                    <td></td>
                    <td class="table-id" style="cursor: pointer" *ngIf="!isNewTicket">
                        <i class="ion-ios-information-outline custom-tooltip-ion" style="margin-right: 5px" (click)="viewTicket(item.TicketID)">
                            <span class="tooltiptext">View Ticket Details</span>
                        </i>
                        <a *ngIf="!(item.ticketType =='Sale & Credit' || item.ticketType =='Credit & Sale')" [routerLink]="['../view/'+item.TicketID]"
                            (click)="overlayStatus = true;">
                            <i class="ion-eye custom-tooltip-ion" style="margin-right: 5px">
                                <span class="tooltiptext">View</span>
                            </i>
                        </a>
                        <a *ngIf="item.ticketType =='Sale & Credit' || item.ticketType =='Credit & Sale'" (click)="showTicketChoice(item.TicketNumber,'view')">
                            <i class="ion-eye custom-tooltip-ion" style="margin-right: 5px">
                                <span class="tooltiptext">View</span>
                            </i>
                        </a>
                        <!-- <a [routerLink]="['../ticket/'+item.TicketID]" [hidden]="item.TicketStatusID!=23">
                            <i class="ion-edit custom-tooltip-ion" style="margin-right: 5px">
                                <span class="tooltiptext">Edit</span>
                            </i>
                        </a>
                        <i class="ion-trash-a custom-tooltip-ion" [hidden]="item.TicketStatusID!==23" (click)="deleteTicket(item.TicketID)">
                            <span class="tooltiptext">Delete</span>
                        </i> -->
                        <a *ngIf="!(item.ticketType =='Sale & Credit' || item.ticketType =='Credit & Sale')" [routerLink]="['../ticket/'+item.TicketID]"
                            [hidden]="item.TicketStatusID==25">
                            <i class="ion-edit custom-tooltip-ion" style="margin-right: 5px">
                                <span class="tooltiptext">Edit</span>
                            </i>
                        </a>
                        <a *ngIf="(item.ticketType =='Sale & Credit' || item.ticketType =='Credit & Sale')" (click)="showTicketChoice(item.TicketNumber,'edit')"
                            [hidden]="item.TicketStatusID==25">
                            <i class="ion-edit custom-tooltip-ion" style="margin-right: 5px">
                                <span class="tooltiptext">Edit</span>
                            </i>
                        </a>
                        <i *ngIf="!(item.ticketType =='Sale & Credit' || item.ticketType =='Credit & Sale')" class="ion-trash-a custom-tooltip-ion"
                            [hidden]="item.TicketStatusID==25" (click)="deleteTicket(item.TicketID);overlayStatus = true;">
                            <span class="tooltiptext">Delete</span>
                        </i>
                        <i *ngIf="(item.ticketType =='Sale & Credit' || item.ticketType =='Credit & Sale')" class="ion-trash-a custom-tooltip-ion"
                            [hidden]="item.TicketStatusID==25" (click)="showTicketChoice(item.TicketNumber,'delete');">
                            <span class="tooltiptext">Delete</span>
                        </i>
                    </td>
                    <td>
                        <span [title]="item.ticketwithRefNo">{{item.ticketwithRefNo}}</span>
                    </td>
                    <!-- <td>{{ item.IsSaleTicket|ticketType: item.Customer }}</td> -->
                    <td>{{ item.ticketType }}</td>
                    <td>
                        <span [title]="item.CustomerTitle">{{item.AXCustomerNumber }} - {{item.CustomerName}}</span>
                    </td>
                    <td [hidden]="searchObj.userType!='Internal'">{{item.UserName}}</td>
                    <td class="textAlignRight" [ngClass]="{'credit-amount':item.TicketTypeID === 27}">{{ item.TotalSaleWithTax | currencyFormatter }}</td>
                    <td class="textAlignRight" *ngIf="item.CashAmount || item.CheckAmount" [ngClass]="{'credit-amount':item.TicketTypeID === 27}">{{ item.CheckAmount + item.CashAmount | currencyFormatter }}</td>
                    <td class="textAlignRight" *ngIf="!item.CashAmount && !item.CheckAmount" [ngClass]="{'credit-amount':item.TicketTypeID === 27}">{{item.TotalAmount | currencyFormatter }}</td>
                    <td *ngIf="user.IsDistributor" class="textAlignRight" [hidden]="logedInUser.IsDistributor ? logedInUser.Distributor ? logedInUser.Distributor.IsCopacker : false : 'false'">{{ item.Drayage | currencyFormatter }}</td>
                    <td *ngIf="user.IsDistributor" class="textAlignRight" [hidden]="logedInUser.IsDistributor ? logedInUser.Distributor ? logedInUser.Distributor.IsCopacker : false : 'false'">{{ item.BuyBack | currencyFormatter }}</td>
                    <td>{{item.DeliveryDate|date}}</td>
                    <td class="textAlignCenter">
                        <div class="tooltip-position">
                        <i class="custom-tooltip-ion" *ngIf="item.TicketStatusID == 23">
                            <img src="assets/reddyIce/draftTicket.png" width="15">
                            <div class="customTooltiptext">Draft</div>
                        </i>
                        <i class="custom-tooltip-ion" *ngIf="item.TicketStatusID == 24">
                            <img src="assets/reddyIce/submitTicket.png" width="18">
                            <div class="customTooltiptext">Submitted</div>
                        </i>
                        <i class="custom-tooltip-ion" *ngIf="item.TicketStatusID == 25">
                            <img src="assets/reddyIce/approveTicket.png" width="15">
                            <div class="customTooltiptext">Approved</div>
                        </i>
                        </div>
                    </td>
                </tr>
                <!--<tr *ngIf="(allTickets.length && allTickets.length>0)">
                    <td colspan="6" [hidden]="user.IsDistributor"><b>Total({{allTickets.length}})</b></td> 
                    <td style="text-align: center;" colspan="5" [hidden]="!user.IsDistributor"><b>Total</b></td>                                
                    <td class="textRightPadd"><b>{{total.totalInvoice | currencyFormatter}}</b></td>
                    <td class="textRightPadd"><b>{{total.totalCash + total.totalCheck | currencyFormatter}}</b></td>
                    <td class="textRightPadd" *ngIf="!user.IsRIInternal"><b>{{total.totalDrayage | currencyFormatter}}</b></td>
                    <td class="textRightPadd" *ngIf="!user.IsRIInternal"><b>{{total.totalBuyBack | currencyFormatter}}</b></td>
                    <td></td>
                </tr>-->
            </tbody>
        </table>
        <div class='spinnerContainer' [hidden]='!showSpinner'>
            <a>
                <img [hidden]='!showSpinner' src="assets/reddyIce/spinner.gif " width='25px'>
            </a>
        </div>
        <div *ngIf="(!allFilterdTickets.length && !showSpinner) || (allFilterdTickets.length==0 && !showSpinner)" class='marginTopCenter'>
            No data found </div>
    </div>

</ba-card>