<ba-card cardTitle="Manual Ticket List" baCardClass="with-scroll" class="smart-table-container" #customer>
    <div class="row">
        <div class="col-sm-3">
            <label>Select Date</label>
            <div class="input-group">
                <input class="form-control" [(ngModel)]="searchObj.CreatedDate" placeholder="mm-dd-yyyy" name="dp" (ngModelChange)='getSearchedTickets();'
                    [maxDate]="todaysDate" ngbDatepicker #d="ngbDatepicker">
                <button class="input-group-addon" (click)="d.toggle()" type="button">
                    <i class="ion-calendar"></i>
                </button>
            </div>
        </div>
        <div class="col-sm-3">
            <label>Select Branch</label>
            <select class="form-control" id="exampleSelect1" [(ngModel)]="searchObj.BranchId" (ngModelChange)="branchChangeHandler()">
                <option *ngFor="let obj of allBranches" [value]="obj.BranchID">
                    {{obj.BranchID}}-{{obj.BranchName}}
                </option>
            </select>
        </div>
        <div class="col-sm-3">
            <label>Select Driver Type</label>
            <select [disabled]="user.IsDistributor" class="form-control" id="exampleSelect1" [(ngModel)]="searchObj.userType" (ngModelChange)="typeChangeHandler()">
                <option [value]="'Internal'">RI Driver</option>
                <option [value]="'External'">Distributor/CoPacker</option>
            </select>
        </div>
        <div class="col-sm-3" [hidden]="searchObj.userType!='Internal'">
            <label>Driver</label>
            <select [disabled]="user.IsDistributor" class="form-control" id="exampleSelect1" [(ngModel)]="searchObj.UserId" (ngModelChange)="userChangeHandler()">
                <option *ngFor="let obj of drivers" [value]="obj.UserId">
                    {{obj.FirstName}} {{obj.LastName}}
                </option>
            </select>
        </div>
        <div class="col-sm-3" [hidden]="searchObj.userType=='Internal'">
            <label>Distributor/CoPacker</label>
            <select [disabled]="user.IsDistributor" class="form-control" id="exampleSelect1" [(ngModel)]="searchObj.DistributorID" (ngModelChange)="userChangeHandler()">
                <option *ngFor="let obj of distributors" [value]="obj.DistributorID">
                    {{obj.DistributorName}}
                </option>
            </select>
        </div>
        <div class="col-sm-2 createTicketBtn">
            <button [routerLink]="['../ticket']" class="btn btn-primary addCustBtn pull-right">
                Create Ticket
            </button>
        </div>
    </div>
    <div class="table-container">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th style="width:112px;">
                        <button [disabled]="!allTickets.length || disableApprove" class="btn btn-primary" (click)="approveCheckedTickets()">
                            Approve
                        </button>
                    </th>
                    <th class="table-id thVerticalAlign actionAlignCenter" style="width:72px;">Actions</th>
                    <th class="thVerticalAlign table-text-align">
                        <span class="cursorPointer" (click)="customer.sortField = 'TicketID';customer.isAsc=!customer.isAsc;">
                          Ticket #
                           <i *ngIf="(customer.sortField == 'TicketID')" [ngClass]="(customer.isAsc && customer.sortField == 'TicketID' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                      </span>
                    </th>
                    <th class="thVerticalAlign table-text-align">
                        <span class="cursorPointer" (click)="customer.sortField = 'TicketTypeID';customer.isAsc=!customer.isAsc;">
                            Ticket Type
                            <i *ngIf="(customer.sortField == 'TicketTypeID')" [ngClass]="(customer.isAsc && customer.sortField == 'TicketTypeID' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                        </span>
                    </th>
                    <th class="thVerticalAlign table-text-align">
                        <span class="cursorPointer" (click)="customer.sortField = 'Customer.CustomerName';customer.isAsc=!customer.isAsc;">
                          Customer
                          <i *ngIf="(customer.sortField == 'Customer.CustomerName')" [ngClass]="(customer.isAsc && customer.sortField == 'Customer.CustomerName' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                      </span>
                    </th>
                    <th class="thVerticalAlign table-text-align" [hidden]="searchObj.userType!='Internal'">
                        <span class="cursorPointer">
                            Driver
                        </span>
                    </th>
                    <th class="thVerticalAlign textAlignRight amtPadding">
                        <span class="cursorPointer" (click)="customer.sortField = 'CashAmount';customer.isAsc=!customer.isAsc;">
                          Amount
                          <i *ngIf="(customer.sortField == 'CashAmount')" [ngClass]="(customer.isAsc && customer.sortField == 'CashAmount' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                      </span>
                    </th>
                    <th (click)="customer.sortField = 'TicketStatusID';customer.isAsc=!customer.isAsc;" class="thVerticalAlign textAlignCenter statusPadding">
                        <span class="cursorPointer">
                          Status
                          <i *ngIf="(customer.sortField == 'TicketStatusID')" [ngClass]="(customer.isAsc && customer.sortField == 'TicketStatusID' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                      </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of allTickets | ticketFilter:searchObj.userType:searchObj.userType === 'Internal'?searchObj.UserId:searchObj.DistributorID | sort:customer.sortField:customer.isAsc">
                    <td>
                        <input type="checkbox" name="manualTicketMultiSelect" [(ngModel)]="item.selected" (ngModelChange)="ticketSelectionHandler()" [disabled]="item.TicketStatusID == 25 || item.TicketStatusID == 23">
                    </td>
                    <td class="table-id" style="cursor: pointer" *ngIf="!isNewTicket">
                        <a [routerLink]="['../view/'+item.TicketID]">
                            <i class="ion-eye custom-tooltip-ion" style="margin-right: 5px">
                                <span class="tooltiptext">View</span>
                            </i>
                        </a>
                        <a [routerLink]="['../ticket/'+item.TicketID]" [hidden]="item.TicketStatusID!=23">
                            <i class="ion-edit custom-tooltip-ion" style="margin-right: 5px">
                                <span class="tooltiptext">Edit</span>
                            </i>
                        </a>
                        <i class="ion-trash-a custom-tooltip-ion" [hidden]="item.TicketStatusID!==23" (click)="deleteTicket(item.TicketID)">
                            <span class="tooltiptext">Delete</span>
                        </i>
                    </td>
                    <td>{{ item.TicketNumber }}</td>
                    <td>{{ item.IsSaleTicket|ticketType: item.Customer }}</td>
                    <td>{{ item.Customer.CustomerID }} - {{ item.Customer.CustomerName }}</td>
                    <td [hidden]="searchObj.userType!='Internal'">NA</td>
                    <td class="textAlignRight">{{ item.CashAmount | currency:'USD':true:'1.2' }}</td>
                    <td class="textAlignCenter">
                        <i class="custom-tooltip-ion">
                            <img src="assets/reddyIce/draftTicket.png" *ngIf="item.TicketStatusID == 23" width="15">
                            <span class="tooltiptext">Draft</span>
                        </i>
                        <i class="custom-tooltip-ion">
                            <img src="assets/reddyIce/submitTicket.png" *ngIf="item.TicketStatusID == 24" width="18">
                            <span class="tooltiptext">Submitted</span>
                        </i>
                        <i class="custom-tooltip-ion">
                            <img src="assets/reddyIce/approveTicket.png" *ngIf="item.TicketStatusID == 25" width="15">
                            <span class="tooltiptext">Approved</span>
                        </i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style='text-align:center'> <a> <img [hidden]='!showSpinner' src="assets/reddyIce/spinner.gif " width='25px'></a> </div>
        <div *ngIf="!allTickets.length && !showSpinner" style='text-align:center'> No data found </div>
    </div>
</ba-card>