@import "../../../theme/sass/conf/conf.scss"

;.overflow {
    overflow: auto;
}

.vertical-scroll {
   max-height: 426px;
}

.radio-button {
    display: block;
}
.tab-content{
    border: 1px solid #ef8989;
}

.thVerticalAlign {
    vertical-align: middle;
}

.textAlignRight {
    text-align: right;
}

.textAlignCenter {
    text-align: center;
}

.createTicketBtn {
    padding: 10px 35px;
    position: absolute;
    right: -13px;
    top: -3px;
}
.table-container {
    min-height: 340px;
}

.table-text-align {
    text-align: left !important;
    padding-left: 7px;
}

.actionAlignCenter {
    padding-left: 9px;
}

.cursorPointer {
    cursor:pointer;
}

.statusPadding {
    padding-right: 28px !important;
}

.amtPadding {
    padding-right: 8px;
}

.marginTopCenter {
    text-align:center;
    margin-top: 10px;
}

.credit-amount{
    color: red;
}
.spinnerContainer{
    text-align: center;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    margin: auto;
}