@import "../../../theme/sass/conf/conf.scss"

;.overflow {
    overflow: auto;
}

.vertical-scroll {
   max-height: 426px;
}

.radio-button {
    display: block;
}
.tab-content{
    border: 1px solid #ef8989;
}

.ngb-dp-day.disabled .text-muted.outside {
    cursor: not-allowed;
}