@import "../../../theme/sass/conf/conf.scss"

;.overflow {
    overflow: auto;
}

.vertical-scroll {
   max-height: 426px;
}

.radio-button {
    display: block;
}
.tab-content{
    border: 1px solid #ef8989;
}

.thVerticalAlign {
    vertical-align: middle;
}

.textAlignRight {
    text-align: right;
}

.textAlignCenter {
    text-align: center;
}

.createTicketBtn {
    padding: 10px 35px;
    position: absolute;
    right: -13px;
    top: -3px;
}
.table-container {
    min-height: 340px;
}

.table-text-align{
    text-align: left !important;
    padding-left: 6px;
}