.paddingTopDate {
    padding-top: 10px;
}
.text-center{
    text-align: center;
}
.button-top-margin{
    margin-top: 20px;
}
.local-padding-eater{
    padding-left: 0px;
    padding-right: 0px;
}
.left-margin{
    margin-left: 15px;
}
.div-border{
    border: solid #c3c3c3 1px;
}
.div-border1{
    border: solid #c3c3c3 1px;
}
.top-margin{
    margin-top: 10px;
}
.left-margin-of-longdiv{
    margin-left: 62px;
}
.left-margin-of-shortdiv{
    margin-left: 14px;
}
.head-button-container {
    position: absolute;
    right: 15px;
    top: -13px;
  }
   .no-margin{
       margin-left: 0px;
   }

   .head-button-container-for-report {
    position: absolute;
    right: 157px;
    top: 6px;
  }
 
  .padding{
      padding-top: 9px;
  }
  .framezeroHeight{
    height:0px;
  }
  .framewithHeight{
    height:400px;
  }

  /* enable absolute positioning */
.inner-addon {
    position: relative;
  }
  
  /* style glyph */
  .inner-addon .ion-ios-search {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  
  /* align glyph */
  .left-addon .ion-ios-search  { left:  0px;}
  .right-addon .ion-ios-search { right: 0px;}
  
  /* add padding  */
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }

  
   
 