.paddingTopDate {
    padding-top: 10px;
}
.text-center{
    text-align: center;
}
.button-top-margin{
    margin-top: 20px;
}
.local-padding-eater{
    padding-left: 0px;
    padding-right: 0px;
}
.left-margin{
    margin-left: 15px;
}
.div-border{
    border: solid #d2d2d2 1px;
}
.top-margin{
    margin-top: 10px;
}
.left-margin-of-longdiv{
    margin-left: 62px;
}
.left-margin-of-shortdiv{
    margin-left: 14px;
}