.padding {
    padding: 10px;
}

.border {
    border:1px solid lightblue
}

.textAlign {
    text-align:center;
}

.block {
    width:10px;
    height:10px;
    display:inline-block;
    border-radius: 2px;
}

.blockContent {
    margin-left:0px;
    vertical-align:bottom;
    font-size: 10px;
}

.google-maps {
  width: 100%;
  height: calc(100vh - 283px);
}

.marginTop {
    margin-top: 10px;
}

.radioButtonMargin {
    margin-left:10px;
    margin-top: 6px;
}

.center {
    text-align: center;
}

.input-group .form-control {
    z-index: 0 !important;
}