.padding {
    padding: 10px;
}

.border {
    border:1px solid lightblue
}

.textAlign {
    text-align:center;
}

.block {
    width:10px;
    height:10px;
    display:inline-block;
    border-radius: 2px;
}

.blockContent {
    margin-left:0px;
    vertical-align:bottom;
    font-size: 10px;
}

.google-maps {
  width: 100%;
  height: calc(100vh - 283px);
}

.marginTop {
    margin-top: 10px;
}

.radioButtonMargin {
    margin-left:10px;
    margin-top: 6px;
}

.center {
    text-align: center;
}

.custom-tooltip-ion:hover .tooltiptext{
    visibility: visible;
}
.tooltiptext {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    width: auto;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    padding: 2px 5px;
    line-height: 15px;
    font-size: 12px;
}

.google-maps {
    height: calc(100vh - 337px);
}