<div class="row">
    <div class='col-md-12'>
        <ba-card cardTitle="Tracker{{userSubTitle}}" baCardClass="medium-card" class="smart-table-container">
            <div class="row">
                <div class="col-sm-2">
                    <label>Select Date</label>
                    <div class="input-group">
                        <date-picker [maxDate]="todaysDate" [(dateModel)]="tripFilterOption.tripDate" (dateModelChange)="dateChangeHandler();"></date-picker>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label>Select Driver Type</label>
                    <select [disabled]="isDistributor || user.Role?.RoleID===3" class="form-control" id="exampleSelect1" [(ngModel)]="searchObj.userType" (ngModelChange)="typeChangeHandler()">
                        <option [value]="'Internal'">RI Driver</option>
                        <option [value]="'External'">Dist./CoPacker</option>
                    </select>
                </div>
                <div class="col-sm-3" [hidden]="isDistributor" *ngIf="searchObj.userType=='Internal'">
                    <label>Select Business Unit</label>
                    <reddy-select [options]="allBranches" [(selected)]="tripFilterOption.branchId" (selectedChange)="branchChangeHandler()"></reddy-select>
                </div>
                <div class="col-sm-3" *ngIf="searchObj.userType=='External'">
                    <label>Dist./CoPacker</label>
                    <reddy-select [disabled]="user.IsDistributor" [options]="distributors" [(selected)]="tripFilterOption.DistributorMasterID" (selectedChange)="distributorChangeHandler()"></reddy-select>
                </div>
                <div class="col-sm-2" *ngIf="searchObj.userType=='Internal'">
                    <label>Select Driver</label>
                    <select class="form-control" [(ngModel)]='tripFilterOption.DriverName' (change)="driverChangeHandler()">
                        <option *ngFor="let driver of driverOnBranch | unique">{{driver.DriverName}}</option>
                    </select>
                </div>
                <div class="col-sm-2" *ngIf="searchObj.userType=='External'">
                    <label>Select Driver</label>
                    <select class="form-control" [(ngModel)]='tripFilterOption.DriverName' (change)="driverChangeHandler()">
                        <option *ngFor="let driver of driverOndistributor | unique">{{driver.DriverName}}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label>Select Trip</label>
                    <select class="form-control" [(ngModel)]='tripFilterOption.TripCode' (change)="tripChangeHandler()">
                        <option *ngFor="let trip of driverSpecTrips">
                            {{trip.TripCode}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row marginTop">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="block" style="background:blue;"></div>
                            <span class="blockContent">Unplanned Service</span>
                        </div>
                        <div class="col-md-6">
                            <div class="block" style="background:yellow;"></div>
                            <span class="blockContent">Did Not Service</span>
                        </div>
                        <div class="col-md-6" [hidden]="isDistributor || searchObj.userType == 'External' || IsUnplanned">
                            <div class="block" style="background:#90EE90;"></div>
                            <span class="blockContent">Planned Service</span>
                        </div>
                        <div class="col-md-6" [hidden]="isDistributor || searchObj.userType == 'External' || IsUnplanned">
                            <div class="block" style="background:#ff0000;"></div>
                            <span class="blockContent">Skipped Stops</span>
                        </div>
                        <div class="col-md-6"  [hidden]="isDistributor || searchObj.userType == 'External' || IsUnplanned">
                            <div class="block" style="background:#999900;"></div>
                            <span class="blockContent">Planned Sequence</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 center" [hidden]="isDistributor || searchObj.userType == 'External' || IsUnplanned">
                    <label class="radioItem radio-inline custom-radio nowrap radioButtonMargin">
                        <input type="radio" name="type" checked (click)="sequenceChangeHandler(1)">
                        <span>Planned Seq</span>
                    </label>
                    <label class="radioItem radio-inline custom-radio nowrap radioButtonMargin">
                        <input type="radio" name="type" (click)="sequenceChangeHandler(2)">
                        <span>Actual Delivery Seq</span>
                    </label>
                    <label class="radioItem radio-inline custom-radio nowrap radioButtonMargin">
                        <input type="radio" name="type" (click)="sequenceChangeHandler(3)">
                        <span>Planned & Actual Seq</span>
                    </label>
                </div>
            </div>
            <div class="row marginTop">
                <div class="col-md-4"style="padding-right:0;">
                    <div class="table-container" style="height:350px; overflow-y:scroll;">
                        <table class="table table-striped table-condensed">
                            <thead class="tableHeader">
                                <tr>
                                    <th style="width: 50px; padding-left: 5px; padding-right: 5px;">Actions</th>
                                    <th style="width: 50px; padding-left: 5px; padding-right: 5px;" [hidden]="isDistributor || searchObj.userType == 'External' || IsUnplanned">
                                        <span>
                                            Planned
                                        </span>
                                    </th>
                                    <th style="width: 50px; padding-left: 5px; padding-right: 5px;">
                                        <span>
                                            Actual
                                        </span>
                                    </th>
                                    <th style="text-align: left;padding-left: 7px;" *ngIf="!isDistributor && searchObj.userType != 'External'">
                                        <span>
                                            Customer#
                                        </span>
                                    </th>
                                    <th style="text-align: left;padding-left: 7px;" *ngIf="isDistributor || searchObj.userType == 'External'">
                                        <span>
                                            Customer
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-template ngFor let-subitem [ngForOf]="selectedTrip" let-subitemIndex="index">
                                    <tr>
                                        <td>
                                            <i [hidden]="selectedTrip.OrderID != null && selectedTrip.TicketNumber == null" class="ion-ios-information-outline custom-tooltip-ion" style="margin-right: 5px; cursor: pointer;" (click)="viewTicket(subitem.ID)">
                                                <span class="tooltiptext">View Ticket Details</span>
                                            </i>
                                        </td>
                                        <td style="text-align:center;" [hidden]="isDistributor || searchObj.userType == 'External' || IsUnplanned">
                                            {{subitem.PlannedSequence}}
                                        </td>
                                        <td style="text-align:center;" *ngIf="!isNewTicket" title="{{sliceTime(subitem.Created)}}">
                                            {{subitem.ActualSequence}}
                                        </td>
                                        <td title="{{subitem.CustomerNumber}} - {{subitem.CustomerName}}" style="text-align: left;" [hidden]="isDistributor">
                                            {{subitem.CustomerNumber}} - {{subitem.CustomerName | cutString:true:20}}
                                        </td>
                                        <td title="{{subitem.CustomerNumber}} - {{subitem.CustomerName}}" style="text-align: left;" [hidden]="!isDistributor">
                                            {{subitem.CustomerNumber}} - {{subitem.CustomerName | cutString:false:15}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </table>
                        <div style='text-align:center'> <a> <img [hidden]='!showSpinner' src="assets/reddyIce/spinner.gif " width='25px'></a> </div>
                        <div *ngIf="(selectedTrip && !selectedTrip.length && !showSpinner) || (!selectedTrip && !showSpinner)" style='text-align:center; margin-top:10px;'> No data found </div>
                    </div>
                </div>
                <div class="col-md-8" style="overflow-y: hidden;height: 384px;">
                    <ba-card cardTitle="Route Map">
                        <div class="google-maps"></div>
                    </ba-card>
                </div>
            </div>
        </ba-card>
    </div>
</div>