<div class="row">
    <div class='col-md-12'>
        <ba-card cardTitle="Tracker{{userSubTitle}}" baCardClass="medium-card" class="smart-table-container">
            <div class="row">
                <div class="col-sm-3">
                    <label>Select Date</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="tripFilterOption.tripDate" [maxDate]="todaysDate"
                            (ngModelChange)="dateChangeHandler()" ngbDatepicker #d="ngbDatepicker" disabled>
                        <button class="input-group-addon" (click)="d.toggle()" type="button">
                            <i class="ion-calendar"></i>
                        </button>
                    </div>
                </div>
                <div class="col-sm-3" [hidden]="isDistributor">
                    <label>Select Branch</label>
                    <select class="form-control" [(ngModel)]='tripFilterOption.branchId' (change)="branchChangeHandler()">
                        <option *ngFor="let obj of allBranches" [value]="obj.BranchID">
                            {{obj.BranchCode}} - {{obj.BranchName}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label>Select Driver</label>
                    <select class="form-control" [(ngModel)]='tripFilterOption.DriverName' (change)="driverChangeHandler()">
                        <option *ngFor="let driver of trips | unique">
                            {{driver.DriverName}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label>Select Trip</label>
                    <select class="form-control" [(ngModel)]='tripFilterOption.TripCode' (change)="tripChangeHandler()">
                        <option *ngFor="let trip of driverSpecTrips">
                            {{trip}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row marginTop">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="block" style="background:blue;"></div>
                            <span class="blockContent">Unplanned Service</span>
                        </div>
                        <div class="col-md-6">
                            <div class="block" style="background:yellow;"></div>
                            <span class="blockContent">Did Not Service</span>
                        </div>
                        <div class="col-md-6" [hidden]="isDistributor">
                            <div class="block" style="background:brown;"></div>
                            <span class="blockContent">Planned Service</span>
                        </div>
                        <div class="col-md-6" [hidden]="isDistributor">
                            <div class="block" style="background:red;"></div>
                            <span class="blockContent">Skipped Stops</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 center" [hidden]="isDistributor">
                    <label class="radioItem radio-inline custom-radio nowrap radioButtonMargin">
                        <input type="radio" name="type" checked (click)="sequenceChangeHandler(1)">
                        <span>Planned Seq</span>
                    </label>
                    <label class="radioItem radio-inline custom-radio nowrap radioButtonMargin">
                        <input type="radio" name="type" (click)="sequenceChangeHandler(2)">
                        <span>Actual Delivery Seq</span>
                    </label>
                    <label class="radioItem radio-inline custom-radio nowrap radioButtonMargin">
                        <input type="radio" name="type" (click)="sequenceChangeHandler(3)">
                        <span>Planned & Actual Seq</span>
                    </label>
                </div>
            </div>
            <div class="row marginTop">
                <div class="col-md-4">
                    <div class="table-container" style="height:350px; overflow-y:scroll;">
                        <table class="table table-striped table-condensed">
                            <thead class="tableHeader">
                                <tr>
                                    <th style="width:1%;">Actions</th>
                                    <th style="width:1%;" [hidden]="isDistributor">
                                        <span>
                                            Planned
                                        </span>
                                    </th>
                                    <th style="width:1%;text-align: center;">
                                        <span>
                                            Actual
                                        </span>
                                    </th>
                                    <th style="text-align: left;padding-left: 7px;" [hidden]="isDistributor">
                                        <span>
                                            Customer#
                                        </span>
                                    </th>
                                    <th style="text-align: left;padding-left: 7px;" [hidden]="!isDistributor">
                                        <span>
                                            Customer
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-template ngFor let-subitem [ngForOf]="selectedTrip" let-subitemIndex="index">
                                    <tr>
                                        <td>
                                            <i class="ion-ios-information-outline custom-tooltip-ion" style="margin-right: 5px" (click)="viewTicket(subitem.ID)">
                                                <span class="tooltiptext">View Ticket Details</span>
                                            </i>
                                        </td>
                                        <td [hidden]="isDistributor">{{subitem.PlannedSequence}}</td>
                                        <td style="text-align:center;" *ngIf="!isNewTicket" title="{{sliceTime(subitem.Created)}}">
                                            {{subitem.ActualSequence}}
                                        </td>
                                        <td title="{{subitem.CustomerName}}" style="text-align: left;" [hidden]="isDistributor">
                                            {{subitem.CustomerNumber}}
                                        </td>
                                        <td title="{{subitem.CustomerNumber}} - {{subitem.CustomerName}}" style="text-align: left;" [hidden]="!isDistributor">
                                            {{subitem.CustomerNumber}} - {{subitem.CustomerName | cutString:true:10}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </table>
                        <div style='text-align:center'> <a> <img [hidden]='!showSpinner' src="assets/reddyIce/spinner.gif " width='25px'></a> </div>
                        <div *ngIf="(selectedTrip && !selectedTrip.length && !showSpinner) || (!selectedTrip && !showSpinner)" style='text-align:center; margin-top:10px;'> No data found </div>
                    </div>
                </div>
                <div class="col-md-8" style="overflow-y: hidden;height: 384px;">
                    <ba-card cardTitle="Route Map">
                        <div class="google-maps"></div>
                    </ba-card>
                </div>
            </div>
        </ba-card>
    </div>
</div>