<ul id="al-sidebar-list" class="al-sidebar-list" baSlimScroll [baSlimScrollOptions]="{height: menuHeight}"
    (mouseleave)="hoverElemTop=outOfArea">
	<!-- <li _ngcontent-c7="" class="al-sidebar-list-item" ng-reflect-ng-class="[object Object]" title="FAQ">
<a _ngcontent-c7="" class="al-sidebar-list-link" ng-reflect-router-link="/,pages,faq" href="#/pages/faq">
  <i _ngcontent-c7="" class="ion-person"></i><span _ngcontent-c7="" translate="" ng-reflect-translate="">FAQ</span>
  </a>
</li> -->
<li _ngcontent-c7="" class="al-sidebar-list-item" ng-reflect-ng-class="[object Object]" title="Lookup">
<a _ngcontent-c7="" class="al-sidebar-list-link" ng-reflect-router-link="/,pages,lookup" href="#/pages/lookup">
  <i _ngcontent-c7="" class="ion-person"></i><span _ngcontent-c7="" translate="" ng-reflect-translate="">Lookup</span>
  </a>
</li>
  <ba-menu-item
    [menuItem]="item"
    (itemHover)="hoverItem($event)"
    (toggleSubMenu)="toggleSubMenu($event)"
    *ngFor="let item of menuItems"></ba-menu-item>
	
</ul>

<div class="sidebar-hover-elem" [ngStyle]="{top: hoverElemTop + 'px', height: hoverElemHeight + 'px'}"
     [ngClass]="{'show-hover-elem': showHoverElem }">
</div>
