<form>
    <div class="row calendarRow">
        <div class="form-group col-md-6">
            <label for="exampleSelect1">Branch</label>
            <select class="form-control" name="branch" [(ngModel)]="searchBranch" (ngModelChange)="onBranchChange()" [disabled]="true">
              <option *ngFor="let branch of allBranches" [ngValue]="branch.BranchID"> {{branch.BranchID}} - {{branch.BranchName}} </option>
            </select>
        </div>
        <div class="col-md-6">
            <label>Ticket Type</label>
            <div class="radioList">
                <label class="radioItem radio-inline custom-radio nowrap">
                <input type="radio" name="ticketType" id="ticketTypeRadio1" value="option1" (click)="showHideDamagedColumn(1)" [disabled]="true">
                <span>DSD</span>
              </label>
                <label class="radioItem radio-inline custom-radio nowrap">
                <input type="radio" name="ticketType" id="ticketTypeRadio2" value="option2" (click)="showHideDamagedColumn(2)" [disabled]="true">
                <span>PBM</span>
              </label>
                <label class="radioItem radio-inline custom-radio nowrap">
                <input type="radio" name="ticketType" id="ticketTypeRadio3" value="option3" checked (click)="showHideDamagedColumn(3)" [disabled]="true">
                <span>PBS</span>
              </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="exampleInputEmail1">Date</label>
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker" [disabled]="true">
                <button class="input-group-addon" (click)="d.toggle()" type="button" [disabled]="true">
                <i class="ion-calendar"></i>
              </button>
            </div>
        </div>
        <div class="col-md-6" *ngIf="!showDamagedCol">
            <label>Type</label>
            <div class="radioList">
                <label class="radioItem radio-inline custom-radio nowrap">
                <input type="radio" name="type" id="typeRadio1" value="option1" checked [disabled]="true">
                <span>Sale</span>
              </label>
                <label class="radioItem radio-inline custom-radio nowrap">
                <input type="radio" name="type" id="typeRadio2" value="option2" [disabled]="true">
                <span>Credit</span>
              </label>
            </div>
        </div>
        <div class="col-md-6" *ngIf="showDamagedCol">
            <label>Type</label>
            <div class="radioList">
                <label class="radioItem radio-inline custom-radio nowrap">
                <input type="radio" name="type" id="typeRadio1" value="option1" (click)="showHideCols(1)" [disabled]="true">
                <span>Meter Reading</span>
              </label>
                <label class="radioItem radio-inline custom-radio nowrap">
                <input type="radio" name="type" id="typeRadio2" value="option2" checked (click)="showHideCols(2)" [disabled]="true">
                <span>Inventory</span>
              </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="exampleSelect1">Customer Name</label>
            <select class="form-control" name="customer" [(ngModel)]="searchCustomer" (ngModelChange)="onCustomerChange()" [disabled]="true">
              <option *ngFor="let customer of branchBasedCustomers" [ngValue]="customer.CustomerId"> {{customer.CustomerName}} </option>
            </select>
        </div>
        <div class="col-md-6">
            <label>POD</label>
            <div class="radioList">
                <label class="radioItem radio-inline custom-radio nowrap">
                <input type="radio" name="pod" id="podRadio1" value="option1" (click)="ifPodReceived(1)" [disabled]="true">
                <span>Received</span>
              </label>
                <label class="radioItem radio-inline custom-radio nowrap">
                <input type="radio" name="pod" id="podRadio2" value="option2" checked (click)="ifPodReceived(2)" [disabled]="true">
                <span>Not-Received</span>
              </label>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="showHideDSDCols">
        <div class="form-group col-md-6">
            <label for="exampleSelect1">Driver</label>
            <select class="form-control" id="exampleSelect1">
                <option>Daniel</option>
                <option>Ron</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Check No.</label>
            <input type="text" class="form-control" id="checkNumber" placeholder="Check #" minlength="2" [(ngModel)]="ticketObj.checkNumber"
                name="checkNumber" #checkNumber="ngModel" required>
            <div *ngIf="checkNumber.invalid && (checkNumber.dirty || checkNumber.touched)" class="error-message">
                <i class="ion-android-alert showError"></i>
                <div *ngIf="checkNumber.errors.required" class="custom-tooltip bottom">Check number is required</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Ticket No.</label>
            <input type="text" class="form-control" id="TicketNumber" placeholder="Ticket #" minlength="2" [(ngModel)]="ticketObj.TicketNumber"
                name="TicketNumber" #TicketNumber="ngModel" required [disabled]="true">
            <div *ngIf="TicketNumber.invalid && (TicketNumber.dirty || TicketNumber.touched)" class="error-message">
                <i class="ion-android-alert showError"></i>
                <div *ngIf="TicketNumber.errors.required" class="custom-tooltip bottom">Ticket number is required</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="exampleInputPassword1">PO#</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="PO #" minlength="2" [(ngModel)]="ticketObj.PONumber"
                name="PONumber" #PONumber="ngModel" required [disabled]="true">
            <div *ngIf="PONumber.invalid && (PONumber.dirty || PONumber.touched)" class="error-message">
                <i class="ion-android-alert showError"></i>
                <div id="poTooltip" *ngIf="PONumber.errors.required" class="custom-tooltip bottom">PO number is required</div>
            </div>
        </div>
    </div>
    
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <b>Total Sale</b>
                </div>
                <div class="col-md-4">
                    <b>$151.25</b>
                </div>
            </div>
            <br>
            <div class="row" *ngIf="!showHideTableCols && showDamagedCol">
                <div class="col-md-6">
                    <b>Store Credit</b>
                </div>
                <div class="col-md-2">
                    <b>4</b>
                </div>
                <div class="col-md-4">
                    <b>-$5.00</b>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8">
                    <b>Tax</b>
                </div>
                <div class="col-md-4">
                    <b>$0.00</b>
                </div>
            </div>
        </div>
        <div class="col-md-6 createNewTicket">
            <b>$156.25</b>
        </div>
    </div>
</form>