<div class="row">
        <div class=" col-md-12">
            <ba-card cardTitle="Load Detail" baCardClass="with-scroll" class="smart-table-container" #customer>
                <div class="head-button-container" *ngIf="!loadData?.TripStatus">
                    <button [disabled]="!checkValidity" class="btn btn-danger pull-right" (click)="saveLoad()">Submit</button>
                    <!--<button class="btn btn-danger pull-right add-margin-right" [hidden]='loadData.TripStatusID == 24 || loadData.TripStatusID == 25'
                        (click)="saveReconciliation(23)">Save</button>-->
                    <button class="btn btn-danger pull-right add-margin-right" (click)="backToList()">Back</button>
                </div>
                <div class="head-button-container" *ngIf="loadData?.TripStatus">
                    <button class="btn btn-danger pull-right" (click)="backToList()">Back</button>
                </div>
                <div class="row add-margin-bottom">
    
                    <div class=" col-md-12">
                        <div class="row page-header bold-head">
                            <div class="col-md-6">
                                <span>Branch:</span>
                                <label>{{filter?.userBranchName}}</label>
                            </div>
                            <div class="col-md-6">
                                <span>Delivery Date:</span>
                                <label>{{deliveryDate}}</label>
                            </div>
                        </div>
                        <div class="row page-header bold-head">
                            <div class="col-md-6">
                                <span>Driver:</span>
                                <label>{{filter?.userDriverName}}</label>
                            </div>
                            <div class="col-md-6">
                                <span>Trip:</span>
                                <label>{{currentTripCode}}</label>
                            </div>
                           
                           
                        </div>
                    </div>
                </div>
                <ngb-tabset class='dayend-tabset'>
                    <ngb-tab title="Load">
                        <ng-template ngbTabContent>
                            <div class="row page-header">
                                <div class="col-sm-6">
                                    <table class="pallets">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span><b>Pallets</b> </span>
                                                </td>
                                                <td>
                                                    <span>Issued: </span>
                                                    <input [disabled]="loadData?.TripStatus" [(ngModel)]='loadData.PalletsIssued' style="width:70px;text-align:right;"
                                                    type="number" min="0">
                                                </td>
                                                <td>
                                                    <span>Truck Number: </span>
                                                    <input [disabled]="loadData?.TripStatus" [(ngModel)]='loadData.TruckNumber'  style="width:70px;text-align:right;"
                                                    type="number" min="0">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
    
                                </div>
    
                                <div class="col-sm-6">
                                    <button *ngIf="!loadData?.TripStatus" [disabled]="hideAddProduct" class="btn btn-danger pull-right" (click)=addProductRow()>Add Product</button>
                                </div>
                                <div class="col-md-12 page-header">
    
                                    <div class="overflow">
                                        <table class="table table-bordered">
                                            <thead class="tableHeader">
                                                <tr>
                                                    <th class="text-align-left">
                                                        <span>
                                                            Product
                                                            <!-- <i *ngIf="(customer.sortField == 'product')" [ngClass]="(customer.isAsc && customer.sortField == 'product' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>  -->
                                                        </span>
                                                    </th>
                                                    <th class="text-center">
                                                        <span>
                                                            Load 1
                                                            <!-- <i *ngIf="(customer.sortField == 'load')" [ngClass]="(customer.isAsc && customer.sortField == 'load' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>  -->
                                                        </span>
                                                    </th>
                                                    <th class="text-center">
                                                        <span>
                                                            Load 2
                                                            <!-- <i *ngIf="(customer.sortField === 'return')" [ngClass]="(customer.isAsc && customer.sortField === 'return' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>  -->
                                                        </span>
                                                    </th>
                                                    <th  class="text-center">
                                                        <span>
                                                            Load 3
                                                            <!-- <i *ngIf="(customer.sortField === 'truckDamage')" [ngClass]="(customer.isAsc && customer.sortField === 'truckDamage' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>  -->
                                                        </span>
                                                    </th>
                                                    <th class="text-center" colspan="2">
                                                        <span>
                                                            Load 4
                                                            <!-- <i *ngIf="(customer.sortField === 'sale')" [ngClass]="(customer.isAsc && customer.sortField === 'sale' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>  -->
                                                        </span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              
                                                <tr *ngFor="let item of loadList">
                                                   <td> {{item.ProductName}}</td>
                                                    <td >
                                                        <input [disabled]="item.disabled['Load1'] || loadData?.TripStatus" [(ngModel)]='item.Load1' class="form-control small-input text-align-right"
                                                         type="number" min="0" >
                                                    </td>
                                                   
                                                    <td >
                                                        <input [disabled]="item.disabled['Load2'] || loadData?.TripStatus" [(ngModel)]='item.Load2' class="form-control small-input dollar-input text-align-right"
                                                        type="number" min="0" >
                                                    </td>
                                                   
                                                    <td >
                                                        <input [disabled]="item.disabled['Load3'] || loadData?.TripStatus" [(ngModel)]='item.Load3' class="form-control small-input text-align-right"
                                                        type="number" min="0" >
                                                    </td>
                                                    <td colspan="2">
                                                        <input [disabled]="item.disabled['Load4'] || loadData?.TripStatus" [(ngModel)]='item.Load4' class="form-control small-input text-align-right"
                                                            type="number" min="0" >
                                                            
                                                    </td>
                                                   
                                                </tr>
                                            </tbody>

                                            <tbody *ngIf="isNewlyAdded" class="add-border">
                                                    <tr *ngFor="let item of newlyAddedProduct; let i = index">
                                                        <td >
                                                            <select class="form-control small-select" [(ngModel)]='item.ProductID' (ngModelChange)="productChangeHandler(item, i)">
                                                                <option *ngFor="let product of productList;" [ngValue]='product.ProductID'>
                                                                    {{product.ProductName}}
                                                                </option>
                                                            </select>
                                                        </td>
                                                        
                                                        <td >
                                                            <input [disabled]='!item.ProductID' [(ngModel)]='item.Load1'
                                                                class="form-control small-input text-align-right"
                                                                type="number" min="0">
                                                        </td>
                                                      
                                                        <td >
                                                            <input [disabled]='!item.ProductID' [(ngModel)]='item.Load2'
                                                                 class="form-control small-input dollar-input text-align-right"
                                                                 type="number" min="0">
                                                        </td>
                                                       
                                                        <td >
                                                            <input [disabled]='!item.ProductID' [(ngModel)]='item.Load3'
                                                                 class="form-control small-input text-align-right"
                                                                 type="number" min="0">
                                                        </td>
        
        
                                                        <td >
                                                            <input [disabled]='!item.ProductID' [(ngModel)]='item.Load4'
                                                                 class="form-control small-input text-align-right"
                                                                 type="number" min="0">
                                                                
                                                        </td>
                                                        <td width="0%">
                                                                <i class="ion-trash-a custom-tooltip-ion" (click)="removeProduct(i)">
                                                                        <span class="tooltiptext">Delete</span>
                                                                </i>
                                                                </td>
                                                    </tr>
                                                </tbody>
                                        <tbody>
                                            <tr *ngIf="!newlyAddedProduct.length && !loadList.length">
                                                <th class="text-center" colspan="13"> No data found </th>
                                            </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                        
                </ngb-tabset>
            </ba-card>
        </div>
    </div>