<div class="flex-container" style="padding: .5em;min-width: 336px;">
    <mat-card>

        <mat-card-content style="padding-top: 10px;">
            <mat-tab-group>
                <mat-tab label="Order">
                    <ng-template matTabContent>Order</ng-template>
                    <div class="flex-container remove-justification" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
                        <mat-card class="card-picture" *ngFor="let picture of cartData">
                            <img [src]="picture.img">
                            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                                <!-- <span>{{picture.title}}</span> -->
                            </mat-card-title>
                            <div class="p-8 pt-0" style="padding-bottom:10px;" fxLayoutAlign="center center">
                                {{picture.title}}
                            </div>
                            <mat-divider></mat-divider>
                            <div class="p-8 pt-0" style="padding-top:10px;" fxLayoutAlign="center center">

                                <button mat-raised-button color="accent">
                                    <i class="custom-icon md-icon-addcart"></i>Add to cart</button>
                            </div>
                        </mat-card>
                    </div>
                </mat-tab>
                <mat-tab label="Equipment">
                    <ng-template matTabContent>Equipment</ng-template>
                    <div class="flex-container remove-justification" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
                        <mat-card class="card-picture" *ngFor="let picture of cartData">
                            <img [src]="picture.img">
                            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                                <!-- <span>{{picture.title}}</span> -->
                            </mat-card-title>
                            <div class="p-8 pt-0" style="padding-bottom:10px;" fxLayoutAlign="center center">
                                {{picture.title}}
                            </div>
                            <mat-divider></mat-divider>
                            <div class="p-8 pt-0" style="padding-top:10px;" fxLayoutAlign="center center">

                                <button mat-raised-button color="accent">
                                    <i class="custom-icon md-icon-addcart"></i>Add to cart</button>
                            </div>
                        </mat-card>
                    </div>

                </mat-tab>
                <mat-tab label="Invoice">
                    <ng-template matTabContent>Invoice</ng-template>
                    <div class="flex-container remove-justification" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
                        <mat-card class="card-picture" *ngFor="let picture of cartData">
                            <img [src]="picture.img">
                            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                                <!-- <span>{{picture.title}}</span> -->
                            </mat-card-title>
                            <div class="p-8 pt-0" style="padding-bottom:10px;" fxLayoutAlign="center center">
                                {{picture.title}}
                            </div>
                            <mat-divider></mat-divider>
                            <div class="p-8 pt-0" style="padding-top:10px;" fxLayoutAlign="center center">

                                <button mat-raised-button color="accent">
                                    <i class="custom-icon md-icon-addcart"></i>Add to cart</button>
                            </div>
                        </mat-card>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>

</div>