<div class="flex-container" style="padding: .5em;min-width: 336px;">
    <mat-card>

        <mat-card-content style="padding-top: 10px;">
            <mat-tab-group>
                <mat-tab label="Order">
                    <ng-template matTabContent>Order</ng-template>
                    <div class="flex-container remove-justification" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
                        <mat-card class="card-picture" *ngFor="let order of orderData">
                            <table style="width:100%;border:0px;"  cellpadding="2" cellspacing="0" border="0">
                                <tr style="background-color: darkturquoise;">
                                    <td>ORDER ID</td>
                                    <td>{{order.Order}}</td>
                                </tr>
                                <tr>
                                    <td>Order Date</td>
                                    <td>{{order.OrderDate}}</td>
                                </tr>
                                <tr>
                                    <td>Latest Delivery</td>
                                    <td>{{order.LatestDelivery}}</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>{{order.Status}}</td>
                                </tr>
                            </table>
                        </mat-card>
                        <div style="text-align: right">
                            <button mat-button color="accent">
                                Show More...
                            </button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Equipment">
                    <ng-template matTabContent>Equipment</ng-template>
                    <div class="flex-container remove-justification" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

                        <mat-card class="card-picture" *ngFor="let order of equipmentData">
                            <table style="width:100%;border:0px;" cellpadding="2" cellspacing="0" border="0">
                                <tr style="background-color: darkturquoise;">
                                    <td>ORDER ID</td>
                                    <td>{{order.Order}}</td>
                                </tr>
                                <tr>
                                    <td>Order Date</td>
                                    <td>{{order.OrderDate}}</td>
                                </tr>
                                <tr>
                                    <td>Latest Delivery</td>
                                    <td>{{order.LatestDelivery}}</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>{{order.Status}}</td>
                                </tr>
                            </table>
                        </mat-card>



                        <div style="text-align: right">
                            <button mat-button color="accent">
                                Show More...
                            </button>
                        </div>
                    </div>

                </mat-tab>
                <mat-tab label="Invoice">
                    <ng-template matTabContent>Invoice</ng-template>
                    <div class="flex-container remove-justification" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
                            <mat-card class="card-picture" *ngFor="let inv of invoiceData">
                                    <table style="width:100%;border:0px;" cellpadding="2" cellspacing="0" border="0">
                                        <tr style="background-color: darkturquoise;">
                                            <td>INVOICE NO</td>
                                            <td>{{inv.InvoiceNo}}</td>
                                        </tr>
                                        <tr>
                                            <td>Invoice Date</td>
                                            <td>{{inv.InvoiceDate}}</td>
                                        </tr>
                                        <tr>
                                            <td>Amount</td>
                                            <td>{{inv.Amount}}</td>
                                        </tr>
                                    </table>
                                </mat-card>
        
        
        
                                <div style="text-align: right">
                                    <button mat-button color="accent">
                                        Show More...
                                    </button>
                                </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>

</div>