@import '../../../../theme/sass/smartTable';

.page-header {
    margin: 10px 0;
};
.bottom-margin{
    margin-bottom: 20px;
}
.right{
    text-align: right;
}

.cash-reconciliation-table {
    width: 100%
}
.overflow{
    overflow-y: scroll;
}
.add-margin-bottom{
    margin-bottom: 15px;
}
.bold-head{
    div span{
        font-weight: bold;
    }
}
.head-button-container{
   position: absolute;
    right: 20px;
    top: 7px;
    
}
.add-margin-right{
    margin-right: 20px;
}
.small-input{
  
    padding: 5px !important;
    margin-top: 3px;
   
}
.dollar-input:before{
    content: '\0024';
    height: 30px;
    width: 30px;
    position: absolute;
    left: -20px;
    
}   
