@import '../../../../theme/sass/smartTable';

.page-header {
    margin: 10px 0;
};
.bottom-margin{
    margin-bottom: 20px;
}
.right{
    text-align: right;
}

.cash-reconciliation-table {
    width: 100%
}
.overflow{
    overflow-y: scroll;
}
.add-margin-bottom{
    margin-bottom: 20px;
}
.bold-head{
    div span{
        font-weight: bold;
    }
}    