<div class="row">
    <div class=" col-md-12">
        <ba-card cardTitle="  Trip Detail {{userSubTitle}}" baCardClass="with-scroll" class="smart-table-container" #customer>
            <img src="assets/reddyIce/draftTicket.png" *ngIf="tripData.TripStatusID == 23" width="15" class="newTicketTitleStatusIcon">
            <img src="assets/reddyIce/submitTicket.png" *ngIf="tripData.TripStatusID == 24" width="18" class="newTicketTitleStatusIcon">
            <img src="assets/reddyIce/approveTicket.png" *ngIf="tripData.TripStatusID == 25" width="15" class="newTicketTitleStatusIcon">
            <div class="head-button-container">
                <button class="btn btn-danger pull-right" *ngIf='(tripData.TripStatusID == 23 || tripData.TripStatusID == 24) && userRoleId ==3'
                    (click)="saveReconciliation(25);">Approve</button>
                <button class="btn btn-danger pull-right" [hidden]='userRoleId==3 || tripData.TripStatusID == 25' (click)="saveReconciliation(24)">Submit</button>
                <!--<button class="btn btn-danger pull-right add-margin-right" [hidden]='tripData.TripStatusID == 24 || tripData.TripStatusID == 25'
                    (click)="saveReconciliation(23)">Save</button>-->
                <button class="btn btn-danger pull-right add-margin-right" [routerLink]="['../../']">Back</button>
            </div>
            <div class="row add-margin-bottom">

                <div class=" col-md-12">
                    <div class="row page-header bold-head">
                        <div class="col-md-3">
                            <span>Branch:</span>
                            <label>{{tripData.BranchCode}} - {{tripData.BranchName}}</label>
                        </div>
                        <div class="col-md-2">
                            <span>Route:</span>
                            <label>{{tripData.IsUnplanned?'Unplanned':tripData.RouteNumber}}</label>
                        </div>
                        <div class="col-md-2">
                            <span>Trip Code:</span>
                            <label>{{tripData.TripCode}}</label>
                        </div>
                        <div class="col-md-2">
                            <span>HH Day End:</span>
                            <label>{{tripData.IsClosed?'Yes':'No'}}</label>
                        </div>
                        <div class="col-md-3">
                            <span>Trip Start Date:</span>
                            <label>{{tripData.TripStartDate|date}}</label>
                        </div>
                    </div>
                    <div class="row page-header bold-head">
                        <div class="col-md-3">
                            <span>Driver:</span>
                            <label>{{tripData.DriverName}}</label>
                        </div>
                        <div class="col-md-2">
                            <span>Truck:</span>
                            <label>{{tripData.TruckID}}</label>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <span>Status:</span>
                                <label>{{tripStatus(tripData.TripStatusID)}}</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <span>ERP Processed:</span>
                            <label>{{tripData.IsProcessed?'Yes':'No'}}</label>
                        </div>
                        <div class="col-md-3">
                            <span>Trip End Date:</span>
                            <label>{{tripData.TripEndDate|date}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <ngb-tabset class='dayend-tabset'>
                <ngb-tab title="Ticket Details">
                    <ng-template ngbTabContent>
                        <div class="row page-header">
                            <div class="col-md-6 padding-eater">
                            </div>
                            <div class="col-md-6 pull-right">
                                <button class="btn btn-danger pull-right" [hidden]='tripData.TripStatusID == 25' [routerLink]="['../../../manual-ticket/trip-ticket',tripId]"
                                    [queryParams]="{branchId:tripData.BranchID, driverId:tripData.UserID, isDistributor:tripData.DistributorMasterID, sdate:tripData.TripStartDate, edate:tripData.TripEndDate}">Create Ticket</button>
                            </div>
                            <div class="col-md-12 page-header">
                                <div class="overflow">
                                    <table class="table table-striped">
                                        <thead class="tableHeader">
                                            <tr>
                                                <th></th>
                                                <th>
                                                    <span style="cursor:pointer;" (click)="customer.sortField = 'TicketNumber';customer.isAsc=!customer.isAsc;">
                                                        Ticket #
                                                        <i *ngIf="(customer.sortField === 'TicketNumber')" [ngClass]="(customer.isAsc && customer.sortField === 'TicketNumber' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                                                    </span>
                                                </th>
                                                <th>
                                                    <span style="cursor:pointer;" (click)="customer.sortField = 'TicketTypeID';customer.isAsc=!customer.isAsc;">
                                                        Ticket Type
                                                        <i *ngIf="(customer.sortField === 'TicketTypeID')" [ngClass]="(customer.isAsc && customer.sortField === 'TicketTypeID' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                                                    </span>
                                                </th>
                                                <th>
                                                    <span style="cursor:pointer;" (click)="customer.sortField = 'CustomerNumber';customer.isAsc=!customer.isAsc;">
                                                        Customer
                                                        <i *ngIf="(customer.sortField == 'CustomerNumber')" [ngClass]="(customer.isAsc && customer.sortField == 'CustomerNumber' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                                                    </span>
                                                </th>
                                                <th class="textRightPadd">
                                                    <span>
                                                        Total Invoice
                                                        <!-- <i *ngIf="(customer.sortField === 'CheckAmount')" [ngClass]="(customer.isAsc && customer.sortField === 'CheckAmount' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>  -->
                                                    </span>
                                                </th>
                                                <th class="textRightPadd">
                                                    <span>
                                                        Received Amt
                                                        <!-- <i *ngIf="(customer.sortField === 'IsSaleTicket')" [ngClass]="(customer.isAsc && customer.sortField === 'IsSaleTicket' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>  -->
                                                    </span>
                                                </th>
                                                <!-- <th class="textRightPadd" *ngIf="logedInUser.Role.RoleID!='3'">
                                                    Drayage
                                                </th>
                                                <th class="textRightPadd" *ngIf="logedInUser.Role.RoleID!='3'">
                                                    Buyback
                                                </th>
                                                <th class="text-align-center">
                                                    RI Internal
                                                </th>-->
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let item of tripData?.TripTicketList|sort:customer.sortField:customer.isAsc">
                                                <td>
                                                    <i class="ion-iphone custom-tooltip-ion" style="margin: 0 5px" *ngIf="!item.IsPaperTicket">
                                                        <span class="tooltiptext">HH Ticket</span>
                                                    </i>
                                                    <i class="ion-ios-book custom-tooltip-ion" style="margin: 0 5px" *ngIf="item.IsPaperTicket">
                                                        <span class="tooltiptext">Paper Ticket</span>
                                                    </i>
                                                    <i class="ion-edit custom-tooltip-ion custom-tooltip-ion" style="margin: 0 5px" *ngIf="item.IsPaperTicket && tripData.TripStatusID != 25"
                                                        [routerLink]="['../../../manual-ticket/ticket-trip',item.ID]">
                                                        <span class="tooltiptext">Edit</span>
                                                    </i>
                                                    <i class="ion-ios-information-outline custom-tooltip-ion" style="margin-right: 5px" (click)="viewTicket(item.ID)">
                                                        <span class="tooltiptext">View </span>
                                                    </i>
                                                </td>
                                                <td class="text-align-left">{{item.TicketNumber }}</td>
                                                <td>{{item.ticketType}}</td>
                                                <td>
                                                    <span [title]="item.CustomerNumber +'-'+ item.CustomerName">{{item.CustomerNumber }} - {{item.CustomerName | cutString:false:20 }}</span>
                                                </td>
                                                <td class="textRightPadd" [ngClass]="{'credit-amount':item.TicketTypeID === 27}">
                                                    <span *ngIf="item.TicketTypeID === 27">(</span>{{ item.amount | currency:'USD':true:'1.2' }}
                                                    <span *ngIf="item.TicketTypeID === 27">)</span>
                                                </td>
                                                <td class="textRightPadd">
                                                    <span [hidden]="item.TicketTypeID == 30">{{ item.checkCashAmount | currency:'USD':true:'1.2' }}</span>
                                                    <span *ngIf="item.TicketTypeID == 30">$0.00</span>
                                                </td>
                                                <!--td class="textRightPadd" ></td-->
                                                <!--td class="textRightPadd" *ngIf="!item.CashAmount && !item.CheckAmount"></td-->
                                                <!-- <td class="textRightPadd" [hidden]="item.Drayage" *ngIf="logedInUser.Role.RoleID!='3'"></td>
                                                <td class="textRightPadd" [ngClass]="{'credit-amount':item.TicketTypeID === 27}" [hidden]="!item.Drayage" *ngIf="logedInUser.Role.RoleID!='3'"><span *ngIf="item.TicketTypeID === 27">(</span>{{item.Drayage| currency:'USD':true:'1.2'}}<span *ngIf="item.TicketTypeID === 27">)</span></td>
                                                <td class="textRightPadd" [hidden]="item.BuyBack" *ngIf="logedInUser.Role.RoleID!='3'"></td>
                                                <td class="textRightPadd" [ngClass]="{'credit-amount':item.TicketTypeID === 27}" [hidden]="!item.BuyBack" *ngIf="logedInUser.Role.RoleID!='3'"><span *ngIf="item.TicketTypeID === 27">(</span>{{item.BuyBack| currency:'USD':true:'1.2'}}<span *ngIf="item.TicketTypeID === 27">)</span></td>
                                                <td class="text-align-center">
                                                    <input type="checkbox" disabled name="riInternal" [checked]="item.CustomerSourceID===101">
                                                </td>-->
                                            </tr>
                                            <tr *ngIf="!tripData?.TripTicketList?.length">
                                                <th class="text-center" colspan="6"> No data found </th>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    <b>Total</b>
                                                </td>
                                                <td class="textRightPadd">
                                                    <b>{{ticketTotal.invoiceTotal | currency:'USD':true:'1.2'}}</b>
                                                </td>
                                                <td class="textRightPadd">
                                                    <b>{{ticketTotal.receivedTotal | currency:'USD':true:'1.2'}}</b>
                                                </td>
                                                <!-- <td class="textRightPadd" *ngIf="logedInUser.Role.RoleID!='3'" ><b>{{ticketTotal.totalDrayage | currency:'USD':true:'1.2'}}</b></td>
                                                <td class="textRightPadd" *ngIf="logedInUser.Role.RoleID!='3'"><b>{{ticketTotal.totalBuyBack | currency:'USD':true:'1.2'}}</b></td>-->
                                                <!-- <td class="textRightPadd" *ngIf="!user.IsRIInternal"><b>{{total.totalDistAmt | currency:'USD':true:'1.2'}}</b></td> -->
                                                <!-- <td></td>-->
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Units Reconciliation">
                    <ng-template ngbTabContent>
                        <div class="row page-header">
                            <div class="col-sm-6">
                                <table class="pallets">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span>Pallets </span>
                                            </td>
                                            <td>
                                                <span>Issued: </span>
                                                <input [(ngModel)]='tripData.PalletLoadQuantity' [disabled]='userRoleId==3 || tripData.TripStatusID == 25 || !tripData.IsClosed' style="width:70px"
                                                    type="text" [numberOnly]>
                                            </td>
                                            <td>
                                                <span>Returned: </span>
                                                <input [(ngModel)]='tripData.PalletReturnQuantity' [disabled]='userRoleId==3 || tripData.TripStatusID == 25 || !tripData.IsClosed' style="width:70px"
                                                    type="text" [numberOnly]>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                            <div class="col-sm-6">
                                <button class="btn btn-danger pull-right" (click)=addProductRow() [hidden]='true || tripData.TripStatusID == 25 || userRoleId ==3'>Add Product</button>
                            </div>
                            <div class="col-md-12 page-header">

                                <div class="overflow">
                                    <table class="table table-bordered">
                                        <thead class="tableHeader">
                                            <tr>
                                                <th class="text-align-left">
                                                    <span>
                                                        Product
                                                        <!-- <i *ngIf="(customer.sortField == 'product')" [ngClass]="(customer.isAsc && customer.sortField == 'product' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>  -->
                                                    </span>
                                                </th>
                                                <th colspan="2" class="text-center">
                                                    <span>
                                                        Load
                                                        <!-- <i *ngIf="(customer.sortField == 'load')" [ngClass]="(customer.isAsc && customer.sortField == 'load' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>  -->
                                                    </span>
                                                </th>
                                                <th colspan="2" class="text-center">
                                                    <span>
                                                        Return
                                                        <!-- <i *ngIf="(customer.sortField === 'return')" [ngClass]="(customer.isAsc && customer.sortField === 'return' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>  -->
                                                    </span>
                                                </th>
                                                <th colspan="2" class="text-center">
                                                    <span>
                                                        Truck Junk
                                                        <!-- <i *ngIf="(customer.sortField === 'truckDamage')" [ngClass]="(customer.isAsc && customer.sortField === 'truckDamage' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>  -->
                                                    </span>
                                                </th>
                                                <th>
                                                    <span>
                                                        Sales
                                                        <!-- <i *ngIf="(customer.sortField === 'sale')" [ngClass]="(customer.isAsc && customer.sortField === 'sale' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>  -->
                                                    </span>
                                                </th>

                                                <th>
                                                    <span>
                                                        Sales
                                                        <br> Credits
                                                        <!-- <i *ngIf="(customer.sortField === 'sale')" [ngClass]="(customer.isAsc && customer.sortField === 'sale' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>  -->
                                                    </span>
                                                </th>
                                                <th>
                                                    <span>
                                                        Manual
                                                        <br> Tickets
                                                        <!-- <i *ngIf="(customer.sortField === 'sale')" [ngClass]="(customer.isAsc && customer.sortField === 'sale' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>  -->
                                                    </span>
                                                </th>
                                                <th colspan="2" class="text-center">
                                                    <span>
                                                        Inv Junk
                                                        <!-- <i *ngIf="(customer.sortField === 'customerDamage')" [ngClass]="(customer.isAsc && customer.sortField === 'customerDamage' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>  -->
                                                    </span>
                                                </th>
                                                <th>
                                                    <span>
                                                        Over/
                                                        <br>Short
                                                        <!-- <i *ngIf="(customer.sortField === 'over')" [ngClass]="(customer.isAsc && customer.sortField === 'over' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>  -->
                                                    </span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of unitReconciliation|sort:customer.sortField:customer.isAsc">
                                                <td width="25%" style="text-align:left;">{{item.ProductName}}</td>
                                                <td width="6%">{{item.Load?item.Load:0}}</td>
                                                <td width="9%">
                                                    <input [disabled]='userRoleId==3 || tripData.TripStatusID == 25 || !tripData.IsClosed' [(ngModel)]='item.Load1Quantity' class="form-control small-input"
                                                        type="text" [numberOnly] (ngModelChange)="unitReconChange(item)">
                                                </td>
                                                <td width="6%">{{item.Returns? item.Returns:0}}</td>
                                                <td width="9%">
                                                    <input [disabled]='userRoleId==3 || tripData.TripStatusID == 25 || !tripData.IsClosed' [(ngModel)]='item.ReturnQuantity' class="form-control small-input dollar-input"
                                                        type="text" [numberOnly] (ngModelChange)="unitReconChange(item)">
                                                </td>
                                                <td width="5%">{{item.TruckDamage?item.TruckDamage:0}}</td>
                                                <td width="9%">
                                                    <input [disabled]='userRoleId==3 || tripData.TripStatusID == 25 || !tripData.IsClosed' [(ngModel)]='item.DamageQuantity' class="form-control small-input"
                                                        type="text" [numberOnly] (ngModelChange)="unitReconChange(item)">
                                                </td>


                                                <td width="7%">{{item.Sale?item.Sale:0}}</td>
                                                <td width="7%">{{item.SaleReturnQty?item.SaleReturnQty:0}}</td>
                                                <td width="5%">{{item.ManualTicket?item.ManualTicket:0}}</td>
                                                <td width="6%">{{item.CustomerDamage?item.CustomerDamage:0}}</td>
                                                <td width="9%">
                                                    <input [disabled]='userRoleId==3 || tripData.TripStatusID == 25 || !tripData.IsClosed' [(ngModel)]='item.CustomerDamageDRV' class="form-control small-input"
                                                        type="text" [numberOnly] (ngModelChange)="unitReconChange(item)">
                                                </td>
                                                <td class="textAlignCenter" width="7%">{{item.OverShort}}</td>
                                            </tr>
                                        </tbody>
                                        <tbody *ngIf="isNewlyAdded" class="add-border">
                                            <tr *ngFor="let item of newlyAddedProduct; let i = index">
                                                <td width="25%">
                                                    <select class="form-control small-select" [(ngModel)]='item.ProductID' (ngModelChange)="productChangeHandler(item, i)">
                                                        <option *ngFor="let product of productList;" [ngValue]='product.ProductID'>
                                                            {{product.ProductName}}
                                                        </option>
                                                    </select>
                                                </td>
                                                <td width="6%">{{item.Load?item.Load:0}}</td>
                                                <td width="9%">
                                                    <input numberOnly [disabled]='!item.ProductName || userRoleId==3 || tripData.TripStatusID == 25 || !tripData.IsClosed' [(ngModel)]='item.Load1Quantity'
                                                        (ngModelChange)="unitReconChange(item)" class="form-control small-input"
                                                        type="number">
                                                </td>
                                                <td width="6%">{{item.Returns? item.Returns:0}}</td>
                                                <td width="9%">
                                                    <input numberOnly [disabled]='!item.ProductName || userRoleId==3 || tripData.TripStatusID == 25 || !tripData.IsClosed' [(ngModel)]='item.ReturnQuantity'
                                                        (ngModelChange)="unitReconChange(item)" class="form-control small-input dollar-input"
                                                        type="number">
                                                </td>
                                                <td width="5%">{{item.TruckDamage?item.TruckDamage:0}}</td>
                                                <td width="9%">
                                                    <input numberOnly [disabled]='!item.ProductName || userRoleId==3 || tripData.TripStatusID == 25 || !tripData.IsClosed' [(ngModel)]='item.DamageQuantity'
                                                        (ngModelChange)="unitReconChange(item)" class="form-control small-input"
                                                        type="number">
                                                </td>



                                                <td width="7%">{{item.Sale?item.Sale:0}}</td>
                                                <td width="7%">{{item.SaleReturnQty?item.SaleReturnQty:0}}</td>
                                                <td width="5%">{{item.ManualTicket?item.ManualTicket:0}}</td>
                                                <td width="6%">{{item.CustomerDamage?item.CustomerDamage:0}}</td>
                                                <td width="9%">
                                                    <input numberOnly [disabled]='!item.ProductName || userRoleId==3 || tripData.TripStatusID == 25 || !tripData.IsClosed' [(ngModel)]='item.CustomerDamageDRV'
                                                        (ngModelChange)="unitReconChange(item)" class="form-control small-input"
                                                        type="number">
                                                </td>
                                                <td width="7%">{{item.OverShort?item.OverShort:0}}
                                                    <i (click)="removeProduct(i);" class="ion-trash-a remove-item"></i>
                                                </td>
                                            </tr>
                                            <tr *ngIf="!unitReconciliation.length && !newlyAddedProduct.length">
                                                <th class="text-center" colspan="12"> No data found </th>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <b>Total</b>
                                                </td>
                                                <td>{{totalUnit.TotalLoad}}</td>
                                                <td>{{totalUnit.TotalLoadActual}}</td>
                                                <td>{{totalUnit.TotalReturn}}</td>
                                                <td>{{totalUnit.TotalReturnActual}}</td>
                                                <td>{{totalUnit.TotalTruckDamage}}</td>
                                                <td>{{totalUnit.TotalTruckDamageActual}}</td>
                                                <td>{{totalUnit.TotalSale}}</td>
                                                <td>{{totalUnit.TotalSaleCredits}}</td>
                                                <td>{{totalUnit.TotalManualTickets}}</td>
                                                <td>{{totalUnit.TotalCustomerDamage}}</td>
                                                <td>{{totalUnit.TotalCustomerDamageActual}}</td>
                                                <td style="text-align:center">{{ totalUnit.TotalOverShort?totalUnit.TotalOverShort:0}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Cash Reconciliation">
                    <ng-template ngbTabContent>
                        <div class="row page-header">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <table class="table table-condensed table-bordered cash-table">
                                    <thead class="tableHeader">
                                        <th></th>
                                        <th>Total Sale</th>
                                        <th>Cash</th>
                                        <th>Check</th>
                                        <th>Credit Card</th>
                                        <th>Charge</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Manual Tickets</td>
                                            <td class="text-align-right">{{ ticketDetails?.Total.TotalManualSale | currency:'USD':true:'1.2'}}</td>
                                            <td class="text-align-right">{{ ticketDetails?.Total.TotalManualCash | currency:'USD':true:'1.2'}}</td>
                                            <td class="text-align-right">{{ ticketDetails?.Total.TotalManualCheck | currency:'USD':true:'1.2'}}</td>
                                            <td class="text-align-right">{{ ticketDetails?.Total.TotalManualCreditCard | currency:'USD':true:'1.2'}}</td>
                                            <td class="text-align-right">{{ ticketDetails?.Total.TotalManualCharge | currency:'USD':true:'1.2'}}</td>
                                        </tr>
                                        <tr>
                                            <td>HH Tickets</td>
                                            <td class="text-align-right">{{ ticketDetails?.Total.TotalHHSale | currency:'USD':true:'1.2'}}</td>
                                            <td class="text-align-right">{{ ticketDetails?.Total.TotalHHCash | currency:'USD':true:'1.2'}}</td>
                                            <td class="text-align-right">{{ ticketDetails?.Total.TotalHHCheck | currency:'USD':true:'1.2'}}</td>
                                            <td class="text-align-right">{{ ticketDetails?.Total.TotalHHCreditCard | currency:'USD':true:'1.2'}}</td>
                                            <td class="text-align-right">{{ ticketDetails?.Total.TotalHHCharge | currency:'USD':true:'1.2'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        <div class="row cash-recon-container">
                            <div class="col-sm-8">

                                <div class="row cash-recon-container">
                                    <div class="col-sm-6">
                                        <div class="border">
                                            <div class="row padding">
                                                <h5 class="frameHeading">Payment</h5>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <label>Cash:</label>
                                                </div>
                                                <div class="col-sm-4 text-align-right">
                                                    <span>{{ ticketDetails?.Total.TotalManualCash + ticketDetails?.Total.TotalHHCash
                                                        | currency:'USD':true:'1.2'}}</span>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label>Check:</label>
                                                </div>
                                                <div class="col-sm-4 text-align-right">
                                                    <span>{{ ticketDetails?.Total.TotalHHCheck + ticketDetails?.Total.TotalManualCheck
                                                        | currency:'USD':true:'1.2'}}</span>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label>Credit Card:</label>
                                                </div>
                                                <div class="col-sm-4 text-align-right">
                                                    <span>{{ ticketDetails?.Total.TotalHHCreditCard + ticketDetails?.Total.TotalManualCreditCard
                                                        | currency:'USD':true:'1.2'}}</span>
                                                </div>
                                                <div class="col-sm-12">
                                                    <hr style="margin: 2px 0">
                                                </div>
                                                <div class="col-sm-8 ">
                                                    <label>Total Payment:</label>
                                                </div>
                                                <div class="col-sm-4 text-align-right">
                                                    <span>
                                                        <b>{{ ticketDetails?.Total.TotalManualCash + ticketDetails?.Total.TotalHHCash
                                                            + ticketDetails?.Total.TotalHHCheck + ticketDetails?.Total.TotalManualCheck
                                                            + ticketDetails?.Total.TotalHHCreditCard + ticketDetails?.Total.TotalManualCreditCard
                                                            | currency:'USD':true:'1.2'}}</b>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="border">
                                            <div class="row padding">
                                                <h5 class="frameHeading">Sales</h5>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <label>Cash:</label>
                                                </div>
                                                <div class="col-sm-4 text-align-right">
                                                    <span> {{ ticketDetails?.Total.TotalCashCustomer | currency:'USD':true:'1.2'}}</span>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label>Charge:</label>
                                                </div>
                                                <div class="col-sm-4 text-align-right">
                                                    <span>{{ ticketDetails?.Total.TotalChargeCustomer | currency:'USD':true:'1.2'}}</span>
                                                </div>
                                                <div class="col-sm-12">
                                                    <hr style="margin: 2px 0">
                                                </div>
                                                <div class="col-sm-8">
                                                    <label>Total Sale:</label>
                                                </div>
                                                <div class="col-sm-4 text-align-right">
                                                    <span>
                                                        <b>{{ticketDetails?.Total.TotalCashCustomer + ticketDetails?.Total.TotalChargeCustomer
                                                            | currency:'USD':true:'1.2'}}</b>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row cash-recon-container">
                                    <div class="col-sm-12">
                                        <div class="border">
                                            <div class="row padding">
                                                <h5 class="frameHeading">Comments</h5>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <textarea rows="5" style="width:100%;border:0px;resize: none;" [(ngModel)]="tripData.Comments"></textarea>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 ">
                                <div class="border">
                                    <div class="row padding">
                                        <h5 class="frameHeading">Actual Deposit</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <label>Cash($):</label>
                                        </div>
                                        <div class="col-sm-4 text-align-right">
                                            <input type="text" [numberOnly]="true" [(ngModel)]='ticketDetails?.Total.actualdepositcash' (ngModelChange)="cashReconChange(ticketDetails)"
                                                min="0" [disabled]='userRoleId==3 || tripData.TripStatusID == 25 || !tripData.IsClosed' placeholder="0.00">
                                        </div>
                                        <div class="col-sm-8">
                                            <label>Check($):</label>
                                        </div>
                                        <div class="col-sm-4 text-align-right">
                                            <input type="text" [numberOnly]="true" [(ngModel)]='ticketDetails?.Total.actualdepositcheck' (ngModelChange)="cashReconChange(ticketDetails)"
                                                min="0" [disabled]='userRoleId==3 || tripData.TripStatusID == 25 || !tripData.IsClosed' placeholder="0.00">
                                        </div>
                                        <div class="col-sm-8">
                                            <label>Coins($):</label>
                                        </div>
                                        <div class="col-sm-4 text-align-right">
                                            <input type="text" [numberOnly]="true" [(ngModel)]='ticketDetails?.Total.ActualCoin' (ngModelChange)="cashReconChange(ticketDetails)"
                                                min="0" [disabled]='userRoleId==3 || tripData.TripStatusID == 25 || !tripData.IsClosed' placeholder="0.00">
                                        </div>
                                        <div class="col-sm-12">
                                            <hr style="border-top: dotted 1px #ccc; margin:5px 0" />
                                        </div>
                                        <div class="col-sm-8">
                                            <label>Credit Card($):</label>
                                        </div>
                                        <div class="col-sm-4 text-align-right">
                                            <input type="text" [numberOnly]="true" min="0" [value]='ticketDetails?.Total.CreditCardAmountTotal' disabled placeholder="0.00">
                                        </div>
                                        <div class="col-sm-8">
                                            <label>Misc($):</label>
                                        </div>
                                        <div class="col-sm-4 text-align-right">
                                            <input type="text" [numberOnly]="true" [(ngModel)]='ticketDetails?.Total.Misc' (ngModelChange)="cashReconChange(ticketDetails)"
                                                min="0" [disabled]='userRoleId==3 || tripData.TripStatusID == 25 || !tripData.IsClosed' placeholder="0.00">
                                        </div>
                                        <div class="col-sm-12">
                                            <hr style="margin: 2px 0">
                                        </div>
                                        <div class="col-sm-8">
                                            <label>Total Deposit:</label>
                                        </div>
                                        <div class="col-sm-4 text-align-right">
                                            <span>
                                                <b>{{totalDeposit|currency:'USD':true:'1.2'}}</b>
                                            </span>
                                        </div>
                                        <div class="col-sm-8">
                                            <label>Over/Short:</label>
                                        </div>
                                        <div class="col-sm-4 text-align-right">
                                            <span>
                                                <b>{{ totalOverShort | currency:'USD':true:'1.2'}}</b>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-template>
                </ngb-tab>

            </ngb-tabset>
        </ba-card>
    </div>
</div>