<div class="row page-header">
    <div class=" col-md-12">
        <ba-card cardTitle="Details" baCardClass="with-scroll" class="smart-table-container" #customer>
            <div class="row page-header">
                <div class="col-md-12 pull-right">
                                <button class="btn btn-danger pull-right" [routerLink]="['../list']" >Back</button>
                                </div>
                <div class=" col-md-12">
                    <div class="row page-header">
                        <div class="col-md-4">
                            <span>Branch :</span>
                            <label>{{tripData.BranchID}}</label>
                        </div>
                        <div class="col-md-4">
                            <span>Route :</span>
                            <label>{{tripData.RouteNumber}}</label>
                        </div>
                        <div class="col-md-4">
                            <span>Driver :</span>
                            <label>{{tripData.DriverName}}</label>
                        </div>
                        <div class="col-md-4">
                            <span>Trip :</span>
                            <label>{{tripData.TripID}}</label>
                        </div>
                        <div class="col-md-4">
                            <span>Truck :</span>
                            <label>{{tripData.TruckID}}</label>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <span>Status :</span>
                                <label>NA</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ngb-tabset class='dayend-tabset'>
                <ngb-tab title="Cash Reconciliation">
                    <ng-template ngbTabContent>
                        <div class="row page-header">
                            <div class="col-md-12">
                                <button class="btn btn-danger pull-right" (click)="saveReconciliation()">Approve</button>
                            </div>
                            <div class="col-md-12 padding-eater">
                                <label>Pallets:</label>
                                <label>5</label>
                            </div>
                        </div>
                        <div class="row page-header">
                            <div class="col-md-12">
                                <table class="cash-reconciliation-table" style="text-align:center">
                                    <thead>
                                        <th></th>
                                        <th style="text-align:center">Payment</th>
                                        <th style="text-align:center">Actual</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Check</td>
                                            <td>{{ticketDetails?.Total.TotalCheck}}</td>
                                            <td style="max-width:70px"><input class="form-control" type="text" [value]="Actual" [(ngModel)]="Actual"
                                                    (ngModelChange)="doAddition()"></td>
                                            <td>Coins</td>
                                            <td style="max-width:70px"><input class="form-control" type="text" [value]="Coins" [(ngModel)]="Coins" (ngModelChange)="doAddition()"></td>
                                            <td>Total Deposit</td>
                                            <td>$ {{total.totalDeposit}}</td>
                                        </tr>
                                        <tr>
                                            <td>Cash</td>
                                            <td>{{ticketDetails?.Total.TotalCash}}</td>
                                            <td style="max-width:70px"><input class="form-control" type="text" [value]="Cash" [(ngModel)]="Cash" (ngModelChange)="doAddition()"></td>
                                            <td>Misc.</td>
                                            <td style="max-width:70px"><input class="form-control" type="text" [value]="Misc" [(ngModel)]="Misc" (ngModelChange)="doAddition()"></td>
                                            <td>Over/Short</td>
                                            <td>$ {{total.overShort}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Units Reconciliation">
                    <ng-template ngbTabContent>
                        <div class="row page-header">
                            <div class="col-md-12 page-header">
                                <div class="overflow">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <span style="cursor:pointer;" (click)="customer.sortField = 'product';customer.isAsc=!customer.isAsc;">
                                  Product
                                     <i *ngIf="(customer.sortField == 'product')" [ngClass]="(customer.isAsc && customer.sortField == 'product' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                                                </th>
                                                <th>
                                                    <span style="cursor:pointer;" (click)="customer.sortField = 'load';customer.isAsc=!customer.isAsc;">
                                  Load
                                     <i *ngIf="(customer.sortField == 'load')" [ngClass]="(customer.isAsc && customer.sortField == 'load' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                                                </th>
                                                <th>
                                                    <span style="cursor:pointer;" (click)="customer.sortField = 'return';customer.isAsc=!customer.isAsc;">
                                    Return
                                     <i *ngIf="(customer.sortField === 'return')" [ngClass]="(customer.isAsc && customer.sortField === 'return' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                                                </th>
                                                <th>
                                                    <span style="cursor:pointer;" (click)="customer.sortField = 'truckDamage';customer.isAsc=!customer.isAsc;">
                                    Truck Damage
                                     <i *ngIf="(customer.sortField === 'truckDamage')" [ngClass]="(customer.isAsc && customer.sortField === 'truckDamage' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                                                </th>
                                                <th>
                                                    <span style="cursor:pointer;" (click)="customer.sortField = 'customerDamage';customer.isAsc=!customer.isAsc;">
                                    Customer Damage
                                     <i *ngIf="(customer.sortField === 'customerDamage')" [ngClass]="(customer.isAsc && customer.sortField === 'customerDamage' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                                                </th>
                                                <th>
                                                    <span style="cursor:pointer;" (click)="customer.sortField = 'sale';customer.isAsc=!customer.isAsc;">
                                    Sale
                                     <i *ngIf="(customer.sortField === 'sale')" [ngClass]="(customer.isAsc && customer.sortField === 'sale' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                                                </th>
                                                <th>
                                                    <span style="cursor:pointer;" (click)="customer.sortField = 'over';customer.isAsc=!customer.isAsc;">
                                    Over/Short
                                     <i *ngIf="(customer.sortField === 'over')" [ngClass]="(customer.isAsc && customer.sortField === 'over' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of unitReconciliation|sort:customer.sortField:customer.isAsc">
                                                <td>{{item.ProductName}}</td>
                                                <td>{{item.Load }}</td>
                                                <td>{{item.Returns}}</td>
                                                <td>{{item.TruckDamage}}</td>
                                                <td>{{item.CustomerDamage}}</td>
                                                <td>{{item.Sale}}</td>
                                                <td>{{item.OverShort}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Ticket Details">
                    <ng-template ngbTabContent>
                        <div class="row page-header">
                            <div class="col-md-6 padding-eater">
                            </div>
                            <div class="col-md-6 pull-right">
                                <button class="btn btn-danger pull-right" [routerLink]="['../../manual-ticket/ticket']" [queryParams]="{ TripID: tripData.TripID }">Create Ticket</button>
                            </div>
                            <div class="col-md-12 page-header">
                                <div class="overflow">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <span style="cursor:pointer;" (click)="customer.sortField = 'custNumber';customer.isAsc=!customer.isAsc;">
                                              Customer Number
                                                 <i *ngIf="(customer.sortField == 'custNumber')" [ngClass]="(customer.isAsc && customer.sortField == 'custNumber' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                            </span>
                                                </th>
                                                <th>
                                                    <span style="cursor:pointer;" (click)="customer.sortField = 'customer';customer.isAsc=!customer.isAsc;">
                                              Customer
                                                 <i *ngIf="(customer.sortField == 'customer')" [ngClass]="(customer.isAsc && customer.sortField == 'customer' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                            </span>
                                                </th>
                                                <th>
                                                    <span style="cursor:pointer;" (click)="customer.sortField = 'ticket';customer.isAsc=!customer.isAsc;">
                                                Ticket Number
                                                 <i *ngIf="(customer.sortField === 'ticket')" [ngClass]="(customer.isAsc && customer.sortField === 'ticket' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                            </span>
                                                </th>
                                                <th>
                                                    <span style="cursor:pointer;" (click)="customer.sortField = 'invoiceAmount';customer.isAsc=!customer.isAsc;">
                                                Invoice Amount
                                                 <i *ngIf="(customer.sortField === 'invoiceAmount')" [ngClass]="(customer.isAsc && customer.sortField === 'invoiceAmount' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                            </span>
                                                </th>
                                                <th>
                                                    <span style="cursor:pointer;" (click)="customer.sortField = 'cash';customer.isAsc=!customer.isAsc;">
                                                Cash
                                                 <i *ngIf="(customer.sortField === 'cash')" [ngClass]="(customer.isAsc && customer.sortField === 'cash' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                            </span>
                                                </th>
                                                <th>
                                                    <span style="cursor:pointer;" (click)="customer.sortField = 'check';customer.isAsc=!customer.isAsc;">
                                                Check
                                                 <i *ngIf="(customer.sortField === 'check')" [ngClass]="(customer.isAsc && customer.sortField === 'check' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                            </span>
                                                </th>
                                                <th>
                                                    <span style="cursor:pointer;" (click)="customer.sortField = 'charge';customer.isAsc=!customer.isAsc;">
                                                Charge
                                                 <i *ngIf="(customer.sortField === 'charge')" [ngClass]="(customer.isAsc && customer.sortField === 'charge' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                            </span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!--Removed sorting functionality as it was causing rendering issues-->
                                           <tr *ngFor="let item of tripData.TripTicketList|sort:customer.sortField:customer.isAsc">
                                                <td>{{item.CustomerID}}</td>
                                                <td>{{item.CustomerName?item.customer:""}}</td><!-- Not Available -->
                                                <td>{{item.TicketNumber}}</td>
                                                <td></td>
                                                <td>{{item.CashAmount}}</td>
                                                <td>{{item.CheckAmount}}</td>
                                                <td>{{item.charge?item.charge:""}}</td><!-- Not Available  -->
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </ba-card>
    </div>
</div>




<!-- <div class="row page-header">
    <div class=" col-md-12">
        <ba-card cardTitle="Details" baCardClass="with-scroll" class="smart-table-container" #customer>
            <div class="row page-header">
                <div class="col-md-4">
                    <span>Branch :</span>
                    <label>301</label>
                </div>
                <div class="col-md-4">
                    <span>Route :</span>
                    <label>801</label>
                </div>
                <div class="col-md-4">
                    <span>Driver :</span>
                    <label>Deangelo Parks</label>
                </div>
                <div class="col-md-4">
                    <span>Trip :</span>
                    <label>#1</label>
                </div>
                <div class="col-md-4">
                    <span>Truck :</span>
                    <label>#12121</label>
                </div>
                <div class="col-md-4">
                    <div>
                        <span>Status :</span>
                        <label>Pending Checker Approval</label>
                    </div>
                </div>
            </div>
            <accordion>
                <accordion-group heading="Cash Reconciliation" isGroupOpen="true">
                    <div class="row page-header">
                        <div class="col-md-12">
                            <button class="btn btn-danger pull-right">Approve</button>
                        </div>
                        <div class="col-md-12 padding-eater">
                            <label>Pallets:</label>
                            <label>5</label>
                        </div>
                    </div>
                    <div class="row page-header">
                        <div class="col-md-12">
                            <table class="cash-reconciliation-table" style="text-align:center">
                                <thead>
                                    <th></th>
                                    <th style="text-align:center">Payment</th>
                                    <th style="text-align:center">Actual</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Check</td>
                                        <td>$10.90</td>
                                        <td style="max-width:70px"><input class="form-control" type="text" [value]="Actual" [(ngModel)]="Actual" (ngModelChange)="doAddition()"></td>
                                        <td>Coins</td>
                                        <td style="max-width:70px"><input class="form-control" type="text" [value]="Coins" [(ngModel)]="Coins" (ngModelChange)="doAddition()"></td>
                                        <td>Total Deposit</td>
                                        <td>${{totalDeposit}}</td>
                                    </tr>
                                    <tr>
                                        <td>Cash</td>
                                        <td>$5.00</td>
                                        <td style="max-width:70px"><input class="form-control" type="text" value="$5.00"></td>
                                        <td>Misc.</td>
                                        <td style="max-width:70px"><input class="form-control" type="text" value="$0.00"></td>
                                        <td>Over/Short</td>
                                        <td>$0.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </accordion-group>
                <accordion-group heading="Units Reconciliation" isGroupOpen="true">
                    <div class="row page-header">
                        <div class="col-md-12 page-header"> -->
<!-- <ng2-smart-table [settings]="settings2" [source]="source2" class="page-header" (edit)="onEditCliked($event)"></ng2-smart-table> -->
<!-- <div class="overflow">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                <span style="cursor:pointer;" (click)="customer.sortField = 'product';customer.isAsc=!customer.isAsc;">
                                  Product
                                     <i *ngIf="(customer.sortField == 'product')" [ngClass]="(customer.isAsc && customer.sortField == 'product' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                                            </th>
                                            <th>
                                                <span style="cursor:pointer;" (click)="customer.sortField = 'load';customer.isAsc=!customer.isAsc;">
                                  Load
                                     <i *ngIf="(customer.sortField == 'load')" [ngClass]="(customer.isAsc && customer.sortField == 'load' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                                            </th>
                                            <th>
                                                <span style="cursor:pointer;" (click)="customer.sortField = 'return';customer.isAsc=!customer.isAsc;">
                                    Return
                                     <i *ngIf="(customer.sortField === 'return')" [ngClass]="(customer.isAsc && customer.sortField === 'return' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                                            </th>
                                            <th>
                                                <span style="cursor:pointer;" (click)="customer.sortField = 'truckDamage';customer.isAsc=!customer.isAsc;">
                                    Truck Damage
                                     <i *ngIf="(customer.sortField === 'truckDamage')" [ngClass]="(customer.isAsc && customer.sortField === 'truckDamage' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                                            </th>
                                            <th>
                                                <span style="cursor:pointer;" (click)="customer.sortField = 'customerDamage';customer.isAsc=!customer.isAsc;">
                                    Customer Damage
                                     <i *ngIf="(customer.sortField === 'customerDamage')" [ngClass]="(customer.isAsc && customer.sortField === 'customerDamage' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                                            </th>
                                            <th>
                                                <span style="cursor:pointer;" (click)="customer.sortField = 'sale';customer.isAsc=!customer.isAsc;">
                                    Sale
                                     <i *ngIf="(customer.sortField === 'sale')" [ngClass]="(customer.isAsc && customer.sortField === 'sale' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                                            </th>
                                            <th>
                                                <span style="cursor:pointer;" (click)="customer.sortField = 'over';customer.isAsc=!customer.isAsc;">
                                    Over/Short
                                     <i *ngIf="(customer.sortField === 'over')" [ngClass]="(customer.isAsc && customer.sortField === 'over' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody> -->
<!--Removed sorting functionality as it was causing rendering issues  -->
<!-- <tr *ngFor="let item of unitReconciliation|sort:customer.sortField:customer.isAsc">
                                            <td>{{item.product}}</td>
                                            <td>{{item.load }}</td>
                                            <td>{{item.return}}</td>
                                            <td>{{item.truckDamage}}</td>
                                            <td>{{item.customerDamage}}</td>
                                            <td>{{item.sale}}</td>
                                            <td>{{item.over}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </accordion-group>
                <accordion-group heading="Ticket Details" isGroupOpen="true">
                    <div class="row page-header">
                        <div class="col-md-6 padding-eater">
                        </div>
                        <div class="col-md-6 pull-right">
                            <button class="btn btn-danger pull-right" [routerLink]="['../../manual-ticket']">Create Ticket</button>
                        </div>
                        <div class="col-md-12 page-header"> -->
<!-- <ng2-smart-table [settings]="settings3" [source]="source3" class="page-header" (edit)="onEditCliked($event)"></ng2-smart-table> -->
<!-- <div class="overflow">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                <span style="cursor:pointer;" (click)="customer.sortField = 'custNumber';customer.isAsc=!customer.isAsc;">
                                  Customer Number
                                     <i *ngIf="(customer.sortField == 'custNumber')" [ngClass]="(customer.isAsc && customer.sortField == 'custNumber' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                                            </th>
                                            <th>
                                                <span style="cursor:pointer;" (click)="customer.sortField = 'customer';customer.isAsc=!customer.isAsc;">
                                  Customer
                                     <i *ngIf="(customer.sortField == 'customer')" [ngClass]="(customer.isAsc && customer.sortField == 'customer' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                                            </th>
                                            <th>
                                                <span style="cursor:pointer;" (click)="customer.sortField = 'ticket';customer.isAsc=!customer.isAsc;">
                                    Ticket Number
                                     <i *ngIf="(customer.sortField === 'ticket')" [ngClass]="(customer.isAsc && customer.sortField === 'ticket' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                                            </th>
                                            <th>
                                                <span style="cursor:pointer;" (click)="customer.sortField = 'invoiceAmount';customer.isAsc=!customer.isAsc;">
                                    Invoice Amount
                                     <i *ngIf="(customer.sortField === 'invoiceAmount')" [ngClass]="(customer.isAsc && customer.sortField === 'invoiceAmount' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                                            </th>
                                            <th>
                                                <span style="cursor:pointer;" (click)="customer.sortField = 'cash';customer.isAsc=!customer.isAsc;">
                                    Cash
                                     <i *ngIf="(customer.sortField === 'cash')" [ngClass]="(customer.isAsc && customer.sortField === 'cash' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                                            </th>
                                            <th>
                                                <span style="cursor:pointer;" (click)="customer.sortField = 'check';customer.isAsc=!customer.isAsc;">
                                    Check
                                     <i *ngIf="(customer.sortField === 'check')" [ngClass]="(customer.isAsc && customer.sortField === 'check' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                                            </th>
                                            <th>
                                                <span style="cursor:pointer;" (click)="customer.sortField = 'charge';customer.isAsc=!customer.isAsc;">
                                    Charge
                                     <i *ngIf="(customer.sortField === 'charge')" [ngClass]="(customer.isAsc && customer.sortField === 'charge' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
                                </span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody> -->
<!--Removed sorting functionality as it was causing rendering issues  -->
<!-- <tr *ngFor="let item of ticketDetails|sort:customer.sortField:customer.isAsc">
                                            <td>{{item.custNumber}}</td>
                                            <td>{{item.customer }}</td>
                                            <td>{{item.ticket}}</td>
                                            <td>{{item.invoiceAmount}}</td>
                                            <td>{{item.cash}}</td>
                                            <td>{{item.check}}</td>
                                            <td>{{item.charge}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </ba-card>
    </div>
</div> -->