<form>
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-4">
      <button type="submit" class="btn btn-danger pull-right">Upload POD</button>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-danger pull-right">Save</button>
    </div>
  </div>
  <br>
  <div class="row calendarRow">
    <div class="form-group col-md-6">
      <label for="exampleSelect1">Branch</label>
      <select class="form-control" id="exampleSelect1">
          <option>301</option>
          <option>302</option>
      </select>
    </div>
    <div class="col-md-6">
      <label>Ticket Type</label>
      <div class="radioList">
        <label class="radioItem radio-inline custom-radio nowrap">
          <input type="radio" name="ticketType" id="ticketTypeRadio1" value="option1" (click)="showHideDamagedColumn(1)">
          <span>DSD</span>
        </label>
        <label class="radioItem radio-inline custom-radio nowrap">
          <input type="radio" name="ticketType" id="ticketTypeRadio2" value="option2" (click)="showHideDamagedColumn(2)">
          <span>PBM</span>
        </label>
        <label class="radioItem radio-inline custom-radio nowrap">
          <input type="radio" name="ticketType" id="ticketTypeRadio3" value="option3" checked (click)="showHideDamagedColumn(3)">
          <span>PBS</span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="exampleInputEmail1">Date</label>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
              name="dp" ngbDatepicker #d="ngbDatepicker">
        <button class="input-group-addon" (click)="d.toggle()" type="button">
          <i class="ion-calendar"></i>
          <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
        </button>
      </div>
    </div>
    <div class="col-md-6" *ngIf="!showDamagedCol">
      <label>Type</label>
      <div class="radioList">
        <label class="radioItem radio-inline custom-radio nowrap">
          <input type="radio" name="type" id="typeRadio1" value="option1" checked>
          <span>Sale</span>
        </label>
        <label class="radioItem radio-inline custom-radio nowrap">
          <input type="radio" name="type" id="typeRadio2" value="option2">
          <span>Credit</span>
        </label>
      </div>
    </div>
    <div class="col-md-6" *ngIf="showDamagedCol">
      <label>Type</label>
      <div class="radioList">
        <label class="radioItem radio-inline custom-radio nowrap">
          <input type="radio" name="type" id="typeRadio1" value="option1" (click)="showHideCols(1)">
          <span>Meter Reading</span>
        </label>
        <label class="radioItem radio-inline custom-radio nowrap">
          <input type="radio" name="type" id="typeRadio2" value="option2" checked (click)="showHideCols(2)">
          <span>Inventory</span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="exampleSelect1">Customer Name</label>
      <select class="form-control" id="exampleSelect1">
          <option>Jack</option>
          <option>Smith</option>
      </select>
    </div>
    <div class="col-md-6">
      <label>POD</label>
      <div class="radioList">
        <label class="radioItem radio-inline custom-radio nowrap">
          <input type="radio" name="pod" id="podRadio1" value="option1" checked>
          <span>Received</span>
        </label>
        <label class="radioItem radio-inline custom-radio nowrap">
          <input type="radio" name="pod" id="podRadio2" value="option2">
          <span>No-Received</span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="exampleInputPassword1">Ticket No.</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Ticket #" minlength="2" [(ngModel)]="ticketObj.TicketNumber" name="TicketNumber"
        #TicketNumber="ngModel" required>
      <div *ngIf="TicketNumber.invalid && (TicketNumber.dirty || TicketNumber.touched)" class="error-message">
        <i class="ion-android-alert showError"></i>
        <div *ngIf="TicketNumber.errors.required" class="custom-tooltip bottom">Ticket number is required</div>
        <!-- <div *ngIf="TicketNumber.errors.minlength" class="custom-tooltip bottom">Minimum 3 numbers</div> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="exampleInputPassword1">PO#</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="PO #" minlength="2" [(ngModel)]="ticketObj.PONumber" name="PONumber"
        #PONumber="ngModel" required>
      <div *ngIf="PONumber.invalid && (PONumber.dirty || PONumber.touched)" class="error-message">
        <i class="ion-android-alert showError"></i>
        <div id="poTooltip" *ngIf="PONumber.errors.required" class="custom-tooltip bottom">PO number is required</div>
        <!-- <div *ngIf="PONumber.errors.minlength" class="custom-tooltip bottom">Minimum 3 numbers</div> -->
      </div>
    </div>
    <div class="form-group col-md-6">
      <!-- <label for="exampleInputPassword1">Check #</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Check #"> -->
      <button type="submit" class="btn btn-danger addProdManualTickets pull-right">Add Product</button>
    </div>
  </div>
  <!-- <div class="checkbox">
    <ba-checkbox [(ngModel)]="isChecked" [label]="'Check me out'" [ngModelOptions]="{standalone: true}"></ba-checkbox>
  </div> -->
  <div class="vertical-scroll" #customer>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="table-id">Actions</th>
          <th>
            <span style="cursor:pointer;" (click)="customer.sortField = 'machine';customer.isAsc=!customer.isAsc;" *ngIf="!showDamagedCol">
                Products
                  <i *ngIf="(customer.sortField == 'machine')" [ngClass]="(customer.isAsc && customer.sortField == 'machine' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
            </span>
            <span style="cursor:pointer;" (click)="customer.sortField = 'machine';customer.isAsc=!customer.isAsc;" *ngIf="showDamagedCol">
                Machines
                  <i *ngIf="(customer.sortField == 'machine')" [ngClass]="(customer.isAsc && customer.sortField == 'machine' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
            </span>
          </th>
          <th>
            <span style="cursor:pointer;" (click)="customer.sortField = 'unit';customer.isAsc=!customer.isAsc;">
                Unit
                <i *ngIf="(customer.sortField == 'unit')" [ngClass]="(customer.isAsc && customer.sortField == 'unit' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
            </span>
          </th>
          <th>
            <span style="cursor:pointer;" (click)="customer.sortField = 'deliveredBag';customer.isAsc=!customer.isAsc;"
             *ngIf="showHideTableCols || !showDamagedCol">
                Delivered Bags
                <i *ngIf="(customer.sortField == 'deliveredBag')" [ngClass]="(customer.isAsc && customer.sortField == 'deliveredBag' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
            </span>
            <span style="cursor:pointer;" (click)="customer.sortField = 'deliveredBag';customer.isAsc=!customer.isAsc;"
             *ngIf="!showHideTableCols && showDamagedCol">
              Previous Reading
              <i *ngIf="(customer.sortField == 'deliveredBag')" [ngClass]="(customer.isAsc && customer.sortField == 'deliveredBag' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
            </span>
          </th>
          <th (click)="customer.sortField = 'currentInv';customer.isAsc=!customer.isAsc;">
            <span style="cursor:pointer;" *ngIf="showHideTableCols || !showDamagedCol">
                Current Inv
                <i *ngIf="(customer.sortField == 'currentInv')" [ngClass]="(customer.isAsc && customer.sortField == 'currentInv' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
            </span>
            <span style="cursor:pointer;" *ngIf="!showHideTableCols && showDamagedCol">
              Current Reading
              <i *ngIf="(customer.sortField == 'currentInv')" [ngClass]="(customer.isAsc && customer.sortField == 'currentInv' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
            </span>
          </th>
          <th (click)="customer.sortField = 'damagedBag';customer.isAsc=!customer.isAsc;" *ngIf="showDamagedCol">
            <span style="cursor:pointer;" *ngIf="showHideTableCols && showDamagedCol">
                Damaged Bags
                <i *ngIf="(customer.sortField == 'damagedBag')" [ngClass]="(customer.isAsc && customer.sortField == 'damagedBag' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
            </span>
            <span style="cursor:pointer;" *ngIf="!showHideTableCols && showDamagedCol">
              Total Units
              <i *ngIf="(customer.sortField == 'damagedBag')" [ngClass]="(customer.isAsc && customer.sortField == 'damagedBag' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> 
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of smartTableData | sort:customer.sortField:customer.isAsc">
          <td class="table-id ion-edit"></td>
          <td contenteditable="">{{ item.machine }}</td>
          <td>{{ item.unit }}</td>
          <td contenteditable="">{{ item.deliveredBag }}</td>
          <td contenteditable="">{{ item.currentInv }}</td>
          <td contenteditable="" *ngIf="showDamagedCol">{{ item.damagedBag }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <b>Total Sale</b>
        </div>
        <div class="col-md-6">
          <b>$151.25</b>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <b>Tax</b>
        </div>
        <div class="col-md-6">
          <b>$0.00</b>
        </div>
      </div>
    </div>
    <div class="col-md-6 createNewTicket">
      <b>$156.25</b>
    </div>
  </div>
</form>