@import "../../../theme/sass/conf/conf.scss";
label {
  text-align: right;
}

.buttonMargin {
  margin-left:10px;
}

.radioButtonMargin {
  margin-left:10px;
  margin-top: 6px;
}

.mttableHeader {
  /* background: #5bc0de; */
  color: black;
}

.addProdBtn {
  padding-left: 60px;
}

.createNewTicket {
  border: 1px solid;
  padding: 15px;
}

.paymentType {
  padding:8px 0 0 0;
  text-align: center;
  margin-left: -10px;
  margin-top: 2px;
  background: #ffffcc;
  border-radius: 15px;
  padding:7px;
}

.newTicketTitleStatusIcon {
  position: absolute;
  left: 10px;
  top: 15px;
}

.dummyMarginTop {
  margin-top: 15px;
  margin-bottom: 15px;
}

.showError {
  color: #ed7878;
  position: absolute;
  right: 23px;
  top: 12px;
}

.custom-tooltip {
  background: #ed7878;
  color: white;
  padding: 5px;
  display: inline;
  position: absolute;
  border-radius: 4px;
  top: -19px;
  right: 1%;
}

#checkNumber .showError {
  top: 121px;
}

#checkNumber .custom-tooltip {
  top: 74px;
}

#checkAmount .showError {
  top: 195px;
}

#checkAmount .custom-tooltip {
  top: 148px;
}

.showError:after {
  content: '';
  width: 0;
  display: inline;
  position: absolute;
  right: -5px;
  margin: -5px;
  top: 3%;
  border: 5px solid #ed7878;
  border-right-color: transparent;
  border-bottom-color: transparent; 
  border-top-color: #ed7878;
  border-left-color: transparent;
  left: 56%;
}

.search-container{
  position: absolute;
  max-height: 200px;
  overflow-y: scroll;
  width: calc(100%);
  padding:0px;
  border: 1px solid #ccc;
  background: #fff;
  z-index: 12;
  .search-item{
    padding: 6px 12px;
    border-bottom: 1px solid #d6cccc;
    cursor: pointer;
    &:hover{
      background: #5bc0de;
      color:#fff;
    }

  }
  
  .search-item:last-child{
    border-bottom: 0px solid #d6cccc;
  }
}

.padding {
  padding:5px;
}

.border {
  border:1px solid #5bc0de;
}

.frameHeading {
  position: absolute;
  top: -9px;
  background: white;
  width: 135px;
  padding: 0px 10px;
  text-align: center;
}

.frameMargin {
  margin-left: -15px;
}

.cashPanel {
  margin-left: 5px;
}

.tablePanel {
  margin-top:10px;
  padding-bottom: 0px;
  background: #5bc0de;
  margin-left: 10px;
  margin-right: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 10px; 
}

.topMargin30 {
  margin-top:30px;
}

.topMargin15 {
  margin-top:15px;
}

.input-group {
  margin-bottom: 0;
}

.listOfProdMargin {
  margin-left: 40px; 
}

.cashPanelMargin {
  margin-left: 36px;
}

.ionTrash {
  font-size: 20px;
}

.textAlignRight {
  text-align: right;
}

.prodListElement {
  height: 2rem;
  margin-top: 4px;
  margin-bottom: 4px;
}

#prodDSD, #prodMR, #prodI, #prodPBS {
  select.form-control:not([size]):not([multiple]) {
    height: 2rem;
  }
}

.head-button-container {
  position: absolute;
  right: 15px;
  top: -52px;
}

.textAlignCenter {
  text-align: center;
}
/*
.radioList {
  margin-top: 5px;
  .radioItem {
    margin-right: 10px;
  }
}

.calendarRow .input-group {
  margin-bottom: 0;
}

.showError {
  color: #ed7878;
  position: absolute;
  right: 23px;
  top: 33px;
}

.custom-tooltip {
  background: #ed7878;
  color: white;
  padding: 5px;
  display: inline;
  position: absolute;
  border-radius: 4px;
  top: 3px;
  right: 1%;
}

.showError:after {
  content: '';
  width: 0;
  display: inline;
  position: absolute;
  right: -5px;
  margin: -5px;
  top: 9%;
  border: 5px solid #ed7878;
  border-right-color: transparent;
  border-bottom-color: transparent; 
  border-top-color: #ed7878;
  border-left-color: transparent;
  left: 56%;
}

.pull-right {
  float: right;
}

.addProdManualTickets {
  margin-top: 23px;
}

.createNewTicket {
  border: 1px solid;
  padding-top: 8px;
}

.select {
  margin-top: 5px;
  margin-bottom: 5px;
}

.alignMiddle {
  vertical-align: middle;
}*/