.radioList {
  margin-top: 5px;
  .radioItem {
    margin-right: 10px;
  }
}

.calendarRow .input-group {
  margin-bottom: 0;
}

.showError {
  color: #ed7878;
  position: absolute;
  right: 23px;
  top: 33px;
}

.custom-tooltip {
  background: #ed7878;
  color: white;
  padding: 5px;
  display: inline;
  position: absolute;
  border-radius: 4px;
  top: 3px;
  right: 1%;
}

.showError:after {
  content: '';
  width: 0;
  display: inline;
  position: absolute;
  right: -5px;
  margin: -5px;
  top: 9%;
  border: 5px solid #ed7878;
  border-right-color: transparent;
  border-bottom-color: transparent; 
  border-top-color: #ed7878;
  border-left-color: transparent;
  left: 56%;
}

.pull-right {
  float: right;
}

.addProdManualTickets {
  margin-top: 23px;
}

.createNewTicket {
  border: 1px solid;
  padding-top: 8px;
}