<ba-card cardTitle="Change Request List" baCardClass="with-scroll" class="smart-table-container">
    <div class="customer-maintenance">
    <div class="row">
        <div class="col-md-12 add-new-request">
          <div style="float:right; width:60%; width:auto;">
            <button [routerLink]="['../create-request']" class="btn btn-primary addCustBtn">
             New Request
            </button>
          </div>

        </div>
    </div>
	<div class="row">
		<div class="col-sm-2" >
			<label>Start Date</label>
			<div class="input-group">
				<date-picker [maxDate]="filter.todaysDate" [(dateModel)]="filter.startDate"></date-picker>
			</div>
		</div>
		<div class="col-sm-2" >
			<label>End Date</label>
			<div class="input-group">
				<date-picker [maxDate]="filter.todaysDate" [(dateModel)]="filter.endDate"></date-picker>
			</div>
		</div>
		<div class="col-sm-3">
			<label>Type of Request</label>
			<div class="input-group">
                <select class="form-control" 
                 [(ngModel)]="filter.requestType">
                    <option *ngFor="let req of requestTypes" [value]="req.Id" >{{ req.Value }}</option>                    
				</select>
			</div>
		</div>
		<div class="col-sm-2">
			<label>Status</label>
			<div class="input-group">
				<select class="form-control" [(ngModel)]="filter.requestStatus">
					<option *ngFor="let stat of status" [value]="stat.Id" >{{stat.Value}}</option>
				</select>
			</div>
		</div>
		<div class="col-sm-2 offset-sm-1" >
            <button  class="btn btn-primary" [disabled] = "buttonAction"
            style="margin-top: 25px" (click)="getRequestList()">View Request</button>
        </div>
	</div>
	<div class="row" >
                <div class="col-sm-12">
                    <div class="overflow-x">
                        <table class="table table-striped" >
                            <thead class="tableHeader" id="day-end-list-head">
                                <tr>
                                    <th>Action</th>
                                    <th>
                                        <span style="cursor:pointer;">
                                            Customer
										</span>
                                    </th>
                                    <th>
                                        <span style="cursor:pointer;">
                                            Submitter
										</span>
                                    </th>
									<th>
                                        <span style="cursor:pointer;">
                                            Request Type
										</span>
                                    </th>
									<th>
                                        <span style="cursor:pointer;">
                                            Market
										</span>
                                    </th>
                                    <th class="textAlignCenter">
                                        Approver
                                    </th>
                                    <th class="textAlignCenter">
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!requests.length">
                                <tr>
                                    <td class="text-center" colspan="10" style="font-size:16px;">
                                        Please click View Request button to get latest data
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="requests.length">
                                <tr *ngFor="let request of requests">
                                    <td style="padding-left: 0">
                                        <i  class="ion-eye custom-tooltip-ion"
                                            style="margin-right: 2px">
                                            <span class="tooltiptext">View</span>
                                        </i>
                                        <i  class="ion-edit custom-tooltip-ion"
                                            style="margin-right: 2px">
                                            <span class="tooltiptext">Edit</span>
                                        </i>
                                        <i  class="ion-trash-a custom-tooltip-ion"
                                            style="margin-right: 2px">
                                            <span class="tooltiptext">Delete</span>
                                        </i>
                                    </td>
                                    <td>{{request.CustomerName}}</td>
                                    <td style="text-transform: capitalize;">{{request.SubmitterName}}</td>
                                    <td style="text-transform: capitalize;">{{request.RequestType}}</td>
                                    <td>{{request.Market}}</td>
                                    <td>{{request.Approver}}</td>
                                    <td>{{request.status}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <!-- <div class='spinnerContainer' [hidden]='!showSpinner' style = 'margin-top:200px;'>
                <a>
                    <img [hidden]='!showSpinner' src="assets/reddyIce/spinner.gif " width='25px'>
                </a>
            </div> -->
        </div>
</ba-card>