<ba-card cardTitle="Change Request List" baCardClass="with-scroll" class="smart-table-container">
    <div class="customer-maintenance">
    <div class="row">
        <div class="col-md-12 add-new-request">
          <div style="float:right; width:60%; width:auto;">
            <button [routerLink]="['../create-request']" class="btn btn-primary addCustBtn">
             New Request
            </button>
          </div>

        </div>
    </div>
	<div class="row">
		<div class="col-sm-2" >
			<label>Start Date</label>
			<div class="input-group">
				<date-picker [maxDate]="filter.todaysDate" [(dateModel)]="filter.startDate"></date-picker>
			</div>
		</div>
		<div class="col-sm-2" >
			<label>End Date</label>
			<div class="input-group">
				<date-picker [maxDate]="filter.todaysDate" [(dateModel)]="filter.endDate"></date-picker>
			</div>
		</div>
		<div class="col-sm-3">
			<label>Type of Request</label>
			<div class="input-group">
                <select class="form-control" 
                 [(ngModel)]="filter.requestType">
                    <option value="SRP" >Select Request Type</option>
                    <option value="AER" >Assets Exception</option>
					<option value="AMR" >Assets Meter Reading</option>
				</select>
			</div>
		</div>
		<div class="col-sm-2">
			<label>Status</label>
			<div class="input-group">
				<select class="form-control" [(ngModel)]="filter.requestStatus">
					<option value="all" >All Status</option>
				</select>
			</div>
		</div>
		<div class="col-sm-2 offset-sm-1" >
            <button  class="btn btn-primary" (click)="getRequestList()"[disabled] = "buttonAction"
            style="margin-top: 25px" >View Request</button>
        </div>
	</div>
	<div class="row" >
                <div class="col-sm-12">
                    <div class="overflow-x">
                        <table class="table table-striped" >
                            <thead class="tableHeader" id="day-end-list-head">
                                <tr>
                                    <th>Action</th>
                                    <th>
                                        <span style="cursor:pointer;">
                                            Customer
										</span>
                                    </th>
                                    <th>
                                        <span style="cursor:pointer;">
                                            Submitter
										</span>
                                    </th>
									<th>
                                        <span style="cursor:pointer;">
                                            Request Type
										</span>
                                    </th>
									<th>
                                        <span style="cursor:pointer;">
                                            Market
										</span>
                                    </th>
                                    <th class="textAlignCenter">
                                        Approver
                                    </th>
                                    <th class="textAlignCenter">
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="padding-left: 0">
                                        <i  class="ion-eye custom-tooltip-ion"
                                            style="margin-right: 2px">
                                            <span class="tooltiptext">View</span>
                                        </i>
                                        <i  class="ion-edit custom-tooltip-ion"
                                            style="margin-right: 2px">
                                            <span class="tooltiptext">Edit</span>
                                        </i>
                                        <i  class="ion-trash-a custom-tooltip-ion"
                                            style="margin-right: 2px">
                                            <span class="tooltiptext">Delete</span>
                                        </i>
                                    </td>
                                    <td>083123-WAL-MART-6966</td>
                                    <td>Jeanette Perkins</td>
                                    <td>Update Existing Customer</td>
                                    <td>Dallas</td>
                                    <td>swatson@reddyice.com</td>
                                    <td>Pending for approval</td>
                                </tr>

                                <tr>
                                        <td style="padding-left: 0">
                                                <i  class="ion-eye custom-tooltip-ion"
                                                    style="margin-right: 2px">
                                                    <span class="tooltiptext">View</span>
                                                </i>
                                                <i  class="ion-edit custom-tooltip-ion"
                                                    style="margin-right: 2px">
                                                    <span class="tooltiptext">Edit</span>
                                                </i>
                                                <i  class="ion-trash-a custom-tooltip-ion"
                                                    style="margin-right: 2px">
                                                    <span class="tooltiptext">Delete</span>
                                                </i>
                                            </td>
                                    <td>083123-WAL-MART-6966</td>
                                    <td>Jeanette Perkins</td>
                                    <td>Update Existing Customer</td>
                                    <td>Dallas</td>
                                    <td>swatson@reddyice.com</td>
                                    <td>Pending for approval</td>
                                </tr>

                                <tr>
                                        <td style="padding-left: 0">
                                                <i  class="ion-eye custom-tooltip-ion"
                                                    style="margin-right: 2px">
                                                    <span class="tooltiptext">View</span>
                                                </i>
                                                <i  class="ion-edit custom-tooltip-ion"
                                                    style="margin-right: 2px">
                                                    <span class="tooltiptext">Edit</span>
                                                </i>
                                                <i  class="ion-trash-a custom-tooltip-ion"
                                                    style="margin-right: 2px">
                                                    <span class="tooltiptext">Delete</span>
                                                </i>
                                            </td>
                                    <td>083123-WAL-MART-6966</td>
                                    <td>Jeanette Perkins</td>
                                    <td>Update Existing Customer</td>
                                    <td>Dallas</td>
                                    <td>swatson@reddyice.com</td>
                                    <td>Pending for approval</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <!-- <div class='spinnerContainer' [hidden]='!showSpinner' style = 'margin-top:200px;'>
                <a>
                    <img [hidden]='!showSpinner' src="assets/reddyIce/spinner.gif " width='25px'>
                </a>
            </div> -->
        </div>
</ba-card>