@import '../../../../theme/sass/smartTable';

select{
    min-width:100px;
}

label {
  margin-left: 5px;
}

.add-new-request {
  position: absolute;
  top: 5px;
}

.form-control:focus {
  border: 1px solid #5bc0de;
}

.addCustBtn {
    margin-top: 2px;
}


.spinnerContainer{
  text-align: center;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  margin: auto;
}

.customer-maintenance {
  height: 100vh;
}

.table > thead > tr > th:first-child {
  text-align: left;
} 