<ba-card cardTitle="Customer List {{userSubTitle}}" #customer>
    <div class="row">
        <div class="col-sm-3">
            <input type="text" class="form-control" [(ngModel)]="customer.searchString" placeholder="Search">
        </div>
        <div class="col-md-3 head-button-container">
            <button class="btn btn-primary addCustBtn pull-right" [routerLink]="['../set-price']">
                Set Product & Price
            </button>
        </div>
        <div class="col-sm-3 head-button-container-for-add-customer">
            <button class="btn btn-primary addCustBtn pull-right" [routerLink]="['../create']">
                Add Customer
            </button>
        </div>
        <div class="col-sm-4" style="padding-top:8px;">
            <div class="row">
                <div class="col-sm-4">
                    <label>
                        <span><b>RI Customer?</b></span>
                    </label>
                </div>
                <div class="col-sm-8">
                    <label class="radioItem radio-inline custom-radio nowrap radioButtonMargin">
                        <input type="radio" name="type" (click)="sequenceChangeHandler(1)">
                        <span>Yes</span>
                    </label>
                    <label class="radioItem radio-inline custom-radio nowrap radioButtonMargin">
                        <input type="radio" name="type" (click)="sequenceChangeHandler(2)">
                        <span>No</span>
                    </label>
                    <label class="radioItem radio-inline custom-radio nowrap radioButtonMargin">
                        <input type="radio" name="type" checked (click)="sequenceChangeHandler(3)">
                        <span>Both</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-5" style="padding-top:8px;">
            <div class="row">
                <div class="col-sm-2">
                    <label>
                        <span><b>Status</b></span>
                    </label>
                </div>
                <div class="col-sm-10">
                    <label class="radioItem radio-inline custom-radio nowrap radioButtonMargin">
                        <input type="radio" name="usertype" (click)="usertypeChangeHandler(1)">
                        <span>Active</span>
                    </label>
                    <label class="radioItem radio-inline custom-radio nowrap radioButtonMargin">
                        <input type="radio" name="usertype" (click)="usertypeChangeHandler(2)">
                        <span>Inactive</span>
                    </label>
                    <label class="radioItem radio-inline custom-radio nowrap radioButtonMargin">
                        <input type="radio" name="usertype" checked (click)="usertypeChangeHandler(3)">
                        <span>Both</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header">
        <table class="table table-striped">
            <thead class="tableHeader">
                <tr>
                    <th class="table-id">Actions</th>
                    <th class="alignLeft">
                        <span style="cursor:pointer;" (click)="customer.sortField = 'CustomerId';customer.isAsc=!customer.isAsc;">
                            Customer #
                            <i *ngIf="(customer.sortField == 'CustomerId')" [ngClass]="(customer.isAsc && customer.sortField == 'CustomerId' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                        </span>
                    </th>
                    <th class="alignLeft">
                        <span style="cursor:pointer;" (click)="customer.sortField = 'CustomerName';customer.isAsc=!customer.isAsc;">
                            Customer Name
                            <i *ngIf="(customer.sortField == 'CustomerName')" [ngClass]="(customer.isAsc && customer.sortField == 'CustomerName' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                        </span>
                    </th>
                    <th class="text-alignment-center">
                        <span>
                            RI Customer
                            <!-- <i *ngIf="(customer.sortField == 'IsRICustomer')" [ngClass]="(customer.isAsc && customer.sortField == 'IsRICustomer' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i> -->
                        </span>
                    </th>
                    <th class="alignLeft">
                        <span style="cursor:pointer;" (click)="customer.sortField = 'PaymentType';customer.isAsc=!customer.isAsc;">
                            Payment Type
                            <i *ngIf="(customer.sortField == 'PaymentType')" [ngClass]="(customer.isAsc && customer.sortField == 'PaymentType' ? 'fa fa-chevron-up' : 'fa fa-chevron-down')"></i>
                        </span>
                    </th>
                    <th class="alignLeft">
                        <span>
                            Contact
                        </span>
                    </th>
                    <th style="padding-right:20px;text-align:center;">
                        <span>
                            Customer Type
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cust of customers| filter:customer.searchString | sort:customer.sortField:customer.isAsc">
                    <!-- <ng-container *ngIf="cust.Active && isRI"> -->
                    <ng-container *ngIf="((isRI==1 && cust.IsRICustomer) && (userType==3 && (cust.Active || !cust.Active))) 
                    || ((isRI==1 && cust.IsRICustomer) && (userType==2 && (!cust.Active)))
                    || ((isRI==1 && cust.IsRICustomer) && (userType==1 && (cust.Active)))">
                        <td class="table-id text-alignment-center" style="cursor: pointer">
                            <i class="ion-eye custom-tooltip-ion" [routerLink]="['../view', cust.CustomerId, cust.IsRICustomer?1:0]" [hidden]="!cust.IsRICustomer">
                                <span class="tooltiptext" >View</span>
                            </i>
                            <i class="ion-edit custom-tooltip-ion" [routerLink]="['../edit', cust.CustomerId]" style="margin-right: 5px" [hidden]="cust.IsRICustomer">
                                <span class="tooltiptext">Edit</span>
                            </i>
                            <i class="ion-trash-a custom-tooltip-ion" style="margin-right: 5px" [hidden]="cust.IsRICustomer" (click)="deleteCustomer(cust.CustomerId)">
                                <span class="tooltiptext" >Inactive</span>
                            </i>
                        </td>
                        <td>{{ cust.CustomerNumber }}</td>
                        <td>{{ cust.CustomerName }}</td>
                        <td class="text-alignment-center"><input type="checkbox" value="" disabled [checked]=cust.IsRICustomer></td>
                        <td><a class="email-link">{{ cust.PaymentType=='1'||cust.PaymentType=='18'?'Cash':'Charge'}}</a></td>
                        <td>{{cust.PrimaryContact}}</td>
                        <td class="text-alignment-center">{{cust.CustomerTypeID | customerTypeToName}}</td>
                    </ng-container>
                    <ng-container *ngIf="isRI==2 && !cust.IsRICustomer && (userType==3 && (cust.Active || !cust.Active))
                    || ((isRI==2 && !cust.IsRICustomer) && (userType==2 && (!cust.Active)))
                    || ((isRI==2 && !cust.IsRICustomer) && (userType==1 && (cust.Active)))">
                        <td class="table-id text-alignment-center" style="cursor: pointer">
                            <i class="ion-edit custom-tooltip-ion" [routerLink]="['../edit', cust.CustomerId]" style="margin-right: 5px" [hidden]="cust.IsRICustomer">
                                    <span class="tooltiptext">Edit</span>
                                </i>
                            <i class="ion-trash-a custom-tooltip-ion" style="margin-right: 5px" [hidden]="cust.IsRICustomer" (click)="deleteCustomer(cust.CustomerId)">
                                    <span class="tooltiptext" >Inactive</span>
                                </i>
                            <i class="ion-eye custom-tooltip-ion" [routerLink]="['../view', cust.CustomerId,cust.IsRICustomer?1:0]" [hidden]="!cust.IsRICustomer">
                                    <span class="tooltiptext" >View</span>
                                </i>
                        </td>
                        <td>{{ cust.CustomerNumber }}</td>
                        <td>{{ cust.CustomerName }}</td>
                        <td class="text-alignment-center"><input type="checkbox" value="" disabled [checked]=cust.IsRICustomer></td>
                        <td><a class="email-link">{{ cust.PaymentType=='1'||cust.PaymentType=='18'?'Cash':'Charge'}}</a></td>
                        <td>{{cust.PrimaryContact}}</td>
                        <td class="text-alignment-center">{{cust.CustomerTypeID | customerTypeToName}}</td>
                    </ng-container>
                    <ng-container *ngIf="isRI==3 && (userType==3 && (cust.Active || !cust.Active))
                    || ((isRI==3) && (userType==2 && (!cust.Active)))
                    || ((isRI==3) && (userType==1 && (cust.Active)))">
                        <td class="table-id text-alignment-center" style="cursor: pointer">
                            <i class="ion-edit custom-tooltip-ion" [routerLink]="['../edit', cust.CustomerId]" style="margin-right: 5px" [hidden]="cust.IsRICustomer">
                                    <span class="tooltiptext">Edit</span>
                                </i>
                            <i class="ion-trash-a custom-tooltip-ion" style="margin-right: 5px" [hidden]="cust.IsRICustomer" (click)="deleteCustomer(cust.CustomerId)">
                                    <span class="tooltiptext" >Inactive</span>
                                </i>
                            <i class="ion-eye custom-tooltip-ion" [routerLink]="['../view', cust.CustomerId, cust.IsRICustomer?1:0]" [hidden]="!cust.IsRICustomer">
                                    <span class="tooltiptext" >View</span>
                                </i>
                        </td>
                        <td>{{ cust.CustomerNumber }}</td>
                        <td>{{ cust.CustomerName }}</td>
                        <td class="text-alignment-center"><input type="checkbox" value="" disabled [checked]=cust.IsRICustomer></td>
                        <td><a class="email-link">{{ cust.PaymentType=='1'||cust.PaymentType=='18'?'Cash':'Charge'}}</a></td>
                        <td>{{cust.PrimaryContact}}</td>
                        <td class="text-alignment-center">{{cust.CustomerTypeID | customerTypeToName}}</td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
        <div class='marginTopCenter'> <a> <img [hidden]='!showSpinner' src="assets/reddyIce/spinner.gif " width='25px'></a> </div>
        <div *ngIf="!customers.length && !showSpinner" class='marginTopCenter'> No data found </div>
        <!--<div style='text-align:center'> <a> <img [hidden]='customers.length > 0' src="assets/reddyIce/spinner.gif " width='25px'></a> </div>-->

    </div>
</ba-card>