@import '../../../../theme/sass/smartTable';

.page-header {
    margin: 20px 0;
};

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + -1px);
}

.ioiIconsLR {
    padding-left: 48px;
    padding-top: 45px;
}

.addCustBtn {
    margin-top: 2px;
}

.addCustCloseIcon {
    position: absolute;
    right: 22px;
    top: 15px;
}

.homeSearchBox {
    position: absolute;
    right: 165px;
    top: 4px;
}

.pull-right {
    float: right;
}