@import '../../../../theme/sass/smartTable';

.page-header {
    margin: 20px 0;
};

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + -1px);
}

.ioiIconsLR {
    padding-left: 48px;
    padding-top: 45px;
}

.addCustBtn {
    margin-top: 2px;
}

.addCustCloseIcon {
    position: absolute;
    right: 22px;
    top: 15px;
    cursor: pointer;
}

.homeSearchBox {
    position: absolute;
    right: 165px;
    top: 4px;
}

.pull-right {
    float: right;
}

.showError {
  color: #ed7878;
  position: absolute;
  right: 23px;
  top: 33px;
}

.custom-tooltip {
  background: #ed7878;
  color: white;
  padding: 5px;
  display: inline;
  position: absolute;
  border-radius: 4px;
  top: 3px;
  right: 1%;
}

.showError:after {
  content: '';
  width: 0;
  display: inline;
  position: absolute;
  right: -5px;
  margin: -5px;
  top: 9%;
  border: 5px solid #ed7878;
  border-right-color: transparent;
  border-bottom-color: transparent; 
  border-top-color: #ed7878;
  border-left-color: transparent;
  left: 56%;
}




.head-button-container {
    position: absolute;
    right: 15px;
    top: -52px;
  }
  
  .box-top-margin{
      margin-top:15px;
  }
  .checkbox-size{
      height: 15px;
      width: 15px;
      margin-top: 2px;
  }
  .text-alignment{
      text-align: right;
  }
  .model-top-margin{
    margin-top:78px;
  }
  .head-button-container {
    position: absolute;
    right: 2px;
    top: 6px;
  }
  .head-button-container-for-add-customer{
    position: absolute;
    right: 180px;
    top: 6px; 
  }
  .text-alignment-center{
      text-align: center !important;
  }

  .tdpadding{
    padding-right: 16px ;
}
 