<div class="row page-header">
    <div class="col-md-8 padding-eater">
        <h4>Distributor : Dist-001</h4>
    </div>
</div>
<div class="row">
    <div [ngClass]="{'col-md-12':isNewCustomer, 'col-md-6':!isNewCustomer}">
        <!-- <ba-card cardTitle="Customer List" baCardClass="with-scroll" class="smart-table-container" showAddIcon="true" (onClickAddIcon)="showNewCustomer($event)"> -->
        <ba-card cardTitle="Customer List" baCardClass="with-scroll" class="smart-table-container">
            <button (click)="showNewCustomer($event)" class="btn btn-primary addCustBtn pull-right">
                Add Customer
            </button>
            <ng2-smart-table [settings]="settings1" [source]="source1" (edit)="onEditCliked($event)"></ng2-smart-table>
        </ba-card>
    </div>
    <div *ngIf="!isNewCustomer" [ngClass]="{'col-md-12':isNewCustomer, 'col-md-6':!isNewCustomer}">
        <ba-card cardTitle="Add New Customer" baCardClass="with-scroll" class="smart-table-container">
            <span (click)="showNewCustomer($event)" class="ion-close-round addCustCloseIcon"></span>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Customer Name</label>
                    <input [(ngModel)]="selectedUser.customerName" type="text" class="form-control" id="exampleInputEmail1" placeholder="Customer Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleSelect1">Type</label>
                    <select class="form-control" id="exampleSelect1">
                            <option>Cloudtail</option>
                            <option>Icebox</option>
                        </select>
                </div>
            </div>
            <!-- <div class="row">
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Customer Number</label>
                        <input [(ngModel)]="selectedUser.customerNumber" type="text" class="form-control" id="exampleInputEmail1" placeholder="Customer Number">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleSelect1">Location</label>
                        <select class="form-control" id="exampleSelect1">
                            <option>301</option>
                            <option>302</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="exampleSelect1">Branch</label>
                        <select class="form-control" id="exampleSelect1">
                            <option>301</option>
                            <option>302</option>
                        </select>
                    </div>
                </div> -->
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="exampleInputEmail1">Address</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Address">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="exampleInputEmail1">City</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="City">
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleInputEmail1">State</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="State">
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleInputEmail1">Zip</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Zip">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Phone</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Phone">
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-5">
                    <label for="exampleInputEmail1">All Products</label>
                    <ng2-smart-table [settings]="settings2" [source]="source2"></ng2-smart-table>
                </div>
                <div class="form-group col-md-2 ioiIconsLR">
                    <p><span class="ion-arrow-left-a"></span></p>
                    <p><span class="ion-arrow-right-a"></span></p>
                </div>
                <div class="form-group col-md-5">
                    <label for="exampleInputEmail1">Mapped Products</label>
                    <ng2-smart-table [settings]="settings3" [source]="source3"></ng2-smart-table>
                </div>
            </div>
            <div>
                <button class="btn btn-danger">Save</button>
            </div>
        </ba-card>
    </div>
</div>