<div class="row page-header">
    <div class="col-md-8 padding-eater">
        <h4>Distributor : Dist-001</h4>
    </div>
</div>
<div class="row">
    <div [ngClass]="{'col-md-12':!isNewCustomer, 'col-md-6':isNewCustomer}">
        <!-- <div [ngClass]="[!isNewCustomer ? 'col-md-12' : 'col-md-6', !setPrice ? 'col-md-12' : 'col-md-6']"> -->
        <!-- <ba-card cardTitle="Customer List" baCardClass="with-scroll" class="smart-table-container" showAddIcon="true" (onClickAddIcon)="showNewCustomer($event)"> -->
        <ba-card cardTitle="Customer List" baCardClass="with-scroll" class="smart-table-container" #customer>
            <div class="row">
                <div [ngClass]="{'col-md-6':!isNewCustomer, 'col-md-4':isNewCustomer}">
                    <input type="text" class="form-control" [ngClass]="{'col-md-10':isNewCustomer, 'col-md-12':!isNewCustomer}" [(ngModel)]="customer.searchString"
                        placeholder="Search">
                </div>
                <div class="col-md-4">
                    <button (click)="showPrice($event)" class="btn btn-primary addCustBtn pull-right">
                        Set Generic Price
                    </button>
                </div>
                <div [ngClass]="{'col-md-2':!isNewCustomer, 'col-md-4':isNewCustomer}">
                    <button (click)="showNewCustomer($event)" class="btn btn-primary addCustBtn pull-right">
                        Add Customer
                    </button>
                </div>
            </div>
            <br>
            <!-- <ng2-smart-table [settings]="settings1" [source]="source1" (edit)="onEditCliked($event)"></ng2-smart-table>  -->
            <div class="vertical-scroll">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="table-id">Actions</th>
                            <th>Customer#</th>
                            <th>Customer Name</th>
                            <th>isRICustomer?</th>
                            <th *ngIf="!isNewCustomer">Email</th>
                            <th *ngIf="!isNewCustomer">Contact</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of smartTableData | filter:customer.searchString">
                            <td class="table-id ion-edit"></td>
                            <td>{{ item.customerNumber }}</td>
                            <td>{{ item.customerName }}</td>
                            <td>{{ item.isRICustomer }}</td>
                            <td *ngIf="!isNewCustomer"><a class="email-link">{{ item.email }}</a></td>
                            <td *ngIf="!isNewCustomer">{{ item.contact }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ba-card>
    </div>
    <div *ngIf="setPrice" [ngClass]="{'col-md-6':setPrice}">
        <ba-card cardTitle="Set Generic Price" baCardClass="with-scroll" class="smart-table-container">
            <span (click)="showPrice($event)" class="ion-close-round addCustCloseIcon"></span>
            <div class="row">
                <div class="col-md-10">
                    <h4 style="padding-top: 8px;">Product Generic Price</h4>
                </div>
                <div>
                    <button class="btn btn-danger">Save</button>
                </div>
            </div>
            <br/>
            <div class="vertical-scroll">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Product</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of smartTableData">
                            <td>{{ item.customerNumber }}</td>
                            <td>{{ item.customerName }}</td>
                            <td>
                                <input type="text" class="form-control" id="price" placeholder="Price" style="padding: 5px; margin-top: 3px;">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ba-card>
    </div>
    <div *ngIf="isNewCustomer" [ngClass]="{'col-md-6':isNewCustomer}">
        <ba-card cardTitle="Add New Customer" baCardClass="with-scroll" class="smart-table-container">
            <span (click)="showNewCustomer($event)" class="ion-close-round addCustCloseIcon"></span>
            <div class="row">
                <div class="col-md-10">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-danger">Save</button>
                </div>
            </div>
            <br/>
            <accordion>
                <accordion-group heading="First Group Header " isGroupOpen="true">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Customer Name</label>
                            <input [(ngModel)]="selectedUser.customerName" type="text" class="form-control" id="customerName" placeholder="Customer Name"
                                required maxlength="30" #nameValidationTitle="ngModel">
                            <div *ngIf="nameValidationTitle.errors && (nameValidationTitle.dirty || nameValidationTitle.touched)" class="alert alert-danger">
                                <div [hidden]="!nameValidationTitle.errors.required">
                                    Customer name is required!
                                </div>
                                <div [hidden]="!nameValidationTitle.errors.maxlength">
                                    Title cannot be more than 30 characters long.
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleSelect1">Type</label>
                            <select class="form-control" id="exampleSelect1">
                        <option>Cloudtail</option>
                        <option>Icebox</option>
                    </select>
                        </div>
                    </div>
                    <!-- <div class="row">
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Customer Number</label>
                        <input [(ngModel)]="selectedUser.customerNumber" type="text" class="form-control" id="exampleInputEmail1" placeholder="Customer Number">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleSelect1">Location</label>
                        <select class="form-control" id="exampleSelect1">
                            <option>301</option>
                            <option>302</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="exampleSelect1">Branch</label>
                        <select class="form-control" id="exampleSelect1">
                            <option>301</option>
                            <option>302</option>
                        </select>
                    </div>
                </div> -->
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="exampleInputEmail1">Address</label>
                            <input [(ngModel)]="selectedUser.address" type="text" class="form-control" id="address" placeholder="Address" required maxlength="128"
                                #addressValidationTitle="ngModel">
                            <div *ngIf="addressValidationTitle.errors && (addressValidationTitle.dirty || addressValidationTitle.touched)" class="alert alert-danger">
                                <div [hidden]="!addressValidationTitle.errors.required">
                                    Address is required!
                                </div>
                                <div [hidden]="!addressValidationTitle.errors.maxlength">
                                    Title cannot be more than 30 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="exampleInputEmail1">City</label>
                            <input [(ngModel)]="selectedUser.city" type="text" class="form-control" id="city" placeholder="City" required maxlength="30"
                                #cityValidationTitle="ngModel">
                            <div *ngIf="cityValidationTitle.errors && (cityValidationTitle.dirty || cityValidationTitle.touched)" class="alert alert-danger">
                                <div [hidden]="!cityValidationTitle.errors.required">
                                    City is required!
                                </div>
                                <div [hidden]="!cityValidationTitle.errors.maxlength">
                                    City cannot be more than 30 characters long.
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleInputEmail1">State</label>
                            <input [(ngModel)]="selectedUser.state" type="text" class="form-control" id="state" placeholder="State" required maxlength="30"
                                #stateValidationTitle="ngModel">
                            <div *ngIf="stateValidationTitle.errors && (stateValidationTitle.dirty || stateValidationTitle.touched)" class="alert alert-danger">
                                <div [hidden]="!stateValidationTitle.errors.required">
                                    State is required!
                                </div>
                                <div [hidden]="!stateValidationTitle.errors.maxlength">
                                    State cannot be more than 30 characters long.
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleInputEmail1">Zip</label>
                            <input [(ngModel)]="selectedUser.zip" type="text" class="form-control" id="zip" placeholder="Zip" required maxlength="30"
                                #zipValidationTitle="ngModel">
                            <div *ngIf="zipValidationTitle.errors && (zipValidationTitle.dirty || zipValidationTitle.touched)" class="alert alert-danger">
                                <div [hidden]="!zipValidationTitle.errors.required">
                                    Zip is required!
                                </div>
                                <div [hidden]="!zipValidationTitle.errors.maxlength">
                                    Zip cannot be more than 30 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Phone</label>
                            <input [(ngModel)]="selectedUser.phone" type="text" class="form-control" id="phone" placeholder="Phone" required pattern="[789][0-9]{9}"
                                #phoneValidationTitle="ngModel">
                            <div *ngIf="phoneValidationTitle.errors && (phoneValidationTitle.dirty || phoneValidationTitle.touched)" class="alert alert-danger">
                                <div [hidden]="!phoneValidationTitle.errors.required">
                                    Phone is required
                                </div>
                                <div [hidden]="!phoneValidationTitle.errors.pattern">
                                    Please enter valid phone number
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Email</label>
                            <input [(ngModel)]="selectedUser.email" type="email" class="form-control" id="email" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                #emailValidationTitle="ngModel">
                            <div *ngIf="emailValidationTitle.errors && (emailValidationTitle.dirty || emailValidationTitle.touched)" class="alert alert-danger">
                                <div [hidden]="!emailValidationTitle.errors.required">
                                    Email id is required
                                </div>
                                <div [hidden]="!emailValidationTitle.errors.pattern">
                                    Must be a valid URL!
                                </div>
                            </div>
                        </div>
                    </div>
                </accordion-group>
                <accordion-group heading="Firstsd Group Header " isGroupOpen="false">
                    <div class="row">
                        <div class="form-group col-md-5">
                            <label for="exampleInputEmail1">All Products</label>
                            <!-- <ng2-smart-table [settings]="settings2" [source]="source2"></ng2-smart-table> -->
                            <div class="vertical-scroll">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Actions</th>
                                            <th>Products</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of products">
                                            <td class="table-id ion-edit"></td>
                                            <td>{{ item.name }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group col-md-2 ioiIconsLR">
                            <p><span class="ion-arrow-left-a"></span></p>
                            <p><span class="ion-arrow-right-a"></span></p>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="exampleInputEmail1">Mapped Products</label>
                            <!-- <ng2-smart-table [settings]="settings3" [source]="source3"></ng2-smart-table> -->
                            <div class="vertical-scroll">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Actions</th>
                                            <th>Products</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of products">
                                            <td class="table-id ion-edit"></td>
                                            <td>{{ item.name }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </ba-card>
    </div>
</div>