/* You can add global styles to this file, and also import other style files */
.padding-eater{
    padding: 0;
}
.card-title{
	color:#000 !important;
}
.app-head{
	margin-left:60px !important;
}
a.collapse-menu-link {
    margin: 11px 20px 29px -27px !important;
}
.al-logo {
	img{
	width:150px;
	}
}




