/* You can add global styles to this file, and also import other style files */
.padding-eater{
    padding: 0;
}
.card-title{
	color:#000 !important;
}
.app-head{
	margin-left:60px !important;
}
.ngb-dp-day.disabled {
    cursor: not-allowed !important;
}
a.collapse-menu-link {
    margin: 11px 20px 29px -27px !important;
}
.al-logo {
	img{
        width:150px;
        height: 54px;
	}
}
.custom-tooltip-ion:hover .tooltiptext{
    visibility: visible;
}
.tooltiptext {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    width: auto;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    padding: 2px 5px;
    line-height: 15px;
    font-size: 12px;
}
.dayend-tabset{
    .nav-tabs{
   border-top: 1px solid #ef8989 !important;
    border-left: 1px solid #ef8989;
    border-right: 1px solid #ef8989;
    }
.tab-content{
border: 1px solid #ef8989;
    border-top: 0;
}
.nav-item a:hover{
    color:#000;
    background-color: #f59d9d !important;

}

}
.dayend-card {
     .card-body{
        min-height: 400px;
    }

}
.tableHeader {
  background: #5bc0de;
  color: black;
}

//common classes
.remove-margin{
    margin:0px;
}

.remove-margin-top{
    margin-top:0px;
}
.remove-padding{
    padding:0px;
}

.remove-padding-top{
    padding-top:0px;
}

#newTicket .card-header.clearfix {
    padding-left: 33px !important;
}
.small-select{
   padding: 4px 8px;
    margin-top: 3px;
    height: 28px !important;
}

.textRightPadding {
    text-align: right;
    padding-right: 12px !important;
}


