<div class="row user-details">
    <div class="col-md-6" [ngClass]="{'col-md-12':!rightCardOpen, 'col-md-6':rightCardOpen}">
        <ba-card cardTitle="Set Product & Price {{userSubTitle}}" baCardClass="with-scroll" class="smart-table-container " style="height:700px;"
            #customer>
            <div class="row">
                <div class="col-sm-3">
                    <input type="text" class="form-control" [(ngModel)]="customer.searchString" placeholder="Search">
                </div>
                <div class="col-sm-2" [hidden]="rightCardOpen">
                    <select class="form-control" [(ngModel)]="productType" (ngModelChange)="updateProductOnTypeChange()">
                        <option value="active">Active</option>
                        <option value="inActive">InActive</option>
                        <option value="all">All</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                </div>
                <!--div class="col-md-2 head-button-container">
               
            </div-->
                <div class="col-md-1" [ngClass]="{'head-button-container-for-save':!rightCardOpen, 'head-button-container-for-add':rightCardOpen}">
                    <button class="btn btn-danger pull-right" [routerLink]="['../list']">Back</button>
                    <!--button (click)='setGenericPrice()' [disabled]="!isFormTouched" class="btn btn-danger pull-right">Save</button-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                </div>
                <div class="col-md-1 head-button-container-for-add" *ngIf="!rightCardOpen">
                    <button class="btn btn-danger pull-right" (click)="showNewProduct($event)" [disabled]="rightCardOpen">Add New Product</button>
                </div>
            </div>
            <br/>
            <div>
                <table class="table table-striped">
                    <thead class="tableHeader">
                        <tr>
                            <th>Actions</th>
                            <th>Product #</th>
                            <th>Product</th>
                            <th class="center">RI Product</th>
                            <th class="text-alignment">Price ($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of externalProducts|filter:customer.searchString; let index=index">
                            <ng-container *ngIf="product.IsActive">
                            <td>
                                <i class="ion-edit custom-tooltip-ion" style="margin-right: 5px; cursor:pointer" (click)="onEditClicked(product);formTouchHandler()">
                                <span class="tooltiptext">Edit</span></i>
                                <i class="ion-trash-a custom-tooltip-ion" [hidden]="product.IsInternal" style="margin-right: 5px;cursor:pointer" (click)="deleteProduct(product.ProductId)">
                                <span class="tooltiptext">Delete</span>
                            </i>
                            </td>
                            <td>{{product.ProductCode}}</td>
                            <td>{{product.ProductName}}</td>
                            <td class="center"><input type="checkbox" value="" disabled [checked]=product.IsInternal></td>
                            <td class="td-width text-alignment tdpadding" [hidden]="editClicked[index]">{{product.ProductPrice|currency:'USD':true:'1.2'}}</td>
                            <td class="td-width" [hidden]="!editClicked[index]">
                                <input type="number" [(ngModel)]='product.ProductPrice' class="form-control" id="price" placeholder="Price" style="padding: 5px; margin-top: 3px;">
                            </td>
                            </ng-container>
                        </tr>
                        <tr *ngFor="let product of newProductList">
                            <td colspan="2"></td>
                            <td>
                                <input type="text" [(ngModel)]='product.ProductName' maxlength="100" class="form-control" id="price" placeholder="Product Name"
                                    style="padding: 5px; margin-top: 3px;" (blur)="isProductExist(product.ProductName)">
                            </td>
                            <td></td>
                            <td>
                                <input type="text" numberOnly [(ngModel)]='product.ProductPrice' class="form-control" id="price" placeholder="Price" maxlength="10"
                                    style="padding: 5px; margin-top: 3px;text-align:right;">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class='marginTopCenter'> <a> <img [hidden]='!showSpinner' src="assets/reddyIce/spinner.gif " width='25px'></a> </div>
                <div *ngIf="!externalProducts.length && !showSpinner" class='marginTopCenter'> No data found </div>
            </div>
        </ba-card>
    </div>

    <div [hidden]="!rightCardOpen" class="col-lg-6 col-md-12" [ngClass]="{'col-md-12':rightCardOpen, 'col-md-6':!rightCardOpen}">
        <ba-card [cardTitle]="cardTitle" baCardClass="with-scroll" class="smart-table-container">
            <span (click)="closeRightCard()" class="ion-close-round addCustCloseIcon"></span>
            <create-product-price (formChanged)="formChangedHandler()" [product]="newProduct" [productList]="externalProducts" [isNewProduct]="isNewProduct"
                (onSaveProduct)="onSaveProduct($event)" (onUpdateProduct)="onUpdateProduct($event)" (closeNewProduct)="showNewProduct($event)"
                [action]='action' [mIOpen]="rightCardOpen" [formIsDirty]="formIsDirty">
            </create-product-price>

        </ba-card>

    </div>

</div>