<ba-card cardTitle="Set Generic Price" baCardClass="with-scroll" class="smart-table-container">
    <div class="row">
        <div class="col-md-10">
            <h4 style="padding-top: 8px;">Product Generic Price</h4>
        </div>
        <div class="col-md-2 text-alignment">
            <button class="btn btn-danger">Save</button>
        </div>
    </div>
    <br/>
    <div class="vertical-scroll">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Product</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of smartTableData">
                    <td>{{ item.customerNumber }}</td>
                    <td>{{ item.customerName }}</td>
                    <td>
                        <input type="text" class="form-control" id="price" placeholder="Price" style="padding: 5px; margin-top: 3px;">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ba-card>