<ba-card cardTitle="Set Generic Price" baCardClass="with-scroll" class="smart-table-container ">
    <div class="row">
        <div class="col-md-9">
            <h4 style="padding-top: 8px;">Product Generic Price</h4>
        </div>
        <div class="col-md-2">
            <button class="btn btn-danger pull-right" [routerLink]="['../']">Back</button>
        </div>
        <div class="col-md-1">
            <button (click)='setGenericPrice()' class="btn btn-danger pull-right">Save</button>
        </div>
    </div>
    <div class="row page-header">
        <div class="col-md-11">
        </div>
        <div class="col-md-1">
            <button class="btn btn-danger pull-right" (click)="addClicked()">Add New Product</button>
        </div>
    </div>
    <br/>
    <div class="vertical-scroll">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Product</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of externalProducts ; let index=index">
                    <td>{{ index+1 }}</td>
                    <td>{{ product.ProductName }}</td>
                    <td>
                        <input type="number" [(ngModel)]='product.ProductPrice' class="form-control" id="price" placeholder="Price" style="padding: 5px; margin-top: 3px;">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ba-card>