@import "../../../theme/sass/conf/conf";

.modal-buttons .btn {
  margin-right: 20px;
}

.modal-content {
  color: $dropdown-text;
}
.add-margin-right{
  margin-right: 20px;
}
.modal-body {
    padding: 6px 15px 15px 15px;
    overflow-y: auto;
    max-height: 50vh;    
}
button.close {
    background: 0;
    position: fixed;
    top: -1px;
    right: 2px;
    z-index: 99;
    outline: none;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}