<div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{modalHeader}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>    
    </div>
    <div class="modal-body">
      <div class="clearfix" *ngFor="let branch of modalContent; let i = index">
        <span>{{(i+1)}}) </span> {{branch}}
      </div>
    </div>
    <div class="modal-footer"></div>    
    
  </div>
  