@import "../../../../theme/sass/conf/conf.scss";

label {
  text-align: right;
  padding-right: 10px;
  font-weight: 500;
}

.row {
  padding: 5px 0;
}

.table > thead > tr > th:first-child {
    text-align: left;
}

.table > tbody > tr > td:first-child {
    text-align: left;
}

i {
    font-size: 25px;
    cursor: pointer;
}

::ng-deep date-picker td {
    padding-left: 0;
    padding-right: 0;
}

.table > tbody > tr > td {
    border: none;
    vertical-align: middle;
}

.buttonMargin {
  margin-left:10px;
}

.ionTrash {
  font-size: 20px;
}

.head-button-container {
  position: absolute;
  right: 15px;
  top: -56px;
}

