@import "../../../../theme/sass/conf/conf.scss";

label {
  text-align: right;
  padding-right: 10px;
  font-weight: 500;
}

.row {
  padding: 5px 0;
}

.table > thead > tr > th:first-child {
    text-align: left;
}

.form-control:focus {
  border-color: #cbcbcb;
}

.table > tbody > tr > td:first-child {
    text-align: left;
}

i {
    font-size: 25px;
    cursor: pointer;
}

:host /deep/ .table td{
    padding: 0 !important;
    border-top: none
}

.table > tbody > tr > td {
    border: none;
    vertical-align: middle;
}

.header-table > tbody > tr {
  margin-bottom: 5px;
}

.table > tbody > tr:first-child {
  margin-top: 10px;
}

.buttonMargin {
  margin-left:10px;
}

.ionTrash {
  font-size: 20px;
}

.head-button-container {
  position: absolute;
  right: 15px;
  top: -56px;
}

.request-item-table {
  .form-group {
    margin-bottom: 0;
    padding-right: 10px;
  }
}

